.biz-show-one {
	position: relative;
	/*border: 1px solid #e7e7e7;*/
	margin: 0 auto 40px;
	width: 1762px;
	/*height: 722px;*/
	background: #f6f6f6;
	overflow: hidden;
}
.bs-one-mark {
	position: absolute;
	top: 50px;
	left: 17px;
	z-index: 10;
	padding-left: 13px;
	border-left: 1px solid #dcdcdc;
	height: 623px;
}
.bs-one-mark-2 {
	border: 0;
	border-right: 1px solid #dcdcdc;
	padding-left: 0;
	padding-right: 13px;
	left: auto;
	right: 17px;
}
.bs-one-desc {
	display: table;
	position: absolute;
	left: 87.5%;
	top: 47%;
	transform: translate(-84.5%, -47%);
	width: 375px;
}
.biz-show-one-2 .bs-one-desc {
	left: 16.5%;
	transform: translate(-16.5%, -47%);
}
.bs-one-desc h3 {
	position: relative;
	margin-bottom: 60px;
	line-height: 42px;
	font-size: 28px;
	color: #333;
}

.bs-one-desc h3::after {
	content: '';
	position: absolute;
	left: 2px;
	bottom: -20px;
	width: 24px;
	height: 2px;
	background: #e93700;
}
.bs-one-desc article.desc {
	line-height: 22px;
	font-size: 14px;
	color: #9a9a9a;
}
.bs-one-desc a.bs-link {
	display: inline-block;
	padding: 9px 27px;
	border: 1px solid #e5e5e5;
	margin-top: 35px;
	font-size: 14px;
	color: #9a9a9a;
    transition: color .5s, border .65s;
}
.bs-one-desc a.bs-link:hover {
    color: #fff;
    border: 1px solid #e00012;
}


.letmove .bs-one-desc h3,
.letmove .bs-one-desc h3::after,
.letmove .bs-one-desc article.desc,
.letmove .bs-one-desc a.bs-link {
	transform: translateY(40px);
	transition: transform .8s .0s, opacity .8s .0s;
	opacity: 0;
}
.letmove .bs-one-desc h3::after {
	transition: transform .8s .1s, opacity .8s .1s;
}
.letmove .bs-one-desc article.desc {
	transition: transform .8s .1s, opacity .8s .1s;
}
.letmove .bs-one-desc a.bs-link {
	transition: transform .8s .2s, opacity .8s .2s;
}
.move .bs-one-desc h3,
.move .bs-one-desc h3::after,
.move .bs-one-desc article.desc,
.move .bs-one-desc a.bs-link {
	transform: translateY(0);
	opacity: 1;
}


/*.bs-one-img-cntr-2,
.bs-one-img-cntr-3 {
	position: relative;
	width: 1762px;
	height: 100%;
}*/
.bs-one-img-cntr-1 img,
.bs-one-img-cntr-2 img,
.bs-one-img-cntr-3 img {
	max-width: 100%;
	height: auto;
}
.letmove .bs-one-img-cntr img {
	opacity: 0;
	transition: opacity 1.6s;
}
.move .bs-one-img-cntr img {
	opacity: 1;
}
.bs-one-img-1-1 {
	position: absolute;
	left: -79px;
	top: 354px;
}
.bs-one-img-1-2 {
	position: absolute;
	left: -79px;
	top: 93px;
}
.bs-one-img-1-3 {
	position: absolute;
	left: 165px;
	top: 418px;
}
.bs-one-img-1-4 {
	position: absolute;
	left: 26px;
    top: -55px;
}
.bs-one-img-1-5 {
	position: absolute;
	left: 272px;
    top: 263px;
}
.bs-one-img-1-6 {
	position: absolute;
	left: 488px;
    top: 538px;
}
.bs-one-img-1-7 {
	position: absolute;
	left: 328px;
    top: 43px;
}
.bs-one-img-1-8 {
	position: absolute;
	left: 539px;
    top: 314px;
}
.bs-one-img-1-9 {
	position: absolute;
	left: 628px;
    top: 142px;
}
.bs-one-img-1-10 {
	position: absolute;
    right: -79px;
    top: 46px;
}
.bs-one-img-1-11 {
	position: absolute;
    right: -81px;
    top: 397px;
}
.bs-one-img-1-12 {
	position: absolute;
	right: -255px;
    top: -103px;
}

.bs-one-img-3 {
	position: absolute;
	top: 140px;
	left: 18%;
	transform: translateX(-18%);
	width: 835px;
	font-size: 0;
}
.bs-one-img-2-1,
.bs-one-img-2-2,
.bs-one-img-2-3,
.bs-one-img-3-1,
.bs-one-img-3-2 {
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.bs-one-img-3-2 {
	float: right;
}
.bs-one-img-2-1::after,
.bs-one-img-2-2::after,
.bs-one-img-2-3::after,
.bs-one-img-3-1::after,
.bs-one-img-3-2::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(15, 33, 60, .5);
}
.bs-one-img-2-1::after,
.bs-one-img-2-2::after,
.bs-one-img-2-3::after {
	background: rgba(15, 33, 60, .1);
}
.bs-one-img-2 {
	position: absolute;
	left: 792px;
	top: 119px;
}

.bizstep-list {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #1c1c1c;
	text-align: center;
	overflow: hidden;
}
.bizstep-list::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 1394px;
	height: 1px;
	background: #444;
}
.bizstep-list.letmove::before {
	width: 0;
	transition: 1.8s .3s;
}
.bizstep-list.move::before {
	width: 1394px;
}
.bstep-one {
	display: inline-block;
	padding-top: 80px;
	padding-bottom: 110px;
	margin-right: 88px;
	margin-right: 4.625%;
	margin-left: 88px;
	margin-left: 4.625%;
	width: 335px;
	text-align: left;
	vertical-align: top;
}
.bstep-one p.words {
	display: -webkit-box;
	margin-bottom: 30px;
	height: 78px;
	line-height: 26px;
	font-size: 12px;
	color: #6f6f6f;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical; 
	overflow: hidden;
}
.bstep-one-title {
	margin-bottom: 10px;
	font-size: 0;
}
.bstep-one-title h3,
.bstep-one-title .bstep-one-title-more {
	display: inline-block;
	vertical-align: top;
}
.bstep-one-title h3 {
	margin-right: 20px;
	font-size: 52px;
	font-family: gothic;
	color: #939393;
}
.bstep-one-title-more h4 {
	margin-top: 9px;
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 20px;
	color: #939393;
}
.bstep-one-title-more h5 {
	line-height: 12px;
	font-size: 12px;
	color: #fdfbfb;
	opacity: .25;
}
.bstep-one a.blogo {
	display: inline-block;
	position: relative;
	width: 24px;
	text-align: center;
}
.bstep-one a.blogo::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -27px;
	width: 24px;
	height: 2px;
	background: #e93700;
}

.letmove .bstep-one-title,
.letmove p.words,
.letmove a.blogo {
	transform: translateY(40px);
	transition: transform .8s .0s, opacity .8s .0s;
	opacity: 0;
}
.letmove p.words {
	transition: transform .8s .1s, opacity .8s .1s;
}
.letmove a.blogo {
	transition: transform .8s .2s, opacity .8s .2s;
}
.move .bstep-one-title,
.move p.words,
.move a.blogo {
	transform: translateY(0);
	opacity: 1;
}

.product {
	margin-bottom: 0;
}

@media (max-width: 1820px) {
	.biz-show-one {
		width: 90%;
	}
	/*.bs-one-img-cntr-1 {
		left: 80%;
		transform: translateX(-80%);
	}
	.bs-one-img-cntr-2 {
		left: 40%;
		transform: translateX(-40%);
	}
	.bs-one-img-cntr-3 {
		left: 65%;
		transform: translateX(-65%);
	}*/
}

@media (max-width: 1600px) {
	.bstep-one {
	    margin-right: 3%;
	    margin-left: 3%;
	}
	.bs-one-desc {
	    left: 86.5%;
	    transform: translate(-86.5%, -47%);
	}
	.biz-show-one-3 .bs-one-desc {
		left: 90%;
		transform: translate(-90%, -47%);
	}
}

@media (min-width: 1501px) {
	.bs-one-img-cntr-1 img.w1500 {
		display: none;
	}
}
@media (max-width: 1500px) {
	.bs-one-img-cntr-1 img.w1920 {
		display: none;
	}
	.bs-one-desc {
	    left: 85.5%;
	    transform: translate(-85.5%, -47%);
	}
}

@media (max-width: 1400px) {
	.bs-one-desc {
	    left: 87%;
	    transform: translate(-87%, -47%);
	}
	.biz-show-one-2 .bs-one-desc {
		left: 10%;
		transform: translate(-10%, -47%);
	}
	.biz-show-one-3 .bs-one-desc {
		left: 93%;
		transform: translate(-93%, -47%);
	}
	.bstep-one {
	    margin-right: 2%;
	    margin-left: 2%;
	}
}
@media (max-width: 1300px) {
	.bstep-one {
	    margin-right: 1%;
	    margin-left: 1%;
	}
	.biz-show-one-1 .bs-one-desc {
	    left: 88%;
	    transform: translate(-88%, -47%);
	}
}

@media (min-width: 1201px) {
	.bs-one-img-cntr-m {
		display: none;
	}
}

@media (max-width: 1200px) {
	.bizstep-list::before {
		display: none;
	}
	.biz-show-all {
		padding-bottom: 55px;
		border-bottom: 16px solid #e5e5e5;
		border-bottom: 0.213333rem solid #e5e5e5;
	}
	.bstep-one {
	    margin-right: 4%;
	    margin-left: 4%;
	}
	.biz-show-one {
		border: 0;
		width: 100%;
		height: auto;
		background: #fff;
	}
	.biz-show-one:last-child {
		margin-bottom: 0;
	}
	.bs-one-img-cntr {
		display: none;
	}
	.biz-show-one-1 .bs-one-desc,
	.biz-show-one-2 .bs-one-desc,
	.biz-show-one-3 .bs-one-desc {
		position: relative;
		left: auto;
		top: auto;
		transform: translate(0, 0);
		padding-top: 40px;
		padding-right: 15px;
		padding-left: 15px;
		width: auto;
	}
	.bs-one-img-cntr-m img {
		width: 100%;
		height: auto;
	}

	.demand_txt {
	    margin-top: 100px;
	}
}

@media (min-width: 992px) {
}

@media (max-width: 992px) {

	.bs-one-mark {
		display: none;
	}

	.bs-one-desc h3 {
	    margin-bottom: 45px;
	    line-height: 35px;
	    font-size: 22px;
	}
	.bs-one-desc a.bs-link {
		margin-top: 28px;
		padding: 9px 10px;
	}

	.bstep-one {
	    margin-right: 2%;
	    margin-left: 2%;
	}
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
	.demand_txt {
		margin-bottom: 70px;
		margin-bottom: 0.933333rem;
	}
	.product {
		margin-bottom: 45px;
	}

	.bizstep-list {
		padding: 0 15px 45px;
		padding: 0 15px 0.6rem;
		border-bottom: 16px solid #e5e5e5;
		border-bottom: 0.213333rem solid #e5e5e5;
		background: #fff;
	}
	.bizstep-list::before,
	.bstep-one a.blogo,
	.bstep-one-title-more h5 {
		display: none;
	}

	.bstep-one {
		display: block;
		padding: 0;
		padding-bottom: 40px;
		padding-bottom: 0.533333rem;
		border-bottom: 1px solid #d6d6d6;
		margin: 0;	
		margin-bottom: 42px;
		margin-bottom: 0.56rem;
		width: 100%;
	}
	.bstep-one:last-child {
		padding-bottom: 0;
		border-bottom: 0;
		margin-bottom: 0;
	}
	.bstep-one-title h3 {
	    margin-right: 10px;
	    line-height: 30px;
	    font-size: 30px;
	    font-family: gothicb;
	    color: #d51b32;
	}
	.bstep-one-title-more h4 {
		margin: 0;
		line-height: 28px;
		font-size: 28px;
		color: #d51b32;
	}
	.bstep-one-title {
		margin-bottom: 25px;
		margin-bottom: 0.333333rem;
	}
	.bstep-one p.words {
	    margin-bottom: 0;
		height: auto;
		line-height: 24px;
	}
	.bs-one-desc article.desc {
		/*font-size: 24px;*/
		/*font-size: 0.32rem;*/
	}
}

@media (max-width: 544px) {
	.bs-one-desc article.desc {
		font-size: 13px;
		/*font-size: 0.32rem;*/
	}
	.bstep-one-title h3 {
		margin-right: 10px;
		line-height: 48px;
		line-height: 0.64rem;
		font-size: 48px;
		font-size: 0.64rem;
		font-family: gothicb;
		color: #d51b32;
	}
	.bstep-one-title-more h4 {
		margin: 0;
		margin-top: 2px;
		line-height: 40px;
		line-height: 0.533333rem;
		font-size: 40px;
		font-size: 0.533333rem;
		color: #d51b32;
	}
}

@media (max-width: 395px) {
	.menu{padding-right: 2%;padding-left: 2%}
	.menu ul li{margin: 0 4px;}
}

@media (max-width: 350px) {
	.menu ul li{font-size: 11px}
}