@charset "utf-8";
#fullscreenSlideshowContainer .ui{position:absolute;font-family:sans-serif;z-index:10; font-size:2em;}
#fs-loader,#fs-prev,#fs-next,#fs-close{background-color:black;color:white;font-weight:bold;cursor:pointer;line-height:1em;}
#fs-close{top:1em;right:1em; }
#fs-prev,#fs-next{top:50%;margin-top:-1em; }
#fs-prev{left:1em;}
#fs-next{right:1em;}
#fs-loader{top:50%;left:50%;height:1em;margin-top:-1em;margin-left:-75px;display:none;}
#fs-caption{bottom:20px;text-align:center;width:100%;left:0;line-height:1em;display:none;}
#fs-caption span{background-color:white;}
#fs-loader,#fs-prev,#fs-next,#fs-close,#fs-caption span{ padding: 5px 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; font-family: "Microsoft YaHei"; }