/*search*/
.search-input{margin-left:10px;background:none;border:0;height:33px;line-height:33px;width:0px;-webkit-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
.search-input:-webkit-input-placeholder{font-size:14px;color:#dbdbdb;}    /* ä½¿ç”¨webkitå†…æ ¸çš„æµè§ˆå™¨ */
.search-input:-moz-placeholder{font-size:14px;color:#dbdbdb;}                  /* Firefoxç‰ˆæœ¬4-18 */
.search-input:-ms-input-placeholder{font-size:14px;color:#dbdbdb;}           /* IEæµè§ˆå™¨ */
.search-submit{width:40px;height:35px;background:url(../images/search-logo.png) no-repeat center;border:0;float:right;cursor:pointer;}
.search-warp{margin-left:20px;height:35px;width:52px;border:1px solid transparent;-webkit-border-radius: 6em;-moz-border-radius: 6em;border-radius: 6em;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.search-warp div{display: inline-block;}
.search-warp{width:240px;border:1px solid #d2d3d4;margin-left:5%;margin-top: 25px;}
.search-warp .search-input{margin-left:15px;width:183px;}

.search-title{
  text-align: center;
  font-size: 16px;
  color:#333;
  height: auto;
  padding:3% 0;
}
.news-all {
	padding-top: 44px;
	padding-bottom: 98px;
	border-top: 1px solid #d7d7d7;
}
.news-all-dtl {
	padding-top: 80px;
	border-top: 1px solid #d7d7d7;
	/*margin-bottom: 90px;*/
	border-bottom: 1px solid #d7d7d7;
}
.menu-news-dtl {
	background: #f3f3f3;
}

.news-ctrl {
	margin-top:3%;
	line-height: 24px;
}
.news-ctrl p a {
  color: #7a7a7a;
}
.news-ctrl p:hover {
  color: #000;
}
.news-ctrl p:hover a {
  color: #fe1111;
}
a.news-ctrl-l,
a.news-ctrl-r {
	display: inline-block;
	position: relative;
	margin-top: 20px;
    width: 46px;
    height: 46px;
    line-height: 44px;
    text-align: center;
}
a.news-ctrl-r {
	float: right;
}
a.news-ctrl-l::before,
a.news-ctrl-r::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 46px;
    height: 46px;
    background: #d9d9d9;
    border-radius: 50%;
    opacity: .7;
    transition: .45s;
}
a.news-ctrl-l:hover::before,
a.news-ctrl-r:hover::before {
	background: #d51b32;
}
a.news-ctrl-l span.words,
a.news-ctrl-r span.words {
	position: absolute;
	width: 80px;
	font-size: 14px;
    color: #515151;
    transition: .45s;
}
a.news-ctrl-l span.words {
	left: 110%;
}
a.news-ctrl-r span.words {
	right: 110%;
}
a.news-ctrl-l:hover span.words,
a.news-ctrl-r:hover span.words {
	color: #d51b32;
}

.news-list {
	margin-bottom: 34px;
	text-align: center;
	font-size: 0;
}
.news-one {
	position: relative;
	display: inline-block;
	margin-bottom: 26px;
	border: 1px solid #ececec;
	width: 1180px;
	height: 143px;
	font-size: 0;
	text-align: left;
	transition: .3s;
}
.news-one:hover {
	background: #f2f2f2;
}
.news-one-date,
.news-one-desc {
	display: inline-block;
	vertical-align: top;
}
.news-one-date {
	padding-top: 29px;
	padding-left: 42px;
	width: 146px;
	height: 100%;
	background: #f2f2f2;
}
.news-one-date p.day {
	margin-bottom: 5px;
	line-height: 56px;
	font-size: 56px;
	font-weight: bold;
	color: #e00012;
}
.news-one-date p.month,
.news-one-date p.year {
	margin-bottom: 5px;
	line-height: 16px;
	font-size: 16px;
	color: #979797;
}
.news-one-date p.month {

}

.news-one-words {
	margin-top: 32px;
	margin-left: 52px;
	width: 630px;
}
.news-one-desc h3 {
	margin-bottom: 16px;
	line-height: 20px;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap; 
	text-overflow: ellipsis;
	overflow: hidden; 
}
.news-one-desc h3 a {
	color: #666;
}
.news-one-desc p.words {
	display: -webkit-box; 
	line-height: 26px;
	font-size: 14px;
	color: #979797;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical; 
	overflow: hidden;
}
.news-one-desc a.link {
	position: absolute;
	right: 44px;
	top: 65px;
	font-size: 14px;
	color: #666;
}
.news-one-desc a.link img {
	margin-left: 18px;
	transition: .25s;
}
.news-one:hover .news-one-desc a.link img {
	transform: translateX(10px);
}


/* =============================================news-det.html========================================== */
.news-con {
  width: 60%;
  padding: 2.7% 0;
}

h2.news-title {
	margin-bottom: 85px;
	text-align: left;
	font-size: 32px;
	font-weight: bold;
	color: #333;
}
.news-belong {
	font-size: 0;
}
.belong-one {
	display: inline-block;
	margin-right: 80px;
	font-size: 14px;
	color: #747474;
	vertical-align: top;
}
.belong-one img {
	position: relative;
	top: -2px;
	margin-right: 8px;
}
.news-edit {
	padding-top: 50px;
	border-top: 1px dashed #a0a0a0;
	margin-top: 20px;
	font-size: 14px;
	line-height: 220%;
}
.news-edit img {
	max-width: 100%;
	height: auto;
}
.hotlist {
  padding-top: 9%;
}
.hotlist h4 {
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 2%;
  border-bottom: 1px solid #ababab;
}
.hotlist ul {
  padding-top: 2.5%;
}
.hotlist li {
  float: left;
  width: 47%;
  border-bottom: 1px dashed #ababab;
  position: relative;
}
.hotlist li:nth-child(2n) {
  margin-left: 6%;
}
.hotlist li:before {
  content: '';
  width: 2px;
  height: 2px;
  background: #767676;
  display: inline-block;
  float: left;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
}
.hotlist li:hover .news-tit {
  color: #fe1111;
}
.hotlist .news-tit {
  font-size: 14px;
  line-height: 40px;
  color: #333;
  float: left;
  width: 75%;
  padding-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.hotlist .time {
  font-size: 14px;
  line-height: 40px;
  color: #666666;
  float: right;
  display: inline-block;
  width: 25%;
  text-align: right;
}
.news-case {
  margin-top: 9.1%;
  width: 30%;
}
.news-case h4 {
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ababab;
  color: #333;
}
.news-case .hotlist-case dl {
  padding-top: 34px;
  padding-bottom: 18px;
}
.news-case .hotlist-case .case-name {
  font-size: 14px;
  line-height: 30px;
  color: #000;
  padding-top: 24px;
}
.news-case .hotlist-case .sort {
  font-size: 12px;
  color: #979797;
  line-height: 20px;
}
@media (max-width: 1680px) {
	h2.news-title{
		font-size: 28px;
		margin-bottom: 60px;
	}
	.news-edit{
		padding-top: 50px;
	}
}
@media (max-width: 1440px) {
	h2.news-title{
		font-size: 24px;
		margin-bottom: 45px;
	}
	.news-edit{
		padding-top: 40px;
	}
}
@media (max-width: 1200px) {
	.news-one {
		width: 100%;
	}
	.news-one-desc {
		width: calc(100% - 300px);
	}
	.news-one-desc a.link span.more {
		display: none;
	}
	.news-one-words {
		width: auto;
	}
	h2.news-title{
		font-weight: normal;
	}
	.belong-one{
		margin-right: 50px;
		&:last-child{
			margin-right: 0;
		}
	}
	.news-case .hotlist-case .case-name{
		padding-top: 15px;
	}
	.news-case .hotlist-case dl{
		padding-top: 25px;
		padding-bottom: 15px;
	}
	.hotlist h4,.news-case h4{
		font-size: 20px;
	}
	.hotlist .time {
	    font-size: 12px;
	}
	.hotlist .news-tit{
		font-size: 14px;
	}
	.hotlist .time{
		width: 68px;
	}
	.hotlist .news-tit{
		width: calc(100% - 75px);
		width: -webkit-calc(100% - 75px);
	}
}

@media (max-width: 1000px) {
	.news-dtl {
		width: 100%;
	}
	.news-con {
    width: 100%;
    padding: 5% 0 0;
    float: left;
  }
  .news-con .title {
    font-size: 22px;
    line-height: 40px;
  }
  .news-con .subhead {
    padding: 0px 0 2.5% 0;
  }
  .news-con .txt-tit {
    padding-top: 10px;
  }
  .news-case {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 100%;
    float: left;
  }
  .news-case .hotlist-case {
    margin-left: -1%;
    margin-right: -1%;
  }
  .news-case .hotlist-case dl {
    width: 31.3333%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
  }
  .hotlist {
    padding-top: 5%;
  }
  .hotlist li {
    width: 48%;
  }
  .hotlist li:nth-child(2n) {
    margin-left: 4%;
  }
  .full_section_inner {
    display: none;
  }
  .newsdet-ban .banner-txt {
    right: auto;
    transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
  }
  .newsdet-ban .img-ban {
    height: 300px;
  }
  .ban-intro p {
    width: 80%;
  }
}

@media (max-width: 992px) {
	.news-all {
		padding-top: 30px;
		/*padding-top: 0;*/
		padding-bottom: 40px;
	}
	.news-all-dtl {
		padding-top: 80px;
		padding-top: 1.066667rem;
		padding-bottom: 65px;
		padding-bottom: 0.866667rem;
		/*margin-bottom: 55px;*/
	}
	.news-list {
	    margin-bottom: 6px;
	}

	.news-one {
		margin-bottom: 25px;
		height: 94px;
	}
	.news-one-date {
	    padding-top: 12px;
	    padding-left: 16px;
	    width: 82px;
	}
	.news-one-date p.day {
		margin-bottom: 2px;
		line-height: 34px;
		font-size: 34px;
	}
	.news-one-date p.month, 
	.news-one-date p.year {
	    margin-bottom: 3px;
	    line-height: 13px;
	    font-size: 13px;
	}

	.news-one-desc {
	    width: calc(100% - 130px);
	}
	.news-one-desc a.link {
	    right: 15px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.news-one-words {
	    margin-top: 24px;
	    margin-left: 14px;
	}
	.news-one-desc h3 {
		margin-bottom: 8px;
		line-height: 16px;
		font-size: 16px;
		font-weight: normal;
	}
	.news-one-desc p.words {
	    -webkit-line-clamp: 1;
	}

	.news-one-desc a.link img {
		width: 20px;
	}
	.news-one:hover .news-one-desc a.link img {
	    transform: translateX(5px);
	}

	h2.news-title {
	    margin-bottom: 80px;
	    margin-bottom: 1.066667rem;
	}
	.belong-one {
		margin-right: 20px;
	}
	.news-edit {
	    padding-top: 65px;
	    padding-top: 0.866667rem;
	    margin-top: 15px;
	}
	.news-case .hotlist-case .case-name{
		padding-top: 10px;
		line-height: 24px;
	}
	h2.news-title{
		margin-bottom: 30px;
		font-size: 22px;
	}
	.news-all-dtl{
		padding-top:5%;
	}
	.news-edit{
		padding-top: 30px;
	}
}

@media (max-width: 768px) {
	h2.news-title {
		font-size: 36px;
		font-size: 0.48rem;
	}

	.news-ctrl {
		height: 88px;
		height: 1.173333rem;
	}
	a.news-ctrl-l, 
	a.news-ctrl-r {
	    margin-top: 20px;
	    width: 46px;
	    width: 0.613333rem;
	    height: 46px;
	    height: 0.613333rem;
	    line-height: 0;
	    margin-top: 0.266667rem;
	}
	a.news-ctrl-l img, 
	a.news-ctrl-r img {
		position: relative;
		top: 15px;
		top: 0.2rem;
		width: 10px;
		width: 0.133333rem;
	}
	a.news-ctrl-l::before,
	a.news-ctrl-r::before {
	    width: 46px;
	    width: 0.613333rem;
	    height: 46px;
	    height: 0.613333rem;
	}
	a.news-ctrl-l span.words, 
	a.news-ctrl-r span.words {
	    line-height: 44px;
	    line-height: 0.586667rem;
	}
	.hotlist li{
		width: 100%;
	}
	.hotlist li:nth-child(2n){
		margin:0;
	}
	.hotlist h4,.news-case h4{
		font-size: 18px;
	}
}

@media (max-width: 544px) {
	.news-one-desc {
	    width: calc(100% - 94px);
	}
	.news-one-desc a.link {
		display: none;
	}


	.belong-one {
		font-size: 12px;
	}
	.belong-one {
		margin-right: 13px;
	}
}