@font-face {
  font-family: "iconfont"; /* Project id 3898707 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-24gl-tags:before {
  content: "\e87c";
}

.icon-liulan:before {
  content: "\e6b4";
}

