@media screen and (max-width: 1600px) {
.qrcode img{ width:55%;}
.xnavls li a{padding:0 18px; }

.banner .zi b{font-size: 70px}
.dtit{padding:2% 0}
.dtit span,.dtit h1{font-size: 32px}


.jianshe .zi h3{font-size: 150px}
.jianshe .zi b{font-size: 45px;line-height: 1.3}
.jianshe .zi span{font-size: 28px}
.jianshe .zi{padding: 3%}

.contact-t{font-size: 26px}
.contact2 li{padding: 2% 0}
.contact2 li i>img{width: 85px;}


.yw-history li h3{font-size: 72px; }
.yw-history li p{ font-size:18px; line-height: 30px;}

.guandian li h3{ font-size:20px; margin:15px 0;}
.guandian li p{ font-size:14px;}


.sol-list li p{ font-size:12px; line-height:20px; height:60px; padding:0 5%; }

}

@media screen and (max-width: 1440px) {
.xnavls li a{padding:0 15px; }

.banner .zi b{font-size: 60px;letter-spacing: 0}
.banner .zi{top: 22%}
.banner .shu{bottom: 10%}


.anlicon-t{font-size: 28px}

.anli li p b{font-size: 18px}

.jianshe .zi b{font-size: 35px; margin-top: -15px}
.jianshe .zi h3{font-size: 130px}
.jianshe .zi span{font-size: 24px}

.dtit span,.dtit h1{font-size: 26px}

.contact2 li i>img{width: 70px}


.listtag li{  padding:15px 30px;  }

.listtag li h3{ font-size: 16px; }
.listtag li p{  font-size: 14px; }
.listtag li .lics{ font-size: 14px; }
.listtag li .lics .parameter{ margin-right:21px; }
.listtag li .lics span{ font-size: 14px; }

.tagleft li a{ font-size: 14px; }

.tagtle{ background:#4584e0; padding:10px 12px;  }
.tagtle span{ font-size:16px;  }

.picturelist{ overflow:hidden; padding:10px 15px; }
.picturelist li .pictitle{ font-size: 13px; }


.yl-FwCondd ul li p{ font-size:12px;  }


.new_cooperate_list li { padding:15px 20px; border-radius:8px; height: 130px; }
.new_cooperate_list li h3 { margin-bottom: 10px; font-size: 20px; }
.new_cooperate_list li h3 img {  width: 40px; height: 40px; }  

.plann_principles ul li{padding:0 2%; }
.plann_principles ul li h3{font-size:18px;}
.plann_principles ul li .p1{ margin:20px 0;}
}

@media screen and (max-width: 1280px) {
.xnav{ height:70px;  }	
.xnav .xlogo {height: 40px;width: auto; margin-top:15px;}
.xnav .xlogo img{ height:40px;  }
.xnavls li{ font-size:14px; line-height:70px; }
.xtel{ height:70px; line-height:70px; font-size:18px; }

.banner{ height:390px; }
.banner .bantxt .tit{ margin-top:150px; }
.banner .bantxt h3{ margin-top:150px; }
.banner .bantxt h1{ margin-top:150px; }

.service-bottom .service-list .service-item .service-icon a{ width:85px; height:85px; }
.service-bottom .service-list .service-item h3{ margin:15px 0 10px 0; }

.yl-FwCon { height:350px; }
.yl-FwCondt{ font-size:18px; }
.yl-FwCondd ul li div{ margin-top:15px;}
.yl-FwCondd ul li h3{ font-size:14px; margin-top:5px; }
.yl-FwCondd ul li p{margin:5px 5px 0 5px; }
.yl-FwCondd ul li{ height:49%; }
.yl-FwCondt p{ font-size:18px;  }

.yl-FwCondd ul div.h5{ height:2%;  }
.yl-Wid02 .yl-FwCondd ul{ margin-left:1.33%; width:32%; }
.yl-Wid02 .yl-FwCondd ul li{ height:49%;  }

.anli li .zi a{ padding:10px; font-size:14px;}

.jianshe .zi b { font-size:30px;}
.jianshe .zi h3{ font-size:100px; }
.jianshe .zi .zitxt{ font-size:13px; line-height:1.7; margin-top:10px; }

.yl-bdbx li{ height:200px; }
.yl-bdbx li i{  margin-top:40px;  }

.youhuanew li .zi{ width: 84%; }

.page-stitle{ font-size:16px;  }
.page-desc{ font-size:12px; line-height: 24px;  }

.li-left img{ width: 54px; display: block; }
.f-li-left{ width: 230px; }

.li-right img{ width: 54px; display: block; }
.f-li-right{ width: 230px; }
.floor4-r-p{ padding-right:10px;  }
.floor4-l-p{ padding-left:10px;  }

.dibu1-2, .dibu1-3, .dibu1-4 { margin-left:60px;  }

.tagleft{ width:15%;  }
.tagcenter{ width:83%; margin:0 0 0 2%;  }
.tagcenter{ width:100%; margin:0;  }

.listtag li p{ font-size:12px;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.listtag li .lics{ font-size:12px; line-height:22px; }
.listtag li .lics .parameter{ margin-right:18px; }
.listtag li .lics span{ font-size:12px; }

.tagright{ width: 100%; margin-top:15px; }
.picturelist li{ width:50%; }

.sol-list li{ width:31.33%;  }

.anlicon .container{ width:100%;  }
.youhuanew  .container{ width:100%;  }

.yw-history li h3{ font-size:60px;  }
.yw-history li p{ font-size:16px; line-height:25px;   }

.guandian li img{ width:80px;  }

.sol-list li .solution-img{ width:60px; height:60px;}
.tagleft{ display:none;}


.new_cooperate_list li { padding:10px 15px; border-radius:5px; height: 120px; }
.new_cooperate_list li h3 { margin-bottom: 5px; font-size: 18px; }
.new_cooperate_list li h3 img {  width: 34px; height: 34px; }  

}

@media screen and (max-width: 1024px){
.dibu1-2, .dibu1-3{ display: none; }

.newstxt{ width:100%; }
.txtrig{ width:100%; position: static; padding:20px; }
.txtnav li{ width:50%;  }
.logoc img{ width:200px; margin:0 auto;  }

.dtit{ padding:2% 20px; }
.dtit p{ font-size: 13px; }
.service-bottom .service-list .service-item h3 a{ font-size:18px; }
.service-bottom .service-list .service-item p { font-size:12px; }

.yl-FwCon{ height:auto; }
.yl-Wid01{ width:100%; }
.yl-FwCondt{ width:100%; height:auto; }
.yl-FwCondt p{ width:100%; padding:0; }
.yl-FwCondd{ width:100%; margin-top:2%;  }
.yl-FwCondd ul{ height:auto; }
.yl-FwCondd ul li{ width:49%; float:left; }
.yl-FwCondd ul div.h5 { width:2%; height:1px;  float:left; }
.yl-FwCondd ul li p{  height:40px; line-height:20px; margin:5px; }
.yl-Wid02{ width:100%; margin:0; height:auto; margin-top:2%;}
.yl-Wid02 .yl-FwCondt{ width:100%; }
.yl-Wid02 .yl-FwCondd{ width:100%; }
.yl-Wid02 .yl-FwCondd ul { width:100%; margin:0; } 
.yl-Wid02 .yl-FwCondd ul li {width:49%; margin-bottom:2%; }

.yl-Wid03{ width:100%; height:auto;  }

.floor4-middle{  display:none;  }
.floor4-left{ width:50%; }
.floor4-right{ width:50%; }

.yl-bdbx li{ margin-right:2%; width:32%; margin-bottom:2%;   }

.yl-bdbx li:nth-child(3n){ margin-right:0;  }


.new_cooperate_list li { padding:5px 10px; height: 110px; }
.new_cooperate_list li h3 {font-size: 16px; }
.new_cooperate_list li h3 img {  width: 28px; height: 28px; }  
.new_cooperate_list li p{ font-size:12px; line-height: 18px;}
}

@media screen and (max-width: 767px) {
.banner{ height:240px; background-position:60% center !important; background-size:auto 100% !important;  }

.container{ width:100%; padding:0 20px; }
.banner .bantxt{ display:none;}
.banner .bantxt .tit{ margin-top:90px; font-size:24px; }
.banner .bantxt h3{ margin-top:90px; font-size:24px; }
.banner .bantxt h1{ margin-top:90px; font-size:24px; }
.banner .bantxt p{ font-size:14px;}
.banner .bantxt span{ font-size:12px; height: 30px; margin-top:20px; padding:0 15px; line-height: 28px;}
.xnav{ height:60px; }
.xnav .xlogo{ height:32px; margin-top:14px;  }
.xnav .xlogo img{ height:32px;}
.xtel{ height: 60px; line-height: 60px; display:none; }



.nav-toggle{ display: block; }
.xnavls{width:100%; display: none; border-top:1px solid #ffffff; background:rgba(50,52,54,0.8); position:fixed; top:60px; left:0; }
.xnavls li{ width:100%; margin:0; text-align:left;}
.xnavls li>a{line-height:50px; padding:0 20px; font-size:16px; display:block;  }
.xnavls li:hover>a{border-bottom:1px solid #ffffff;}

.service-bottom .service-list .service-item{ width:50%; margin:10px 0;  }
.service-bottom .service-list .service-item:nth-child(4){ display:none;}
.service-bottom .service-list .service-item .service-icon a{ width:60px; height:60px;   }

.dtit{ padding:3% 20px;}

.jianshe li > img{ width:100%; }
.jianshe .zi { width:100%; position:static; } 
.jianshe .zi b{ font-size:20px;  }
.jianshe .zi h3{ font-size:60px;  }


.container-md{ margin-bottom:3%;}
.li-left{ width:100%; float:left; margin:0;position:relative;  margin-bottom:10px;  }
.page-stitle{ font-size:14px; line-height:24px;   }
.page-desc{ line-height:20px;  }
.floor4-left { width:50%;}
.floor4-right{ width:50%; }
.xnavls{ float:left;  }

.floor4-l-p { margin:0 auto 10px auto; float:none; padding:0;  }
.floor4-l-p img{ margin:0 auto;}

.f-li-left{ float:right; width:100%; text-align: center; }

.floor4-r-p { margin:0 auto 10px auto; float:none; padding:0;}
.floor4-r-p img{ margin:0 auto;}

.f-li-right{ width:100%;  }

.li-right{width:100%; float:left; margin:0;position:relative; margin-bottom:10px;  }
.f-li-right{ text-align: center; }

.dibu{ padding:20px 0;}
.dibuzong h3{ font-size:16px; margin-bottom:10px;}


.dibu1-1{ float:left; width:70%;}
.dibu1-1 p{ font-size:12px; line-height:1.8;}

.dibu1-4{ float:right; width:25%; margin-left:0;}
.dibu1-4 img{ width:100%;}

.t-footer{ margin-bottom:52px;}	
.t-footer .copy{ line-height:1.8; font-size:12px;}
.t-footer .copy span{ margin:0 5px;}

.right_fixed { width:100%;top: auto;bottom: 0;transform: translateY(0); background:#201f29;}
.right_fixed ul {display: flex;flex-direction: row;align-items: center;position: relative;}
.right_fixed li{ width:20%;}
.right_fixed li.fixed04 {opacity: 1 !important;}
.mf-popCode{ right:-25%; bottom:52px; width:150%; margin-right:0;}


.message{ height:100%; top:0; left:0;  width:100%; margin:0; }


.tagleft{ display:none; }
.tagcenter{ width:100%; margin:0;}
.listtag li{ padding:10px 15px; }
.picturelist li{ width:100%; }

.listtag li h3{ font-size:14px;  }

.anli li{ width:49%; margin:0 0 2% 0; padding:0; }
.anli li:nth-child(2n){ margin-left:2%; }

.sol-list li{ width:48%; padding:10px; }
.sol-list li p{ height:auto;}
.youhuanew li{ width:100%;  }
.newslist li .time .d{ font-size:32px;  }
.newslist li .zi span{ font-size:14px; margin-bottom: 5px;  }
.newslist li .zi p{ font-size:12px;  }

.pagebj .num{ display:none;  }

.anlicon .container{ padding:0; }
.txt-t h1{ font-size:20px; }
.txt-t p{ font-size:14px;}
.txt{ font-size:14px;  }

.anlipage{ padding:5px 0; margin:3% 0; width:100%; }
.anlipage span.a1{ border:none;}
.anlipage span{ width:100%; padding:5px 10px;  }

.youhuanew .container{ padding:0; }


.caseshow .container{ padding:0; }

.ctleft h2,.ctright h2{ font-size:20px; height: 40px; line-height: 40px; margin-bottom:10px;   }

.ctleft{ width:100%; height:auto; padding:15px; }
.ctleft a{ margin-top:0;  }
.ctright{ width: 100%; height:auto; padding:0 15px 15px 15px; border:none; }
.ctright ul{ width:100%; }
.ctright ul li{ width:50%; float:left; }

.dtit span,.dtit h1{ font-size:24px;  }

.yw-history{ width:100%;}
.yw-history li h3{ font-size:42px;  }
.yw-history li:nth-child(1){ width:36%;  }
.yw-history li:nth-child(2){ width:32%;  }
.yw-history li:nth-child(3){ width:32%;  }
.guandian li h3{ font-size:18px; margin:10px 0;}
.yw-history li p{ font-size:12px; line-height:20px; }

.guandian li{ width:48%; margin:1%; padding:20px 10px;  }
.guandian li img{ width:60px; height:60px;}
.guandian li p{ font-size:12px;}


.contact-t{ font-size:14px;  }
.contact2{margin:0; }

.contact2 li{ width:100%; padding:10px 0; margin-bottom:10px; }

.contact2 li i{ width:50px; float:left; margin:0 15px;  }
.contact2 li i > img{ width:100%;  }

.contact2 li p{ height:50px; line-height:20px; font-size:14px; padding:5px 20px 5px 0!important; margin-top:0; text-align:left;   }

.yl-bdbx li{ margin-right:2%!important; width:49%; height:160px;  }
.yl-bdbx li i{ margin-top:30px;}
.yl-bdbx li .fon16{ margin-top:10px;}
.yl-bdbx li:nth-child(2n){ margin-right:0!important;  }
.yl-bdbx li:nth-child(4n){ margin-right:0!important;  }
.yl-bdbx li:nth-child(6n){ margin-right:0!important;  }
#mapall{ height:260px!important;}

.listtag li{ width:100%;}
.listtag li .tagimg{ width:35%; display:none;}
.listtag li .tagtxt{ width:100%;}
.listtag li h3{ font-size:15px; line-height:1.6;}
.listtag li p{ display:block; font-size:13px;     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;}
.listtag li .lics{ margin-top:8px;}
.listtag li .lics .fr{ display:none;}

.wapnone{ display:none;}
.newsshow .container{ padding:0; }

.txtrig{ display:none;}
.page{ margin:3% auto;}


.homenews{ }
.in_news-zxdt{ padding-bottom:10px;}
.in_news{width: 100%;}
.in_news.fl{ margin-bottom:20px;}


.new_cooperate_list li { width:49%; margin-right:2%; }
.new_cooperate_list li:nth-child(2n) { margin-right: 0;}

.new_cooperate_list li h3 {font-size: 16px; }
.new_cooperate_list li h3 img {  width: 20px; height: 20px; }  


.plann_principles ul li{ width:100%; margin-bottom:15px; }
.plann_principles ul li .p1{ min-height: auto;}

.search{ padding:0 0 15px 0; margin:0 auto; width:100%;}
.search .input{ width:80%; }
.search .btn{ width:20%; }


.keysList{ padding:10px; }


}


@media screen and (max-width: 480px) {
}