@charset "utf-8";
/* CSS Document */

*{margin: 0;padding: 0;border: 0;outline: none;
box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
-ms-box-sizing: border-box; -moz-box-sizing: border-box;}
html {width: 100%; font-weight: normal;
	-webkit-text-size-adjust:none; -ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;}
body{font-size: 14px;line-height: 1.6;background-color:#fff;font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;}
ul,ul li,ol,li {list-style: none outside none;}
h1,h2,h3,h4,h5,h6,i{font-weight: normal; font-style: normal;}
img {vertical-align: middle;border: none;}
input,select,option,label,th{vertical-align: middle;border: none}
a {text-decoration: none;color: inherit;}
a:hover {text-decoration: none;  }
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {zoom: 1;display: block;_height: 1px;clear: both;}
.fl {float: left;}
.fr {float: right;}
.container{display: block;width:86%; max-width: 1600px;  margin:0 auto; }
 
 body{ max-width:1920px; margin:0 auto; margin:0 auto;}


.homenav .xnav{-webkit-transition: 0.3s linear;-o-transition: 0.3s linear;transition: 0.3s linear;}
.wbj .xnav li:hover,.wbj .xnav li.on { background:none;}
.wbj .xnav{ background:none;}

.xnav{ position:fixed; height:80px;background:rgba(50,52,54,0.8); width: 100%; z-index: 999; max-width:1920px; }
.xnav .container{ overflow: hidden; position:relative; }
.xnav .xlogo{ float:left;  height:48px; width:185px; margin-top:16px;}
.xnav .xlogo img{ height: 48px; display: block; }
.xnav .xlogo{ float: left; }

.xnavls{ float:right;  }
.xnavls li{ font-size: 16px; display: inline-block; color: #ffffff; line-height: 80px; text-align: center; }
.xnavls li a{padding:0 25px; display: inline-block;}
.xnavls li.on,.xnavls li:hover{background:rgba(1,102,206,0.8); }
.xtel{ width: 185px; float:right; padding-left:35px; margin-left:35px; height: 80px; line-height: 80px;  font-size: 20px; color: #fff; background: url(../images/tel-bg.png) no-repeat 0 center;}


.banner{ height:462px;}
.banner .swiper-slide{height:462px;}
.banner .bantxt{ float:left; text-align:left; }
.banner .bantxt .tit{ font-size:40px; color:#ffffff; margin-top:200px;}
.banner .bantxt h1{ font-size:40px; color:#ffffff; margin-top:200px;}
.banner .bantxt p{font-size:18px; color:#ffffff; margin-top:5px; }
.banner .bantxt span{ border:1px solid #fff; text-align:center;cursor: pointer;margin-top: 30px;font-size: 16px;float: left; padding:0 20px; height: 36px; line-height:34px;background: transparent;color: #fff;transition: color .3s ease-in-out,background .3s ease-in-out;}
.banner .bantxt span:hover{ color:#666; background:#fff;}


.dtit{padding:3% 0; text-align: center;}
.dtit span,.dtit h1{font-size: 40px; color: #161616; display: block;}
.dtit p{font-size: 16px; color: #888888}

.dtit3 span{color: #e62022; }


.dtit2 p{ margin-top:10px;}

.service-bottom{ overflow:hidden; margin:0 auto 2% auto;}
.service-bottom .service-list .service-item { width: 20%; float: left; text-align: center;}
.service-bottom .service-list .service-item:hover .service-icon a { background: url("../images/service01-h.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item:hover .service-icon-an a { background: url("../images/service02-h.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item:hover .service-icon-wx a { background: url("../images/service03-h.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item:hover .service-icon-ht a { background: url("../images/service04-h.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item:hover .service-icon-web a { background: url("../images/service05-h.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item:hover h3 a { color: #0166ce;}
.service-bottom .service-list .service-item .service-icon { text-align: center;}
.service-bottom .service-list .service-item .service-icon a { display: inline-block; height: 100px; width: 100px; margin: 0 auto; background: url("../images/service01.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item .service-icon-an a {  background: url("../images/service02.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item .service-icon-wx a { background: url("../images/service03.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item .service-icon-ht a { background: url("../images/service04.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item .service-icon-web a { background: url("../images/service05.png") no-repeat center; background-size:cover;}
.service-bottom .service-list .service-item h3 { margin: 25px 0 15px;}
.service-bottom .service-list .service-item h3 a { color: #3f3f3f; font-size: 20px; font-weight: 600;}
.service-bottom .service-list .service-item p { color: #888888; font-size: 14px; line-height: 18px; padding: 0 10px;}

.mt10{ margin-top: 14px;}

.yl-FwCon { color: #fff; text-align: center; overflow:hidden; margin:0 auto 3% auto; width:100%; height:370px; }
.yl-FwCondt{width:15%;height: 100%;background: #00a0e9;font-size: 20px;font-weight: bold;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;float: left;cursor: pointer;}
.yl-FwCondt p{width: 22px;line-height: 40px;margin: 0 auto;padding-top: 140px;}

.yl-FwCondd{float: right; width:81%;height:100%;}
.yl-FwCondd ul{float: left; width: 100%; height:100%; overflow:hidden;}
.yl-FwCondd ul li{width: 100%; float:left; height: 48%;padding: 1px; background: #00a0e9;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;cursor: pointer;}
.yl-FwCondd ul li div{width: 28px;height: 28px;background: #fff;color:#00a0e9;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;line-height: 28px;margin:20px auto 0;font-size:16px;}
.yl-FwCondd ul li h3{font-size: 16px;font-weight: bold;margin-top: 12px;}
.yl-FwCondd ul li p{margin:10px 10px 0 10px;}
.yl-FwCondd ul div.h5{ height:4%; float:left; width: 100%;  }

.yl-Wid01{ width:20%; height:100%;}
.yl-Wid01 .yl-FwCondd ul li.mt10 div{margin-top:20px;}

.yl-FwConMK{float: left;}
.yl-Wid02{ width:58%; margin:0 1%; height:100%;}
.yl-Wid02 .yl-FwCondt{width:5%;}

.yl-Wid02 .yl-FwCondt{background: #00a0e9;}
.yl-Wid02 .yl-FwCondd { width:95%}
.yl-Wid02 .yl-FwCondd ul{margin-left:2%; width:31.33%; }
.yl-Wid02 .yl-FwCondd ul li{width: 100%;height: 48%;  background: #00a0e9; float:left; }
.yl-Wid02 .yl-FwCondd ul li div{color:#00a0e9;}

.yl-Wid03{ width:20%; height:100%; }
.yl-Wid03 .yl-FwCondt{background: #00a0e9;}
.yl-Wid03 .yl-FwCondd ul{margin-right: 0;}
.yl-Wid03 .yl-FwCondd ul li{background: #00a0e9;}
.yl-Wid03 .yl-FwCondd ul li p{}
.yl-Wid03 .yl-FwCondd ul li div{color:#00a0e9;}


.yl-Wid01 .yl-FwCondt:hover{background: #00a0e9;}
.yl-Wid01 .yl-FwCondd ul li:hover{background: #00a0e9;}
.yl-Wid02 .yl-FwCondt:hover{background: #00a0e9;}
.yl-Wid02 .yl-FwCondd ul li:hover{background: #00a0e9;}
.yl-Wid03 .yl-FwCondt:hover{background:#00a0e9;}
.yl-Wid03 .yl-FwCondd ul li:hover{background:#00a0e9;}


.huibg{width: 100%; background: #eaeaea; overflow:hidden; }

.anlicon-t{width: 100%; text-align: center; padding: 3%;font-size: 32px; color: #2e2e2e;}
.anlicon-t span:after{content: ""; display: block; margin:5px auto; width: 50px; height: 2px;background: #9a9a9a;}


.anli{width: 100%; overflow: hidden; padding:0 10px; }
.anli li{width: 25%; padding: 0 10px;margin-bottom: 20px;  float: left; overflow: hidden;}
.anli li.w25{ width: 25%; }
.anlimp li{padding:0; margin:0;}
.anli li a{display: block; }
.anli li .img{width: 100%; overflow: hidden; position:relative; }
.anli li .img img{width: 100%;}
.anli li .img .txts{ position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); top:100%; left:0; color: #ffffff; -webkit-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;}
.anli li .img .txts a{ display: block;height: 100%; overflow: hidden; text-align: center;}

.anli li .img .txts span{color: #fff; line-height:2.5;display: inline-block;width: 62px;margin:26% 12px 0 12px;font-size: 16px;}
.anli li .img .txts span i {width: 48px; height: 48px; display: block;margin: 0 auto;border-radius:50%; -webkit-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;}
.anli li .img .txts span i.bgs1 {background: url(../images/i_pic1.png) center top no-repeat;}
.anli li .img .txts span i.bgs2 {background: url(../images/i_pic2.png) center top no-repeat;}
.anli li .img .txts span i.bgs3 {background: url(../images/i_pic3.png) center top no-repeat;}
.anli li:hover .img .txts{ top: 0;  }
.anli li .img .txts span i:hover{ background-color:#0166ce;transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
.anli li .zi{position: relative; overflow: hidden;background: #fff;  width: 100%; text-align: center;}
.anli li .zi a{color: #000; padding:16px 16px; display:block;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.anli li p{font-size: 18px;color: #161616; position: relative; z-index: 1;-webkit-transition:all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;}

.anli li .zi:after{ position: absolute; left: 0; bottom:100px; content: ""; width: 100%; height: 100px; background:#0166ce;; display: block; -webkit-transition:all 0.4s;-o-transition:all 0.4s;transition: all 0.4s;}
.anli li:hover .zi:after{bottom:0px;}
.anli li:hover .zi p{ color: #ffffff; }

.anli li .more{font-size: 14px;color: #161616; font-style:italic; background: url(../images/anli-morebg.png) no-repeat right center; padding-right: 25px; margin-top: 15px;}
/*.anli li:hover .img img{-webkit-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);transform: scale(1.1);-moz-transform: scale(1.1);}
*/
.anli li:hover .more{transform:translateX(-10px); -webkit-transform:translateX(-10px);-o-transform:translateX(-10px); -ms-transform:translateX(-10px); -moz-transform:translateX(-10px);}


.youhuamore{background: #0166ce; border-radius: 20px; font-size: 14px; color: #fff; padding: 9px 80px; display: inline-block; margin:3% auto}
.youhuamore:hover{box-shadow: 0px 0px 10px #5d5d5d}



.jianshe{width: 100%; display: table; margin: 0 auto; padding: 4% 0; overflow: hidden;}
.jianshe li{width: 100%; float: left; position: relative;}
.jianshe li>img{width: 50%}
.jianshe .zi{width: 50%;color: #fff; padding: 4%; position: absolute; top: 0; right: 0}
.jianshe .zi2{left: 0}
.jianshe .zi h3{line-height: 0.4; font-size: 200px; opacity: 0.1; filter: alpha(opacity=10);
text-align: right; font-weight: bold; letter-spacing: -8px; font-family:Arial;}
.jianshe .zi b{line-height: 1.1; font-size: 55px; display: block;}
.jianshe .zi span{ font-size: 34px; display: block;}
.jianshe .zi .zitxt{line-height: 2; font-size:16px; margin-top:20px;}
.jianshe .zi .cha{display: inline-block; font-size: 16px;padding:5px 35px;
 border-radius: 20px; border: 1px solid #fff; margin-top: 6%;position: relative;}
.jianshe .zi .cha>i{background:url(../images/jiejue-jianh.png) no-repeat; 
width: 0; height: 16px; display: inline-block; position: absolute; top: 9px; left: 100%}
.jianshe .zi .cha:hover{padding-left: 20px; padding-right: 70px }
.jianshe .zi .cha:hover>i{width: 28px; left: 70% }

.jianshe .bj1{background: #efb230;}
.jianshe .bj2{background: #00a0e9;}
.jianshe .bj3{background: #10af5d;}
.jianshe .bj4{background: #ff5732;}
.jianshe .bj5{background: #4d2e83;}
.jianshe .bj6{background: #00a1c2;}




.yl-bdbx{ overflow:hidden; margin:0 auto;  width:100%;}
.yl-bdbx li{width: 15%; margin-right:2%; height: 250px;background: #31A3F0;float: left;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;text-align: center;color: #fff;-webkit-box-shadow: 0px 0px 3px #CCCCCC;-moz-box-shadow: 0px 0px 3px #CCCCCC;-ms-box-shadow: 0px 0px 3px #CCCCCC;-o-box-shadow: 0px 0px 3px #CCCCCC;box-shadow: 0px 0px 3px #CCCCCC;}
.yl-bdbx li:nth-child(6n){margin-right: 0;}
.yl-bdbx li i{display: inline-block;width: 66px;height: 66px;background: url(../images/ico5.png) no-repeat;  margin-top: 50px;}
.yl-bdbx li .fon16{width: 130px;margin: 29px auto 0;}
.yl-bdbx li.yl-bj01{background: #31A3F0;}
.yl-bdbx li.yl-bj02{background: #7374EB;}
.yl-bdbx li.yl-bj03{background: #FF4058;}
.yl-bdbx li.yl-bj04{background: #F5A01C;}
.yl-bdbx li.yl-bj05{background: #00B4A1;}
.yl-bdbx li.yl-bj06{background: #3270D0; margin-right:0;}
.yl-bdbx li.yl-bj01 i{background-position: 0 0;}
.yl-bdbx li.yl-bj02 i{background-position: -66px 0;}
.yl-bdbx li.yl-bj03 i{background-position: -132px 0;}
.yl-bdbx li.yl-bj04 i{background-position: -198px 0;}
.yl-bdbx li.yl-bj05 i{background-position: -264px 0;}
.yl-bdbx li.yl-bj06 i{background-position: -330px 0;}



.newslist{width: 63%; overflow:hidden;}
.newslist li{width:49.7%; background:#ffffff; overflow:hidden; padding:4.3% 3%;
margin: 1px; float: left;}
.newslist li .time{color:#555555; text-align: center; margin-top: 10px}
.newslist li .time .d{ font-size:40px; display:block; line-height: 1}
.newslist li .time .y{ display:block; }
.newslist li .zi{ width:79%; }
.newslist li .zi span{ color:#484848; font-size:16px; margin-bottom: 10px; display: block;
height: 25px; overflow: hidden;} 
.newslist li .zi span i{ display: inline-block; width: 0px; height: 1px; background: #0166ce; vertical-align: middle; }
.newslist li:hover .zi span i{ width: 15px;margin-right: 5px;}
.newslist li:hover .zi span{color: #0166ce }

.newslist li .zi p{ color:#818181; height:40px; overflow: hidden; line-height:20px; }
.newslist li:hover{box-shadow: 0 0 40px #c3c3c3;}

.youhuanew {width: 100%}
.youhuanew li{ padding:2%;width: 48%; margin: 0 1% 2% 1%;background:#fff;}
.youhuanew li .time{}
.youhuanew li .zi{width: 85%}



.f8bj{ background:#F8F8F8; overflow:hidden; margin-top:3%;}
.container-md{  margin:0 auto; overflow:hidden; padding-bottom:3%;}
.floor4-left{width:33.3%;float:left;}
.floor4-right{width:33.3%;float:left;}
.li-left{text-align:right;float:right;margin:30px;padding:0px;border:none;list-style:none;width:300px}
.li-right{text-align:left;float:left;margin:30px;padding:0px;border:none;list-style:none;width:300px}
.f-li-left{float:left; width:210px;}
.f-li-right{float:right; width:210px;}
.floor4-r-p{padding-right:20px;float:left}
.floor4-l-p{padding-left:20px;float:right}

.floor4-middle{width:33.3%;float:left; }
.floor4-middle img { width: 100%;height: auto;}
.page-stitle{font-size: 18px; color: #333333;}
.page-desc{color: #888888;font-size: 14px;font-weight: 400; line-height: 28px;}



/*右侧浮动条*/
.right_fixed {position: fixed;top: 50%;right: 0;transform: translateY(-50%);z-index: 2222;}
.right_fixed li {width: 52px;height: 52px;background-color: #444444;transition: all 0.36s;display: flex;flex-direction: row;justify-content: center;align-items: center;cursor: pointer;position: relative;z-index: 10;}
.right_fixed li.fixed04 {opacity: 0;}
.right_fixed li .img_box {width: 100%;color:#fff;height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;position: relative;z-index: 10;}
.right_fixed li:hover .img_box {background: #e50012;}
.right_fixed li .img_box img{height: auto;width: 24px;display: block;position: relative;z-index: 2;}
.right_fixed li.active .img_box {opacity: 0;}
.mf-popCode,.mf-popTel {width: 158px;background-color: rgba(0, 0, 0, 0.6);padding: 10px;position: absolute;right: 100%;bottom: 0;margin-right: 20px;text-align: center;color: #fff;display: none;font-size: 14px;}
.mf-popTel {padding: 10px 10px 10px; font-size:18px;}
.mf-popCode p,.mf-popTel p {color: #fff;}
.mf-popCode .img{padding:5px;background:#fff;}
.mf-popCode img {width: 100%; display:block;}
.fixed03:hover .mf-popCode {display: block;}
.fixed01:hover .mf-popTel {display: block; }
/*右侧浮动条*/


/*底部*/
.dibu{overflow:hidden; width: 100%; background: #212121; padding:20px 0;}
.dibuzong {width: 95%;max-width: 1200px;margin:0 auto;font-size: 14px; overflow:hidden;}
.dibuzong h3 { font-weight:normal; width: 100%; margin-bottom: 20px; font-size: 18px; color: #ccc;}

.dibu1-1{float: left;  width: 300px;}
.dibu1-1 p{color: #909090; font-size:14px; line-height:2.2;}

.dibu1-2 {width: 100px;float: left;margin-left: 80px;}
.dibu1-2 a{ display: block; line-height:2.2; color: #909090;}

.dibu1-3 {width: 230px; margin-left: 80px;  float: left;}
.dibu1-3 span{ display: block; line-height:2.2; color: #909090;}

.dibu1-4 { width: 110px;  margin-left: 80px; float: left;}
.dibu1-4 img{ width:110px; display:block;}

.t-footer{ background: #181818;}
.t-footer .copy{border-bottom: 1px solid #333333; padding: 10px 0; text-align:center; color:#898989; line-height:2;}
.t-footer .copy span{ margin:0 10px;}
.t-footer .copy a:hover{ color:#ffffff;}

.t-footer .dbkeys{ padding:10px 0;}
.t-footer .dbkeys li{ margin:0 10px; line-height:2;}
.t-footer .dbkeys a {font-size: 12px;color: #444448;}
.t-footer .dbkeys a:hover{ color:#ffffff; }

.links a{ margin:0 10px 0 0;}
/*底部*/


.weizhi{ overflow:hidden;padding:7px 3%; background:#f6f6f6;}
.weizhi p{ float:left; line-height:40px;}
.weizhi p a:hover{ text-decoration: underline; color: #0166ce}
.weizhi .wp{ float:left; line-height:40px;}
.weizhi .wp a:hover{ text-decoration: underline; color: #0166ce}
.weizhi span{ margin:0 5px;}



.tagmain{ background: #f6f6f6;  }
.tagmain .container{ overflow: hidden; }
.baibj{ background:#ffffff;}
.tagleft{ width:9%;}

.tagleft{ overflow: hidden; padding:20px 0; }
.tagleft li{ float: left; width: 100%; margin-bottom:3px; }
.tagleft li a{ display: block; text-align: center; color: #757575; line-height:2.5; font-size: 16px; }
.tagleft li.cur a,.tagleft li a:hover{ background: #4584e0; color: #fff; }

.tagcenter{ width:68%; margin:0 1%; }
.tagcenter2{ width:78%; margin:0 1% 0 0; }

.tagts{ background:#4584e0; padding:10px 0; text-align: center; color: #ffffff; line-height: 1.5; font-size: 14px; }

.listtag{ overflow: hidden; }


.listtag{ overflow: hidden; }
.listtag li{ float: left; padding:20px 40px; border-bottom: 1px solid #dcdcdc; width:100%; }
.listtag li .tagimg{ width:24%; float:left; }
.listtag li .tagimg img{ width: 100%; display: block; }
.listtag li .tagtxt{ width: 74%; float:right; }
.listtag li h3{ font-size: 18px; color: #2a2935; padding-bottom:8px; }
.listtag li p{ color: #8f8f8f; font-size: 15px; }
.listtag li .lics{ overflow: hidden; font-size: 15px; line-height: 27px; margin-top: 10px; color: #8f8f8f; }
/* .listtag li .lics .fl i{ width: 27px; height:27px; border:1px solid #dcdcdc; float: left; overflow: hidden; border-radius:50%; display:none; }
.listtag li .lics .fl i img{width: 25px; height:25px; display: block;}
.listtag li .lics span{color: #8f8f8f;  margin:0 5px; }
.listtag li .lics span i{ margin-left:5px; color: #4584e0;  } */
.listtag li .lics span{ font-size:16px; }
.listtag li .lics .parameter{ float: left; margin-right:24px; }

.listtag li a:hover{ color: #4584e0; }

.page{ overflow:hidden;position:relative; text-align:center; margin:3% auto 5% auto;}
.pagebj{ text-align:center; padding:7px 25px; background:#f5f5f5; display:inline-block;border-radius:30px; }
.pagebj span,.pagebj a{ color:#666; display:inline-block; *display:inline; 
	height:33px; width:33px; line-height:33px; text-align:center; margin:0 5px;border-radius:50%;}
.pagebj span,.pagebj a:hover{ background:#0166ce; color:#ffffff;}


.tagright{ width: 21%;  }
.tagkuai{ margin-bottom:15px; }
.tagtle{ background:#4584e0; padding:13px 15px;  }
.tagtle span{ display:block; line-height:20px; height:20px; border-left:2px solid #ffffff; padding-left:8px;  color:#ffffff; font-size: 18px; }

.tagright2{ width:21%;}

.picturelist{ overflow:hidden; padding:15px 22px; }
.picturelist li{ float:left; width:100%; overflow:hidden;  margin:0 0 7px 0; padding-bottom:7px;  border-bottom:1px dashed #dcdcdc;}
.picturelist li .picture{ width:80px; height:50px; display: none; }
.picturelist li .picture a{ display:block;padding-right:10px;}
.picturelist li .picture img{ display:block;width:70px; height:50px;}
.picturelist li .pictitle{ padding:5px 0; line-height:20px; font-size:14px; position:relative; padding-left:10px; }
.picturelist li .pictitle:after{ content:""; width:3px; height:3px; background:#0166ce; left:0; top:50%; margin-top:-2px; position:absolute;}
.picturelist li .pictitle a{display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;}
.picturelist li .pictitle:hover{color: #4584e0; }

.anlicon {background: #fff; position: relative;z-index: 2; overflow: hidden; padding:3% 0; }
.anlicon img{max-width: 100%;}


.txt-t{ overflow:hidden; border-bottom: 1px solid #dcdcdc; line-height:2; padding-bottom:1%; margin:0 3% 3% 3%; text-align: center; }
.txt-t h1{ font-size:28px; }
.txt-t p{ font-size: 16px; }


.taglist{ overflow:hidden; margin:3% 3% 0 3%; font-size: 14px; color: #666666; }
.taglist span{ color: #0166ce; }
.taglist a{ margin-right:10px; }
.taglist a:hover{ text-decoration:underline; color: #0166ce; }


.txt{font-size: 16px; color: #2e2e2e; ;padding:0 3% 0 3%; overflow: hidden;}
.txt img{ max-width: 100%; height:auto!important;}
.txt a{ color:#0166ce; }
.txt a:hover{ text-decoration:underline; }

.zxjl{ width:520px; overflow: hidden; margin:30px auto 0 auto; border-top:1px solid #dcdcdc; }
.zximg{ float:left; width:130px; }
.zximg img{ width:130px; display:block; }
.zxtxt{ float:right; width:380px;}
.zxtxt h3{height: 30px;line-height: 30px;font-weight: normal;font-size: 16px; margin:30px 0 5px 0;}
.zxtxt p{ line-height:24px;overflow: hidden;  font-size: 14px;  color: #999;}


.newstxt{ width:78%; float:left;}
.newstxt .txt img{ width:650px!important; height:auto!important; display:block; margin:20px auto;}
.txtrig{ width:20%; margin-right:2%; float:left; position:relative;}
.txtnav{ overflow:hidden;}
.txtnav li{ float:left; width:100%; background:#f6f6f6; height:43px; line-height:43px; text-align:center; margin-bottom:2px; font-size:16px; }
.txtnav li a{ display:block;}
.txtnav li.on,.txtnav li:hover{ background:#0166ce;}
.txtnav li.on a,.txtnav li:hover a{ color:#ffffff;}
.txtsm{ font-size:14px; line-height:1.6; color:#333333; background:#f6f6f6; padding:12px 18px;text-align: justify;}
.txtsm a:hover{color:#0166ce;}
.logoc{margin:10px 0;background:#f6f6f6;}
.logoc img{ width:100%; display: block;}

.anlipage{width: 94%; overflow: hidden; color: #828282; border: 1px solid #eeeeee;
border-left: none; border-right: none; margin: 3% auto 0 auto; text-align: left}
.anlipage span{padding:10px 20px; line-height: 1.5; width: 50%;}
.anlipage span.a1{border-right: 1px solid #eeeeee}
.anlipage span:hover{text-decoration: underline; color: #0166ce}


.casetop{ overflow:hidden; margin:0 3% 3% 3%; background:#f6f6f6;}
.ctleft{ background:#f6f6f6;color:#333333; padding:20px 30px 30px 30px;}
.ctleft h2{height:60px;line-height: 60px;font-size: 26px;margin-bottom: 28px;}
.ctleft h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #333333;
}
.ctleft p{ line-height:25px; font-size:14px;  overflow:hidden; }
.ctleft a{ display:block; width:120px; height:40px; line-height:40px; text-align:center; font-size:14px; color:#ffffff; background:#141414; margin-top:25px;}
.ctleft a:hover{background:#0166ce;}
.ctright{ float:right; width:50%; background:#f6f6f6;color:#333333;padding:20px 30px 30px 30px; height:303px; border-left: 1px dashed #cccccc; overflow:hidden;}
.ctright h2{height:60px;line-height: 60px;font-size: 26px;margin-bottom: 28px;}
.ctright h2:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #333333;
}

.ctright ul{ line-height:30px; width:50%; float:left;}
.ctright a:hover{ text-decoration: underline; }




.contact-t{width: 100%; font-size: 30px; color: #262626; text-align: center; padding: 3% 0;}

.contact2{width: 100%; overflow:hidden;display: table; padding-bottom:5%}
.contact2 li{ float:left; width:29.33%; margin:0 2%; text-align:center;color: #fff;padding: 4% 0;}
.contact2 li i{ margin:0 auto;display: block;}
.contact2 li p{font-size:16px; line-height:30px; margin-top: 25px}
.contact2 li:hover i img{transform: scale(0.85);-webkit-transform: scale(0.85);-o-transform: scale(0.85); -ms-transform: scale(0.85); -moz-transform: scale(0.85);}


.yw-history{ width:80%; margin:0 auto; overflow: hidden;}
.yw-history li{ float:left; width:33.33%; text-align:center;}
.yw-history li h3{font-size: 86px; color: #0166ce; font-weight: bold; font-family: Arial;}
.yw-history li p{ font-size: 20px; color: #585858; line-height: 36px;}

.guandian{ overflow:hidden;}
.guandian li{ float:left; width:23%; margin:0 1%; text-align:center; padding:30px; background:#ffffff;}
.guandian li img{ width:100px; display:block; margin:0 auto;}
.guandian li h3{ font-size:24px; margin:20px 0;}
.guandian li p{ font-size:16px;}



.sol-list{ overflow: hidden; }
.sol-list li{ float:left; width: 23%;  text-align: center; margin:0 1% 2% 1%; background:#ffffff; padding:20px;}
.sol-list li .solution-img{display: block;border: 1px solid #85898c;border-radius: 50%;width: 100px;height: 100px;background: #fff;background-position: 0px 0px;cursor: pointer; margin:0 auto;}
.sol-list li .scheme{ font-size: 18px; color:#333333; font-weight: bold; display: block; margin-top:10px;  }
.sol-list li .scheme:after{ content: ""; display: block; width: 35px; height: 1px; background: #c2c2c2; margin:5px auto;  }
.sol-list li p{ font-size:14px; line-height:25px; height:75px; color:#666666; padding:0 10%; }

.sol-list li .solution-img1 {background:url(../images/solution1.png) no-repeat; background-size:cover;}
.sol-list li .solution-img2 {background:url(../images/solution2.png) no-repeat; background-size:cover;}
.sol-list li .solution-img3 {background:url(../images/solution3.png) no-repeat; background-size:cover;}
.sol-list li .solution-img4 {background:url(../images/solution4.png) no-repeat; background-size:cover;}
.sol-list li .solution-img5 {background:url(../images/solution5.png) no-repeat; background-size:cover;}
.sol-list li .solution-img6 {background:url(../images/solution6.png) no-repeat; background-size:cover;}
.sol-list li .solution-img7 {background:url(../images/solution7.png) no-repeat; background-size:cover;}
.sol-list li .solution-img8 {background:url(../images/solution8.png) no-repeat; background-size:cover;}
.sol-list li .solution-img9 {background:url(../images/solution9.png) no-repeat; background-size:cover;}
.sol-list li .solution-img10 {background:url(../images/solution10.png) no-repeat; background-size:cover;}
.sol-list li .solution-img11 {background:url(../images/solution11.png) no-repeat; background-size:cover;}
.sol-list li .solution-img12 {background:url(../images/solution12.png) no-repeat; background-size:cover;}
.sol-list li .solution-img:hover {
    border-color: #58aff3;
	background-position: 0 -100px;
	background-color: #58aff3;
	transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}



.on_message{ opacity: pointer; }
.messagebj{position: fixed;width: 100%;height: 100%;top: 0;left: 0;bottom: 0;right: 0;z-index: 10000;background-color: #333;background-color: rgba(0,0,0,0.8); display: none;}


.message{position: fixed; height:440px;  top:50%; left:50%; display: block;width:600px;margin:-220px 0 0 -300px;background-color: #fff; display: none; z-index: 10001;  }
.messagebody{ overflow:hidden; }
.messagebody{ overflow:hidden;}
.mclos{ position:absolute; right:20px; top: 20px; cursor: pointer;}
.mclos img{ display: block; }
.messagebody .melist{ padding:20px;}
.messagebody .melist h3{ font-size:24px; color: #333; text-align: center; padding:10px 0 20px 0; }
.messagebody .melist .k{height: 40px; line-height: 40px; border: 1px solid #eeeeee;
padding: 0 10px; margin-bottom: 10px;width: 100%;font-family:'Microsoft YaHei'}
.messagebody .melist .hk{height: 90px; line-height: 26px;font-size:14px; }
.messagebody .melist .ti{margin: 0 auto; display: table;}
.messagebody .melist .b{background:#ccc;font-size: 18px; color: #fff; width:140px; height:38px;
line-height:38px; text-align: center;border-radius:20px;font-family:'Microsoft YaHei';
cursor: pointer; margin-top: 20px;}
.messagebody .melist .b2{background:#0166ce;}
.messagebody .melist .b2:hover{background:#E50012;}
.messagebody .melist .b:hover{background:#0166ce;}

.messagebody .inputs{height:40px; line-height:40px;padding:0 10px; margin-bottom:10px;}
.messagebody .inputs label{ margin-left:10px;}



.nav-toggle{display: none;margin-top: 16px;background: none;border: none;outline: none;cursor: pointer; }
.nav-toggle span{display: block;width: 20px;height: 1px;margin: 6px;background-color: #fff;-webkit-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;transition: 0.3s ease-in-out;}
.nav-toggle.close .span1{-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);transform-origin: 0% 0%;}
.nav-toggle.close .span2{opacity: 0;}
.nav-toggle.close .span3{-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);transform-origin: 0% 100% ;}







/*首页新闻*/
.width_b {margin: 0px 9%;width: 82%;}
.homenews{ overflow:hidden;}
.in_news{width: 47%;}

.in_news-zxdt dt a {width: 100%; overflow: hidden;display: block;}
.in_news-zxdt dt a img {width: 100%;transition: all 0.6s;}
.in_news-zxdt dd span {display: block;line-height: 30px;font-size: 18px;color: #707070;padding: 0px 0px 10px 0px;}
.in_news-zxdt dd h3 a { font-weight:normal;display: block;font-size: 18px;line-height: 28px;color: #000;height: 28px;overflow: hidden;text-overflow: ellipsis;}
.in_news-zxdt dd h3 a:hover {text-decoration: underline;}
.in_news-zxdt dd h4 {font-weight:normal;font-size: 14px;color: #898989;line-height: 30px;margin: 10px 0px;font-weight: normal;display: -webkit-box;display: box;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.in_news-zxdt dd h5 a {font-weight:normal;display: block;font-size: 14px;color: #E50012;}
.in_news-zxdt dd h5 a:hover {text-decoration: underline;}
.in_news-zxdt {padding-bottom: 20px;border-bottom: 1px solid #a0a0a0;}
.in_news-b {width: 110%;margin-left: -10%;margin-top: 20px;}
.in_news-b li {width: 40%;margin-left: 10%;float: left;position: relative;}
.in_news-b li:before {content: '';position: absolute;top: 16px;width: 5px;height: 5px;border-radius: 50%;background-color: #a0a0a0;}
.in_news-b li a {display: block;padding-left: 15px;line-height: 36px;font-size: 15px;color: #a0a0a0;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.in_news-b li a:hover {color: #666;}

/*首页新闻*/


.new_cooperate_list { margin-bottom: 3%;}
.new_cooperate_list li { padding: 20px 30px; border:1px solid #dcdcdc; border-radius:10px; width: 23.85%; height: 150px; margin-right: 1.5%; margin-bottom: 1.5%; background-size: cover !important;  display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: center; -ms-flex-pack: center;  justify-content: center;  -webkit-box-orient: vertical;  -webkit-box-direction: normal;  -ms-flex-direction: column;  flex-direction: column;}
.new_cooperate_list li:nth-child(4n) { margin-right: 0;}
.new_cooperate_list li h3 { margin-bottom: 15px; font-size: 24px; color: #333; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
.new_cooperate_list li h3 img { margin-right: 5px; width: 45px; height: 45px; -o-object-fit: contain; object-fit: contain; }  
.new_cooperate_list li p { font-size: 14px; color: #666;line-height: 20px; }




.plann_principles{background:url(../images/cehua_banner.png) no-repeat center;background-size:cover;margin-top:3%; padding-bottom:3%;}
.plann_principles .dtit span{ color:#44c6ff;}
.plann_principles .dtit span:after{ content:""; width:44px;height:2px;display:block; margin:1% auto; background:#44c6ff;}
.plann_principles .dtit p{ color:#ffffff;}

.plann_principles ul{overflow:hidden;text-align:center;}
.plann_principles ul li{padding:0 4.5%; width:33.33%; float: left;}
.plann_principles ul li h3{font-size:22px;color:#44c6ff;position:relative;padding-bottom:20px;}
.plann_principles ul li h3:after{content:"";width:44px;height:2px;display:inline-block;background:#44c6ff;position:absolute;margin:0 auto;left:0;right:0;bottom:0;}
.plann_principles ul li .p1{font-size:14px;color:#fff;line-height:26px;min-height:52px;margin:30px 0;}
.plann_principles ul li .p2{font-size:14px;color:#44c6ff;line-height:30px;border:1px solid #3b80e5;}




.search{ padding:20px; background:#f5f5f5; overflow: hidden; width:540px; margin:30px auto;}
.search .input{ width:400px; height:40px; background:#ffffff; color:#666666; float: left; padding:0 10px;}
.search .btn{ width:100px; height:40px; background:#4584e0; color:#ffffff; float: left;}
.keysList{ padding:15px; overflow: hidden;}
.keysList a{ font-size:14px; float: left; margin:5px; padding:5px 10px; background:#f5f5f5;}
.keysList a:hover{ background:#4584e0; color:#ffffff;}


.contact2 li img,.youhuamore,.youhuanew li,.newslist li .zi span i,.listtag li h3 a,.tagleft li a,.picturelist li .pictitle,.page a,.weizhi a,.txtnav li a,.anlipage a{transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out; -o-transition:all .3s ease-in-out;
-ms-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out;}



/*.anli li .img img{
-webkit-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
-ms-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;}

.anli li:hover .img img{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);}*/