{include file=head.html}

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/swiper.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/about.css">
{include file=top.html}






	<div class="banner">
		<!-- <img src="images/banner-about.jpg" class="img-responsive"/> -->
        <picture style="display: none">
            <source srcset="images/banner-about-m.jpg" media="(max-width: 650px)">
            <img class="img-responsive" srcset="" alt="">
        </picture>
        <video src="/video/propaganda1.mp4" autoplay loop></video>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">3H平台，<span class="br-m">让我们的努力惊喜每一位访客</span></div>
				<div class="banner_txt2">无论您是拥有大量粉丝或追随者的社交媒体名人，还是拥有广泛人脉的社区领袖，3H互助平台都将帮助您实现您的梦想，同时让您更好地将人脉和流量转化为收入。在3H互助平台是上，您可以通过接受推广合作来赚取佣金或费用；通过参与广告策划或品牌合作来赚取收入；或者通过推广自己的产品或服务来获得更多的销售机会和利润。3H互助平台还为全球会员提供了方便易用的生活服务，工具和资源，例如网上购物，城市服务，公益活动......</div>
			</div>
		</div>
	</div>

	<div class="fix-nav-btm">
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-1.png" alt=""></div>
			<div class="fnb-one-desc">QQ联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-2.png" alt=""></div>
			<div class="fnb-one-desc">微信联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-3.png" alt=""></div>
			<div class="fnb-one-desc">手机联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
	</div>
	<!-- ========================= 内容开始 ======================== -->
	<article>
		<div class="about-desc letmove">
			<h2> 当下，人脉和流量的价值愈发凸显，从而催生了越来越多以人脉以及流量的变现为主要目的的平台。<span class="br-pc">3H互助平台是（卡多根家族-查尔斯）自主研发的一个平台，</span></h2>
			<p class="desc">专注于人脉和流量变现的平台，致力于为全球解决负债及实现财务自由。<span class="br-pc">提供最好的服务和资源，让您的人脉和流量变得更具价值！</span><span class="br-pc">在数字化时代，具有社交网络和广告营销技巧的人才和组织处于非常有利的位置。</span><span class="br-pc">加入3H互助平台，发掘您的人脉和流量潜力，创造更多的商业机会，获得更多的收入和成就。选择3H互助平台，我们热切期待为您服务！</span></p>
		</div>
		<div class="about-idea letmove">
			<div class="about-idea-t">
				<!-- <img src="images/about-idea-t.jpg" alt=""> -->
	            <picture>
	                <source srcset="images/about-idea-t-m.jpg" media="(max-width: 48em)">
	                <img srcset="images/about-idea-t.jpg" alt="">
	            </picture>
			</div>
			<div class="about-idea-b"><div class="about-idea-b-in">
				<div class="idea-title">
					<h2>DESIGN IDEA</h2>
					<h4>设计理念</h4>
				</div>
				<div class="idea-one">
					<div class="idea-one-img"><img src="images/idea-one-img-1.jpg" alt=""></div>
					<div class="idea-one-desc">
						<h3>只有不断变化，才是永恒的不变</h3>
						<p class="desc">创意不是什么玄乎的事情。创意就是在传统的基础上加入新的改变；在别人想到的事情上想得更远一点；在别人做到的事情上做的更好一些；在别人创造的价值上创造更多价值。</p>
					</div>
				</div>
				<div class="idea-one">
					<div class="idea-one-img"><img src="images/idea-one-img-2.jpg" alt=""></div>
					<div class="idea-one-desc">
						<h3>策略是看得更远的思想</h3>
						<p class="desc">如果您让我们做一个互联网产品或者是平台，我们所想的是：有没有比网站效果更好的建议？除了网站还可以做什么？在网站之后应该做什么？我们将提出行之有效的可执行的解决方案。</p>
					</div>
				</div>
				<div class="idea-one">
					<div class="idea-one-img"><img src="images/idea-one-img-3.jpg" alt=""></div>
					<div class="idea-one-desc">
						<h3>有思想的团队，创造更多“出彩”！</h3>
						<p class="desc">我们是一群视觉协会的好“色”之徒；一群不走寻常路的“判逆”份子；一群时刻准备让您出“彩”，让自已出“格”的天马行空的人。我们相信创意创造更多不同！</p>
					</div>
				</div>
			</div></div>
		</div>
<!--		<div class="about-good">-->
<!--			<div class="about-title letmove">-->
<!--				<h2>用心成就美好</h2>-->
<!--				<h4>用不同的眼光看世界，均会发现不同的精彩</h4>-->
<!--			</div>-->
<!--			<div class="about-good-list">-->
<!--				<div class="good-one letmove">-->
<!--					<div class="good-one-img"><img src="images/about-good-1.png" alt=""></div>-->
<!--					<div class="good-one-desc">-->
<!--						<h3>沟通无压力</h3>-->
<!--						<p class="desc">沟通是面对面的相互学习的过程，三人行必有我师焉，抱着虚心的态度去沟通，会让工作更加顺畅且有效</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="good-one letmove">-->
<!--					<div class="good-one-img"><img src="images/about-good-2.png" alt=""></div>-->
<!--					<div class="good-one-desc">-->
<!--						<h3>变的更有趣</h3>-->
<!--						<p class="desc">死板的内容不是我们的想要的，任何在人们看起来不可理喻的事物，我们总会找到他有趣的一面</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="good-one letmove">-->
<!--					<div class="good-one-img"><img src="images/about-good-3.png" alt=""></div>-->
<!--					<div class="good-one-desc">-->
<!--						<h3>实操大于理论</h3>-->
<!--						<p class="desc">不要将一些不明所以的内容挂在嘴上，最终能够拿出来的内容才是最能够说服人的</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="good-one letmove">-->
<!--					<div class="good-one-img"><img src="images/about-good-4.png" alt=""></div>-->
<!--					<div class="good-one-desc">-->
<!--						<h3>更乐于分享</h3>-->
<!--						<p class="desc">作为分享倡导者，怎样更完美的将分享机制运营到工作和生活中，分享可以让更多人获得你的快乐</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="good-one letmove">-->
<!--					<div class="good-one-img"><img src="images/about-good-5.png" alt=""></div>-->
<!--					<div class="good-one-desc">-->
<!--						<h3>专业的客服</h3>-->
<!--						<p class="desc">深度了解需求，优化沟通流程，减少沟通时间，提升沟通效率；精细研究品牌受众进行策略定制</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="good-one letmove">-->
<!--					<div class="good-one-img"><img src="images/about-good-6.png" alt=""></div>-->
<!--					<div class="good-one-desc">-->
<!--						<h3>重视高效沟通</h3>-->
<!--						<p class="desc">我们需要关心他们的一举一动，留意他们的话题以及关心的事物，并适时的参与到他们的讨论中</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="good-one letmove">-->
<!--					<div class="good-one-img"><img src="images/about-good-7.png" alt=""></div>-->
<!--					<div class="good-one-desc">-->
<!--						<h3>什么是互动</h3>-->
<!--						<p class="desc">让企业与消费者之间“动”起来。创造一切消费者感兴趣的互动点，让消费者与企业尽可能的保持联系</p>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="good-one letmove">-->
<!--					<div class="good-one-img"><img src="images/about-good-8.png" alt=""></div>-->
<!--					<div class="good-one-desc">-->
<!--						<h3>有趣的数据</h3>-->
<!--						<p class="desc">数据可以为我们带来最为精准的策略指引，那么我们如何使用以及分析数据，并从中获得商业机会呢？</p>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
		<div class="about-client letmove">
			<!-- <img class="about-client-bg" src="images/about-client-bg.jpg" alt=""> -->
            <picture>
                <source srcset="images/about-client-bg-m.jpg" media="(max-width: 48em)">
                <img class="about-client-bg" srcset="images/about-client-bg.jpg" alt="">
            </picture>
			<div class="about-title letmove">
				<h2>客户群体分布</h2>
				<h4>为客户创造价值、传递价值是我们的最终使命</h4>
			</div>
			<div class="about-client-line">
				<img src="images/about-client-line-bg.png" alt="" class="about-client-line-bg about-client-line-bg-ef">
				<img src="images/about-client-line-bg.png" style="opacity: 0" alt="" class="about-client-line-bg">
				<div class="ac-line-one ac-line-one-1">
					<h3><i class="counter" data-to="5" data-speed="1500">0</i><span>%</span></h3>
					<h4>政府事业</h4>
					<p class="desc">Government</p>
					<i class="redline"><img src="images/about-client-line-1.png" alt=""></i>
				</div>
				<div class="ac-line-one ac-line-one-2">
					<h3><i class="counter" id="count-number" data-to="30" data-speed="1000">0</i><span>%</span></h3>
					<h4>企业集团</h4>
					<p class="desc">Listed Company</p>
					<i class="redline"><img src="images/about-client-line-2.png" alt=""></i>
				</div>
				<div class="ac-line-one ac-line-one-3">
					<h3><i class="counter" id="count-number" data-to="20" data-speed="1500">0</i><span>%</span></h3>
					<h4>知名品牌</h4>
					<p class="desc">Brand</p>
					<i class="redline"><img src="images/about-client-line-3.png" alt=""></i>
				</div>
				<div class="ac-line-one ac-line-one-4">
					<h3><i class="counter" id="count-number" data-to="35" data-speed="1500">0</i><span>%</span></h3>
					<h4>大型企业</h4>
					<p class="desc">Group Company</p>
					<i class="redline"><img src="images/about-client-line-4.png" alt=""></i>
				</div>
				<div class="ac-line-one ac-line-one-5">
					<h3><i class="counter" id="count-number" data-to="10" data-speed="1500">0</i><span>%</span></h3>
					<h4>中小企业</h4>
					<p class="desc">Small Business</p>
					<i class="redline"><img src="images/about-client-line-5.png" alt=""></i>
				</div>
			</div>
		</div>
		<div class="about-partner letmove">
			<div class="partner-title">
				<div class="partner-in">
					<h2>合作伙伴<span>Cooperative partner</span></h2>
				</div>
			</div>
			<div class="partner-show">
				<div class="partner-in">
					<div class="imgs-list-all">
	                    <div class="swiper-container imgs-list imgs-list-pc">
	                        <div class="swiper-wrapper imgs-list-in">



							<div class="swiper-slide imgs-one"><div class="imgs-one-in"><div class="imgs-one-in-list">
									   {pboot:list scode=20 num=20}<div class="imgs-one-in-one">
		                                <div class="imgs-one-img"><a href="javascript:;">
		                                    <img class="swiper-lazy" data-src="[list:ico]" alt="">
		                                </a></div>
		                            </div>{/pboot:list}
							</div></div></div>





	                        </div>
	                        <!-- Add Pagination -->
	                    </div>
					    <div class="swiper-pagination"></div>
	                </div>
				</div>
			</div>
		</div>
		<div class="about-partner-m">
			<div class="about-title letmove">
				<h2>合作伙伴</h2>
				<h4>众多客户信赖和选择，见证实力</h4>
			</div>
			<div class="partner-list-m">
										  {pboot:list scode=20 num=20}
											<div class="list-one"><img src="[list:ico]" alt=""></div>
								{/pboot:list}</div>
		</div>
	</article>
	<!-- ========================= 内容结束 ======================== -->


{include file=foot.html}
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.lazyload.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="js/wow.js"></script>
	<script src="js/main.js"></script>
	<script src="js/pace.js"></script>
	<script src="js/imgs.js"></script>
	<script src="js/about.js"></script>
	<script>
		paceOptions = {
			elements: true
		};

		function load(time){
			var x = new XMLHttpRequest()
			x.open('GET', "" + time, true);
			x.send();
	    };

	    setTimeout(function(){
	    	Pace.ignore(function(){
	    		load(3100);
	    	});
	    }, 4000);

	    Pace.on('hide', function(){
	    	console.log('done');
	    });

		$(function () {
			if ($('html').hasClass('desktop')) {
				new WOW().init();
			}

	        $(".case_list ul li a img").lazyload({
				placeholder : "../images/loading.gif",
	            effect: "fadeIn"
	        });
		});
	</script>
	<script>
		//设置计数
		$.fn.countTo = function (options) {
			options = options || {};
			return $(this).each(function () {
				//当前元素的选项
				var settings = $.extend({}, $.fn.countTo.defaults, {
					from:            $(this).data('from'),
					to:              $(this).data('to'),
					speed:           $(this).data('speed'),
					refreshInterval: $(this).data('refresh-interval'),
					decimals:        $(this).data('decimals')
				}, options);
				//更新值
				var loops = Math.ceil(settings.speed / settings.refreshInterval),
					increment = (settings.to - settings.from) / loops;
				//更改应用和变量
				var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};
				$self.data('countTo', data);
				//如果有间断，找到并清除
				if (data.interval) {
					clearInterval(data.interval);
				};
				data.interval = setInterval(updateTimer, settings.refreshInterval);
				//初始化起始值
				render(value);
				function updateTimer() {
					value += increment;
					loopCount++;
					render(value);
					if (typeof(settings.onUpdate) == 'function') {
						settings.onUpdate.call(self, value);
					}
					if (loopCount >= loops) {
						//移出间隔
						$self.removeData('countTo');
						clearInterval(data.interval);
						value = settings.to;
						if (typeof(settings.onComplete) == 'function') {
							settings.onComplete.call(self, value);
						}
					}
				}
				function render(value) {
					var formattedValue = settings.formatter.call(self, value, settings);
					$self.html(formattedValue);
				}
				});
			};
			$.fn.countTo.defaults={
				from:0,               //数字开始的值
				to:0,                 //数字结束的值
				speed:1000,           //设置步长的时间
				refreshInterval:50,  //隔间值
				decimals:0,           //显示小位数
				formatter: formatter, //渲染之前格式化
				onUpdate:null,        //每次更新前的回调方法
				onComplete:null       //完成更新的回调方法
			};
			function formatter(value, settings){
				return value.toFixed(settings.decimals);
			}
			//自定义格式
			$('#count-number').data('countToOptions',{
				formmatter:function(value, options){
					return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
				}
			});

		$(function(){
			var beok = true;
			$('.counter').each(function(){
 	 			m = $(this).offset().top-wh;
 	 			return $(this).attr('ori-pos',m);
 	 		})

 	 		$(window).on("scroll",function() {
				var s = $(window).scrollTop();
				$('.counter').each(function(){
					var that = $(this);
						breakpoint = that.attr('ori-pos');
						breakpoint_max = parseInt(breakpoint)+parseInt(wh)+parseInt(that.height());
					if((Math.abs(s)>=breakpoint) && (Math.abs(s) < breakpoint_max) && beok){
						beok = !beok;
						$('.about-client-line').addClass('move');
						for(var i=0;i < $('.counter').length;i++){
			                var j = -1;
			                var num = 250*i;
			                setTimeout(function(){
			                    j++;
								$('.counter').eq(j).countTo()
			                },num)
			            }
					}
				})
			});


			function count(a) {
				var b = $(this);
				a = $.extend({},
				a || {},
				b.data("countToOptions") || {});
				b.countTo(a)
			};
		})
	</script>
</body>
</html>
