<div class="line"> </div>
<div class="index-customer index-wrap active">
    
        <div class="product_txt container">
    <div class="product_txt1 wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".1s"> 他们都选择了<span class="br-m"><strong>主舵者网络</strong></span> </div>
    <div class="product_txt2 wow fadeInUp5" data-wow-duration="1.2s" data-wow-delay=".35s"> <strong>因为有你，心存感激</strong> 您也可以选择像他们一样，来信任我们！</div>
  </div>
<div class="case">
			<div class="container">
				
				<div class="case-list">
					<ul class="clearfix">
						{pboot:list scode=19 num=18 isrecommend=1}<li class="wow fadeInUp animated" data-wow-duration="1.2s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1.2s; animation-delay: 0.1s; animation-name: fadeInUp;">
							<a href="[list:link]" target="_blank">
								<div class="icon"><img src="[list:ext_logo]"></div>
								<h5 class="case-tit1">[list:title]</h5>
								<span></span>
							</a>
						</li>
						{/pboot:list}
					</ul>
				</div>
			</div>
		</div>
        {pboot:sort scode=19}
         <a href="[sort:link]" class="more_button"><i></i>
    <div class="dot1"> <span>·</span><span>·</span><span>·</span> </div>
    <div class="dot2"> <span>·</span><span>·</span><span>·</span> </div>
    </a>{/pboot:sort}</div>