{include file=head.html}

	<!-- ========================= 内容开始 ======================== -->
	<div class="banner">
		<!-- <img src="images/banner.jpg" class="img-responsive"/> -->
        <picture>
            <source srcset="images/banner-case-m.jpg" media="(max-width: 48em)">
            <img class="img-responsive" srcset="images/banner.jpg" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">所有经典，源于极致追求</div>
				<div class="banner_txt2">一直向着“做业内一流的互联网设计团队”这一愿景努力，致力于不断提升对网站高端设计，微信公众号/小程序开发等产品的用户体验</div>
			</div>
		</div>
	</div>

	<article>

		<div class="product">
			<div class="menu container">
				<ul>
										<li class="cur">
						<div><a href="/case-1.html">网站案例</a></div>
						<i></i>
					</li>
										<li class="">
						<div><a href="/case-3.html">H5案例</a></div>
						<i></i>
					</li>
										<li class="">
						<div><a href="/case-2.html">电商设计案例</a></div>
						<i></i>
					</li>
										<li class="">
						<div><a href="/case-8.html">小程序案例</a></div>
						<i></i>
					</li>
										<li class="">
						<div><a href="/case-9.html">集团官网欣赏</a></div>
						<i></i>
					</li>
									</ul>
				<div class="clearfix"></div>
			</div>
			<!-- <div class="line"></div> -->
			<div class="case_list container">
				<ul class="row">



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-97.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1560419673938584593.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">莱佛士教育学院</div>
								<div class="case-right category">类别：教育培训行业响应式官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-54.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196417021646648218.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">奇柯集团</div>
								<div class="case-right category">类别：高端响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-53.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1519641616878464380.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">万家乐</div>
								<div class="case-right category">类别：知名品牌响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-102.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15478040001245805796.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">韦格斯杨</div>
								<div class="case-right category">类别：室内设计公司企业官网设计</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-131.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15688879601760335360.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">豪爵摩托车产品H5专题页制作</div>
								<div class="case-right category">类别：产品H5专题页制作</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-40.html" target="_blank"><div class="case_img hover-shadow">

								<img src="images/loading.gif" data-original="images/product/15215965751750797727.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">华米科技</div>
								<div class="case-right category">类别：高端品牌企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-130.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15688876681435783193.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">比音勒芬</div>
								<div class="case-right category">类别：响应式集团官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-100.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1546828529428261143.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">森晨科技</div>
								<div class="case-right category">类别：智能健康家电行业响应式网站设计</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-91.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15287140371875366268.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">瑞纳蒂食品</div>
								<div class="case-right category">类别：高端H5创意型企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-56.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1521519330845521257.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">古色服饰</div>
								<div class="case-right category">类别：知名品牌H5响应式网站</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-89.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1571737196786682951.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">海信（海外站）</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-101.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1546056811783952158.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">物主租赁</div>
								<div class="case-right category">类别：数码租赁平台自适应网站</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-104.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15478027601734394273.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">领奥集团</div>
								<div class="case-right category">类别：响应式集团网站建设</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-103.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15478054821617419254.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">蔚知知识产权平台</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-107.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1552465443540202523.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">宇洋基金</div>
								<div class="case-right category">类别：响应式网站</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-46.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196410261231327192.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">克莱蒙特酒业</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-96.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15401927362055061008.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">天禹文化</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-55.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196417652015422597.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">火王厨电</div>
								<div class="case-right category">类别：H5响应式网站、品牌营销网站</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-22.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1530190098626449078.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">BVLGARI香水</div>
								<div class="case-right category">类别：化妆品H5创意设计品牌官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-57.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15301923202025075354.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">新大陆支付</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-59.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196982601503231051.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">摩行侠</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-94.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1530764376900345398.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">美时·艾菲特</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-43.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196407491855221861.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">蓉阿妈串串</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-95.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1532068748644060548.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">广西壮族特色文化图书馆</div>
								<div class="case-right category">类别：H5创意型专题</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-42.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196406742056870132.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">西藏秘茶</div>
								<div class="case-right category">类别：企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-47.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/151964111793801149.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">逸林酒店</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-48.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15306998491352116796.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">墨尘建筑事务所</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-49.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196412991827748647.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">八爪鱼教育</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-51.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1530699757256618951.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">木立方集成屋</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-44.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1519640827121272375.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">广东中炎服饰</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-23.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196272261818014333.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">Royals Blue定制珠宝</div>
								<div class="case-right category">类别：品牌营销网站</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-32.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15307001881895692124.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">竞争力广告</div>
								<div class="case-right category">类别：企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-36.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1530702584191099407.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">钥石财富</div>
								<div class="case-right category">类别：企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-29.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1530703388997357853.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">注意力数字营销</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-45.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1519640923660420069.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">小牛资本</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-33.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15307568062002047084.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">希映传媒</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-93.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1530756780742823561.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">中保小额贷款</div>
								<div class="case-right category">类别：响应式官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-24.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/153075681744226892.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">歌莉娅服饰</div>
								<div class="case-right category">类别：H5响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-52.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/153075800776355665.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">沃顿集团</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-38.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1519640339243281583.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">奥烨移民</div>
								<div class="case-right category">类别：企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-37.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196402521963989769.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">宝亿莱软装设计</div>
								<div class="case-right category">类别：企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-92.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1541409575675569330.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">东融盛世</div>
								<div class="case-right category">类别：VR企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-124.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1558939964162513945.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">西安国际时尚小镇</div>
								<div class="case-right category">类别：高端响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-90.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1530762383618196559.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">柯翌咨询</div>
								<div class="case-right category">类别：H5创意型企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-28.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196275721280182903.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">格莱美服饰</div>
								<div class="case-right category">类别：服饰品牌官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-20.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196089782131868422.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">关中猕猴桃批发</div>
								<div class="case-right category">类别：B2C商城网站</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-25.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196176582058107609.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">泽云花样年</div>
								<div class="case-right category">类别：FLASH项目官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-26.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1519619243678828344.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">汇金国际城</div>
								<div class="case-right category">类别：FLASH项目官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-27.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196271731504613349.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">臻湖畔岛</div>
								<div class="case-right category">类别：FLASH项目官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-31.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15196286891825811200.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">彩乐宫游戏</div>
								<div class="case-right category">类别：项目官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-98.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/15414118801327837602.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">品壹装饰</div>
								<div class="case-right category">类别：H5创意型企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>



						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="/case_det-99.html" target="_blank"><div class="case_img hover-shadow">
								<img src="images/loading.gif" data-original="images/product/1541412052455918360.jpg" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">百宝仓</div>
								<div class="case-right category">类别：响应式企业官网</div>
								<div class="clearfix"></div>
							</div>
						</li>
									</ul>
			</div>
		</div>
		<div class="line"></div>
			<div class="container demand grey-m"> <div class="demand_txt"> <div class="demand_txt1 wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".1s">深入沟通，只为更深度的合作</div> <div class="demand_txt2 wow fadeInUp5" data-wow-duration="1.2s" data-wow-delay=".35s">因为您的信任 最终我们成为了朋友，为朋友做事，我们两肋插刀</div> <div class="demand-m"> <p class="p-1">深入沟通</p> <p class="p-1">只为更深度的合作</p> </div> </div> <div class="demand_con"> <div class="row"> <div class="demand_left col-xs-12 col-sm-12 col-md-12 col-lg-6"> <div class="demand-logo-list"> <div class="demand-logo-one"> <div class="demand-logo-one-img demand-logo-one-img-1 letmove"><img src="images/demand-logo-one-img-1.jpg" alt=""></div> <div class="demand-logo-one-desc demand-logo-one-desc-1 letmove"><img src="images/demand-logo-one-desc-1.jpg" alt=""></div> </div> <div class="demand-logo-one"> <div class="demand-logo-one-img demand-logo-one-img-2 letmove"><img src="images/demand-logo-one-img-2.jpg" alt=""></div> <div class="demand-logo-one-desc demand-logo-one-desc-2 letmove"><img src="images/demand-logo-one-desc-2.jpg" alt=""></div> </div> <div class="demand-logo-one"> <div class="demand-logo-one-desc demand-logo-one-desc-3 letmove"><img src="images/demand-logo-one-desc-3.jpg" alt=""></div> <div class="demand-logo-one-img demand-logo-one-img-3 letmove"><img src="images/demand-logo-one-img-3.jpg" alt=""></div> </div> <div class="demand-logo-one"> <div class="demand-logo-one-desc demand-logo-one-desc-4 letmove"><img src="images/demand-logo-one-desc-4.jpg" alt=""></div> <div class="demand-logo-one-img demand-logo-one-img-4 letmove"><img src="images/demand-logo-one-img-4.jpg" alt=""></div> </div> </div> </div> <div class="demand_right col-xs-12 col-sm-12 col-md-12 col-lg-6"> <div class="demand_warp"> <div class="demand_reminder">亲，请填写您的需求获取最新报价</div> <form action="ajax.php?act=message" method="post" class="demand_form"> <div class="row"> <div class="demand_ipt col-sm-6 col-md-6 col-lg-6"><input type="text" name="name" id="name" class="form-control" placeholder="称呼姓名"/></div> <div class="demand_ipt col-sm-6 col-md-6 col-lg-6"><input type="text" name="tell" id="tell" class="form-control" placeholder="联系电话"/></div> </div> <div class="demand_ipt"> <textarea maxLength="1000" name="message" id="message" class="form-control" placeholder="描述您的需求，如网站、微信、H5页面、电商等"></textarea> </div> <div class="send btn-circle"><input type="submit" value="提交项目需求"/><i class="btn-circle-hover"></i></i><i class="btn-circle-click"></i></div> <div class="demand-m"> <p class="p-2">*请认真填写需求信息，我们会在24小时内与您取得联系。</p> </div> </form> </div> </div> </div> </div> </div> <!-- 						<form action="mail.php" method="post" class="demand_form"> <div class="row"> <div class="demand_ipt col-sm-6 col-md-6 col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s"><input type="text" name="name" id="name" class="form-control" placeholder="姓名："/></div> <div class="demand_ipt col-sm-6 col-md-6 col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s"><input type="text" name="tell" id="tell" class="form-control" placeholder="电话："/></div> </div> <div class="demand_ipt wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.2s"> <textarea maxLength="1000" name="message" id="message" class="form-control" placeholder="需求："></textarea> </div> <div class="send wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.8s"><input type="submit" class="submit" value="提交项目需求"/></div> </form> -->	</article>
	<!-- ========================= 内容结束 ======================== -->



{include file=foot.html}
