 {include file=head.html}
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/animation.css" />
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="css/mh5.css">
{include file=top.html}

	<div class="banner">
		<!-- <img src="images/banner-mh5.jpg" class="img-responsive"/> -->
        <picture>
            <source srcset="{sort:ico}" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>
	<div class="fix-nav-btm">
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-1.png" alt=""></div>
			<div class="fnb-one-desc">QQ联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-2.png" alt=""></div>
			<div class="fnb-one-desc">微信联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-3.png" alt=""></div>
			<div class="fnb-one-desc">手机联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
	</div>
	<!-- ========================= 内容开始 ======================== -->
	<article>
		
		
		
		<div class="mh5-coop">
			<div class="inside-title">
				<h2 class="letmove">COOPERATION</h2>
				<h4 class="letmove">让我们携手创造价值</h4>
				<article class="desc letmove">
					<p class="words">对于信任我们的客户，我想说的是：这不仅仅是生意上的关系，而是共同成长的过程；合作带来的远远不止是利润，</p>
					<p class="words">更多的是经验上的积累和更广阔的发展空间，而这些，才是无价的财富</p>
				</article>
			</div>
			<div class="coop-all letmove">
				<div class="coop-list">{pboot:list num=60}
					<div class="loop-one {pboot:if([list:i]>6)} loop-one-hide{/pboot:if}"><img src="[list:ico]" alt=""></div>{/pboot:list}
				</div>
				<div class="ctrl-more">
					<i></i>
					<i></i>
					<i></i>
				</div>
			</div>
		</div>
	</article>
	<!-- ========================= 内容结束 ======================== -->
	 <footer>
<div class="m-totop">
  返回顶部
</div>
	



{include file=foot.html} 
<script src="js/jquery.min.js"></script>
    <script src="js/hammer.min.js"></script>
    <script src="js/jquery.hammer.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.lazyload.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/mh5.js"></script>
	<script>
		$(function() {
			var imgArr1 = [
				[
					'images/06.jpg', 
					'images/06-2.jpg', 
					'images/06-3.jpg'
				],
				[
					'images/mh5-t-5-m.jpg', 
					'images/mh5-t-5-l.jpg', 
					'images/mh5-t-5-r.jpg'
				],
				[
					'images/mh5-t-6-m.jpg', 
					'images/mh5-t-6-l.jpg', 
					'images/mh5-t-6-r.jpg'
				],
				[
					'images/04.jpg', 
					'images/04-2.jpg', 
					'images/04-3.jpg'
				],
				[
					'images/05.jpg', 
					'images/05-2.jpg', 
					'images/05-3.jpg'
				],
				[
					
					'images/mh5-t-4-m.jpg', 
					'images/mh5-t-4-l.jpg', 
					'images/mh5-t-4-r.jpg'
				],
				[
					'images/07.jpg', 
					'images/07-2.jpg', 
					'images/07-3.jpg'
				],
				[
					'images/08.jpg', 
					'images/08-2.jpg', 
					'images/08-3.jpg'
				]
			];
			var imgArr2 = [
				[
					'images/zb1.png', 
					'images/zb2.png', 
					'images/zb3.png'
				],
				[
					'images/phone-mid-img-market.png', 
					'images/phone-l-img-market.png', 
					'images/phone-r-img-market.png'
				],
				[
					'images/mh5-b-2-m.png', 
					'images/mh5-b-2-l.png', 
					'images/mh5-b-2-r.png'
				],
				[
					'images/mh5-b-3-m.png', 
					'images/mh5-b-3-l.png', 
					'images/mh5-b-3-r.png'
				]
			];

			phoneShow('.mh5-phone-all-1', imgArr1);
			phoneShow('.mh5-phone-all-2', imgArr2);

		});
	</script>
