{include file=head.html}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/contact.css">

{include file=top.html}

	<!-- ========================= 内容开始 ======================== -->
	<div class="banner">
		<!-- <img src="images/banner.jpg" class="img-responsive"/> -->
        <picture>
            <source srcset="images/banner-contact-m.jpg" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>
<article>
		<div class="about-desc letmove">
			<h2>互联网，是中小企业品牌唯一可以反击的战场</h2>
			<p class="desc">我们知道，<br>当您在传统渠道拼得筋疲力尽的时候，肯定也曾不止一次想要借力于互联网，但总有诸多顾虑：<br>因为您担心网络公司不了解您的企业，网站做不出您想要的效果；又操心竞价推广费用太高，网站做出来不知如何推广；<br>更因为公司一直在传统领域打拼不熟悉互联网，担心网站日后维护更新没有保障。<br>所有这些问题联系我们一次解决。</p>
		</div>
		<div class="contact-sol letmove">
			<div class="c-sol-r">
				<div class="c-sol-r-b">
					<div class="c-sol-r-b-img">
						<!-- <img class="bg" src="images/contact-sol-bg.jpg" alt=""> -->
		                <picture>
		                    <source srcset="images/bcontact-sol-bg-m.jpg" media="(max-width: 768px)">
		                    <img class="bg img-responsive" srcset="images/contact-sol-bg.jpg" alt="">
		                </picture>
					</div>
					<div class="c-sol-r-b-desc">
						<h2>Solution</h2>
						<h4>有问题要解决？找我们</h4>
						<div class="sol-share-one">
							<img src="images/sol-share-one-2.png" alt="">
							<div class="ss-one-qrcode">
								<img src="images/skyweixin.png" alt="">
								<div class="share-name">微信联系</div>
							</div>
						</div>
						<div class="sol-share-one">
							<img src="images/sol-share-one-1.png" alt="">
							<div class="ss-one-qrcode">
								<img src="{pboot:companyweixin}" alt="">
								<div class="share-name">公众号</div>
							</div>

						</div>

						<a class="call" href="http://wpa.qq.com/msgrd?v=3&amp;uin={pboot:companyqq}&amp;site=qq&amp;menu=yes" target="_blank">
							<div class="call-img">
								<img src="images/c-sol-r-t-call.png" alt="">
							</div>
							<div class="call-desc">
								<span class="desc">点击咨询客服</span>
							</div>
							<span class="share-name">客服在线</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-site letmove">
			<div class="site-one"><div class="site-one-in">
				<h3>ShandongJining</h3>
				<h4>3H</h4>
				<article>
					<p class="desc">手机：(86) 15564768866 17864768866</p>
					<p class="desc">电话：(0537) 2254866</p>
					<p class="desc need">地址：济宁市高新区金宇路红星美凯龙商业中心A509,A518室</p>
				</article>
				<a class="href-map" href="http://j.map.baidu.com/uNQEN" target="_blank">
					<div class="href-map-img">
						<img src="images/site-arrow.png" alt="">

					</div>
				</a>
			</div></div>

			<div class="site-one2"><iframe src="/template/eskystudio/ditu.html" frameBorder=0 width=100% scrolling=no height="644"></iframe>
			</div>
		</div>
		{include file=message.html}

	</article>


	<!-- ========================= 内容结束 ======================== -->


{include file=foot.html}
<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.lazyload.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.js"></script>
	<script src="js/main.js"></script>
	<script src="js/pace.js"></script>
	<script src="js/contact.js"></script>
	<script>
		paceOptions = {
			elements: true
		};

		function load(time){
			var x = new XMLHttpRequest()
			x.open('GET', "" + time, true);
			x.send();
	    };

	    setTimeout(function(){
	    	Pace.ignore(function(){
	    		load(3100);
	    	});
	    }, 4000);

	    Pace.on('hide', function(){
	    	console.log('done');
	    });

		$(function () {
			if ($('html').hasClass('desktop')) {
				new WOW().init();
			}

	        $(".case_list ul li a img").lazyload({
				placeholder : "../images/loading.gif",
	            effect: "fadeIn"
	        });
		});
	</script>
</body>
</html>
