{include file=head.html}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="/css/biz.css"/>
{include file=top.html}
	<div class="banner">
		<!-- <img src="images/banner-biz.jpg" class="img-responsive"/> -->
        <picture>
            <source srcset="{sort:ico}" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>

	<div class="fix-nav-btm">
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-1.png" alt=""></div>
			<div class="fnb-one-desc">QQ联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-2.png" alt=""></div>
			<div class="fnb-one-desc">微信联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-3.png" alt=""></div>
			<div class="fnb-one-desc">手机联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
	</div>
	<!-- ========================= 内容开始 ======================== -->
	<article>
		<div class="product">
			<div class="menu container">
				<ul>
					<li><a class="smoothscroll" href="#biz-1">
						<div>logo/企业形象设计</div>
						<i></i>
					</a></li>
					<li><a class="smoothscroll" href="#biz-2">
						<div>企业VI视觉系统设计</div>
						<i></i>
					</a></li>
					<li><a class="smoothscroll" href="#biz-3">
						<div>包装画册设计</div>
						<i></i>
					</a></li>
					<li><a class="smoothscroll" href="#biz-4">
						<div>广告海报插画设计</div>
						<i></i>
					</a></li>
					<li><a class="smoothscroll" href="#biz-5">
						<div>展台展厅空间设计</div>
						<i></i>
					</a></li>
					
				</ul>
				<div class="clearfix"></div>
			</div>
			
			<div class="biz-show-all">
				<div class="biz-show-one biz-show-one-1 letmove" id="biz-1">
					<!-- <div class="bs-one-mark bs-one-mark-1">
						<img src="images/bs-one-mark-l.png" alt="">
					</div> -->
					<div class="bs-one-img-cntr bs-one-img-cntr-1">
						<!-- <img src="images/bs-one-img-cntr-pc-1.jpg" alt=""> -->
				        <!-- <picture>
				            <source srcset="images/bs-one-img-cntr-pc-1-1500.jpg" media="(max-width: 1500px)">
				            <img srcset="images/bs-one-img-cntr-pc-1.jpg" alt="">
				        </picture> -->
			            <img class="w1920" srcset="images/d1.jpg" alt="">
			            <img class="w1500" srcset="images/d1.jpg" alt="">
					</div>
					<div class="bs-one-img-cntr-m">
						<img src="images/bs-one-img-d-m-1.jpg" alt="">
					</div>
					<div class="bs-one-desc">
						<h3>
							<p class="words">logo/企业形象设计</p>
						</h3>
						<article class="desc">
							<p class="words">深入挖掘消费者需求，严谨调研和分析市场竞品，</p>
							<p class="words">结合产品特色提炼出企业的突出形象。</p>
						</article>
						<a href="javascript:;" class="bs-link btn-circle">您需要的不仅仅是设计，更是懂设计的运营团队！<i class="btn-circle-hover"></i><i class="btn-circle-click"></i></a>
					</div>
				</div>
				<div class="biz-show-one biz-show-one-2 letmove" id="biz-2">
					<!-- <div class="bs-one-mark bs-one-mark-2">
						<img src="images/bs-one-mark-l.png" alt="">
					</div> -->
					<div class="bs-one-img-cntr bs-one-img-cntr-2">
						<!-- <div class="bs-one-img-2">
							<div class="bs-one-img-2-1"><img src="images/bs-one-img-2-1.jpg" alt=""></div>
							<div class="bs-one-img-2-2"><img src="images/bs-one-img-2-2.jpg" alt=""></div>
							<div class="bs-one-img-2-3"><img src="images/bs-one-img-2-3.jpg" alt=""></div>
						</div> -->
			            <img src="images/d2.jpg" alt="">
					</div>
					<div class="bs-one-img-cntr-m">
						 <img srcset="images/bs-one-img-d-m-2.jpg" alt="">
					</div>
					<div class="bs-one-desc">

						<h3>
							<p class="words">画册包装设计</p>
						</h3>
						<article class="desc">
							<p class="words">拥有行业顶级的设计师团队、摄影团队及专业摄影棚，专注产品视觉包装。有着丰富的电商摄影经验，追求细节的极致，用心服务每一位顾客。</p>
						</article>
						<a href="javascript:;" class="bs-link btn-circle">看看我们如何和您一起缔造您的品牌<i class="btn-circle-hover"></i><i class="btn-circle-click"></i></a>
					</div>
				</div>
				<div class="biz-show-one biz-show-one-3 letmove" id="biz-3">
					<!-- <div class="bs-one-mark bs-one-mark-3">
						<img src="images/bs-one-mark-l.png" alt="">
					</div> -->
					<div class="bs-one-img-cntr bs-one-img-cntr-3">
						<!-- <div class="bs-one-img-3">
							<div class="bs-one-img-3-1"><img src="images/bs-one-img-3-1.jpg" alt=""></div>
							<div class="bs-one-img-3-2"><img src="images/bs-one-img-3-2.jpg" alt=""></div>
						</div> -->
			          <img src="images/d3.jpg" alt="">
					</div>
					<div class="bs-one-img-cntr-m">
						 <img srcset="images/bs-one-img-d-m-3.jpg" alt="">
					</div>
					<div class="bs-one-desc">
						<h3>
							<p class="words">展厅展台及其它展示设计</p>
						</h3>
						<article class="desc">
							<p class="words">良好的绘画功底＋视觉审美，高素质团队的技术+创意，一颗全心全意为客户服务的心，带给用户身临其境的完美体验。</p>
						</article>
						<a href="javascript:;" class="bs-link btn-circle">一场技术化营销的全民盛宴<i class="btn-circle-hover"></i><i class="btn-circle-click"></i></a>
					</div>
				</div>
			</div>

			<div class="demand_txt" id="biz-4">
				<div class="demand_txt1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">执行流程</div>
				<div class="demand_txt2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">从营销内容规划到视觉设计及后期制作、更新维护。我们拥有一套成熟的运作体系，让信赖我们的用户更放心</div>
			</div>
			<div class="bizstep-list letmove">
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>01.</h3>
						<div class="bstep-one-title-more">
							<h4>收集客户资料</h4>
							<h5>COLLECT INFORMATION</h5>
						</div>
					</div>
					<p class="words">设计之前，首先我们和客户对接，收集客户资料，设计师和策划人员针对项目展开讨论，勾画重点、核心内容。了解整体页面的主要想表达东西。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-1.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>02.</h3>
						<div class="bstep-one-title-more">
							<h4>竞品分析</h4>
							<h5>COMPETITIVE ANALYSIS</h5>
						</div>
					</div>
					<p class="words">找大量行业相关产品资料，分析、研究＋总结，站在营销的角度去提炼设所计产品的卖点和优势。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-2.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>03.</h3>
						<div class="bstep-one-title-more">
							<h4>文案策划</h4>
							<h5>COPYWRITING PLAN</h5>
						</div>
					</div>
					<p class="words">文案策划是设计之前的一个重要环节，为后期设计提供核心思路和文案表述，将设计框架整理成文件送给设计师，并交流沟通。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-3.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>04.</h3>
						<div class="bstep-one-title-more">
							<h4>产品拍摄</h4>
							<h5>PRODUCT PHOTOGRAPHY</h5>
						</div>
					</div>
					<p class="words">设计师与拍摄团队策划拍摄方案，并全程现场跟拍，严格按照拍摄方案执行，以达到最优视觉效果。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-4.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>05.</h3>
						<div class="bstep-one-title-more">
							<h4>页面设计</h4>
							<h5>PAGE DESIGN</h5>
						</div>
					</div>
					<p class="words">对产品和资料，以及图片、及策划方案有了深入了解之后，开始着手设计，不仅力求画面视角完美，更要结合营销的概念来做设计。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-5.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>06.</h3>
						<div class="bstep-one-title-more">
							<h4>客户验收</h4>
							<h5>CUSTOMER ACCEPTANCE</h5>
						</div>
					</div>
					<p class="words">设计完成之后，递交设计总监审核，以最专业的眼观和视角把控画面，通过审稿，最后发送客户验收，让客户省心省力，易点出品，必出精品。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-6.png" alt=""></a>
				</div>
			</div>
			
		

		</div>
		
		
		
		
		
		
		


{include file=brandcase.html}
		


{include file=message.html}


</article>
	<!-- ========================= 内容结束 ======================== -->
	

	

	
	

	



{include file=foot.html} 
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.lazyload.min.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/wow.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/pace.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/biz.js"></script>
	<script>
		paceOptions = {
			elements: true
		};
		
		function load(time){
			var x = new XMLHttpRequest()
			x.open('GET', "" + time, true);
			// x.send();
	    };
	    
	    setTimeout(function(){
	    	Pace.ignore(function(){
	    		load(3100);
	    	});
	    }, 4000);

	    Pace.on('hide', function(){
	    	
	    });

		$(function () {
			// 激活点击按钮，提交表单
			$('.send').click(function(e) {
				$(this).parent('form').submit();
			});

			if ($('html').hasClass('desktop')) {
				new WOW().init();
			}
		
	        $(".case_list ul li a img").lazyload({ 
				placeholder : "../images/loading.gif",
	            effect: "fadeIn"
	        });  
		});	

		jQuery(document).ready(function($) {
		    $('.smoothscroll').on('click',function (e) {
		        e.preventDefault();
		        var target = this.hash,
		        $target = $(target);
		        $('html, body').stop().animate({
		            'scrollTop': $target.offset().top
		        },600,'swing',function () {
		            window.location.hash = target;
		        });
		    });
		})

	</script>
