	<script src="js/contact.js"></script><footer>
  <div class="m-totop">返回顶部</div>
  <div class="container">
<!--    <div class="footer-l">-->
<!--      <ul>-->
<!--        <li>-->
<!--          <dl>-->
<!--            <dt> <a href="/?contact/">专业服务1234</a> <i class="f-arrow"><img src="images/f-arrow.png" alt=""></i> </dt>-->
<!--            <div class="footer-sub-menu">-->
<!--              <dd><a href="/?website/">高端网站建设</a></dd>-->
<!--              <dd><a href="/?weixin/">微信平台APP小程序</a></dd>-->
<!--              <dd><a href="/?software/">软件开发</a></dd>-->
<!--              <dd><a href="/?design/">品牌设计</a></dd>-->
<!--              <dd><a href="/">营销推广</a></dd>-->
<!--            </div>-->
<!--          </dl>-->
<!--        </li>-->
<!--        <li>-->
<!--          <dl>-->
<!--            <dt> <a href="/?site-case/">经典案例</a> <i class="f-arrow"><img src="images/f-arrow.png" alt=""></i> </dt>-->
<!--            <div class="footer-sub-menu">{pboot:list scode=19 num=6 isrecommend=1}-->
<!--              <dd><a href="[list:link]">[list:title]</a></dd>{/pboot:list}-->
<!--            </div>-->
<!--          </dl>-->
<!--        </li>-->
<!--        <li>-->
<!--          <dl>-->
<!--            <dt> <a href="/?article/">新闻中心</a> <i class="f-arrow"><img src="images/f-arrow.png" alt=""></i> </dt>-->
<!--            <div class="footer-sub-menu">{pboot:nav parent=2}-->
<!--              <dd><a href="[nav:link]">[nav:name]</a></dd>{/pboot:nav}-->
<!--            </div>-->
<!--          </dl>-->
<!--        </li>-->

<!--        <li>-->
<!--          <dl>-->
<!--            <dt> <a href="/?company/">关于我们</a> <i class="f-arrow"><img src="images/f-arrow.png" alt=""></i> </dt>-->
<!--            <div class="footer-sub-menu">{pboot:nav parent=1}-->
<!--              <dd><a href="[nav:link]">[nav:name]</a></dd>{/pboot:nav}-->
<!--            </div>-->
<!--          </dl>-->
<!--        </li>-->
<!--        <li>-->
<!--          <dl>-->
<!--            <dt> <a href="/?contact/">联系合作</a> <i class="f-arrow"><img src="images/f-arrow.png" alt=""></i> </dt>-->
<!--            <div class="footer-sub-menu">{pboot:nav parent=11}-->
<!--              <dd><a href="[nav:link]">[nav:name]</a></dd>{/pboot:nav}-->
<!--            </div>-->
<!--          </dl>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="footer-r">-->
<!--      <div class="f-share"> <a class="f-share-one" href="javascript:;"> <img src="images/f-share-one-1.png" alt="">-->
<!--        <div class="fs-one-qrcode"><img src="{pboot:companyweixin}" alt=""></div>-->
<!--        </a> <a class="f-share-one" href="javascript:;"> <img src="images/f-share-one-2.png" alt="">-->
<!--        <div class="fs-one-qrcode"><img src="/images/skyweixin.png" alt=""></div>-->
<!--        </a> <a class="f-share-one" href="http://wpa.qq.com/msgrd?v=3&amp;uin={pboot:companyqq}&amp;site=qq&amp;menu=yes" target="_blank"><img src="images/f-share-one-3.png" alt=""></a> </div>-->
<!--      <div class="f-belongs">-->
<!--        <div class="f-belongs-one">Phone：{pboot:companyphone}</div>-->
<!--&lt;!&ndash;        <div class="f-belongs-one">Mobile：{pboot:companymobile}</div>&ndash;&gt;-->
<!--        <div class="f-belongs-one">E-Mail：{pboot:companyemail}</div>-->
<!--        <div class="f-belongs-one">{pboot:companyaddress}</div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
<!--  <div class="copyright">-->
<!--    <div class="container">-->
<!--      <div class="copyright-l">-->
<!--&lt;!&ndash;        <h2>友情链接：</h2>&ndash;&gt;-->
<!--        <ul>{pboot:link  gid=1 num=20}-->
<!--          <li> <a target="_blank" href="[link:link]">[link:name]</a> </li>{/pboot:link}-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="copyright-r">@&nbsp;2020&nbsp;&nbsp;{pboot:companyname}&nbsp;&nbsp;&nbsp;<a href="https://beian.miit.gov.cn" target="_blank"><span class="cip-r">{pboot:siteicp}</span></a> </div>-->
<!--    </div>-->
<!--  </div>-->

</footer>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?c42f7940f541374e2a3f07a894a189a2";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
