﻿{include file=head.html}
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/animate.css"/>
<link rel="stylesheet" href="/css/animation.css"/>
<link rel="stylesheet" href="/css/main.built.css"/>
<link rel="stylesheet" href="/css/pace-theme-barber-shop.css"/>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/case.css">
<link rel="stylesheet" href="/css/index.css"/>
<link rel="stylesheet" href="{APP_THEME_DIR}/layui/css/layui.css?v=v2.5.4">

{include file=top.html}

<article class="gallery-container" data-analytics-region="hero">
  <div id="homepage-gallery" class="gallery with-paddlenav">
    <nav class="paddlenav paddlenav-framed paddlenav-short paddlenav-circle">
      <ul>
        <li class="paddlenav-arrow-container paddlenav-arrow-container-previous">
          <button class="paddlenav-arrow paddlenav-arrow-previous" aria-label="Previous" data-ac-gallery-previous-trigger="homepage-gallery"><span class="arrow-icon arrow-icon-previous"></span></button>
        </li>
        <li class="paddlenav-arrow-container paddlenav-arrow-container-next">
          <button class="paddlenav-arrow paddlenav-arrow-next" aria-label="Next" data-ac-gallery-next-trigger="homepage-gallery"><span class="arrow-icon arrow-icon-next"></span></button>
        </li>
      </ul>
    </nav>
    <nav class="dashnav dot-nav">
      <ul role="tablist">{pboot:slide gid=1 num=4}
        <li role="presentation"><a href="#slide[slide:i]" data-ac-gallery-trigger="slide[slide:i]" class="dashnav-item">
          <div class="dashnav-dash"> <span class="dashnav-progress"></span> </div>
          </a></li>{/pboot:slide}
      </ul>
    </nav>
    <div class="gallery-slide-wrapper">

		{pboot:slide gid=1 num=4} <a href="javascript:;" id="slide[slide:i]" class="block gallery-item gallery-item-static gallery-item-iphone-alt gallery-item-dark" data-ac-gallery-item aria-label="iPhone. This is 7.">

		<div class="gallery-item-content">
        <div class="gallery-item-lockup-wrapper">
          <h1 class="homepage-headline" aria-hidden="true">[slide:title]</h1>
<!--            <p class="intro"> [slide:subtitle]</p>-->
           <p class=""> [slide:subtitle]</p>
        </div>
      </div>
      <figure class="gallery-image gallery-image-iphone-alt" style="background-image: url([slide:src]);"></figure>
      <picture>
        <source srcset="[slide:link]" media="(max-width: 48em)">
        <img class="img-responsive" srcset="[slide:link]" alt="[slide:title]"></picture>
      </a>
		{/pboot:slide}
		 </div>
  </div>
</article>
<!--<div class="business_section">-->
<!--  <div class="container">-->
<!--    <div class="business_warp">-->
<!--      <div class="menu_tit1 wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".1s"> <strong>3H互助平台</strong> 人脉和流量变现的平台 </div>-->
<!--      <div class="menu_tit2 wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".3s">我们信仰并一直坚持，用品牌思维为客户打造真正有价值的互联网平台 </div>-->
<!--      <div class="bussiness-body-warp" id="container">-->
<!--        <div class="bussiness-body clearfix show" id="list" style="left: 0px;">-->
<!--          <div class="item item1 clearfix wow fadeInUp  animated on" data-wow-delay="0.1s" data-wow-duration="1.2s">-->
<!--            <div class="service">-->
<!--              <div class="case-content">-->
<!--                <h4>高端网站建设</h4>-->
<!--                <p>定制专属于您的高端品牌网站<br>-->
<!--<br>∨ 了解详情 ∨</p>{pboot:sort scode=6}-->
<!--                <a href="[sort:link]" class="icon bussiness-icon1"></a>{/pboot:sort}</div>-->
<!--              <div class="info"> 针对品牌定制个性化网站建设方案 </div>-->
<!--            </div>-->
<!--            <div class="price">-->
<!--              <ul>-->
<!--                <li><a><span>响应式网站建设</span></a></li>-->
<!--                <li><a><span>H5高端网站设计</span></a></li>-->
<!--                <li><a><span>品牌网站建设</span></a></li>-->
<!--                <li><a><span>集团网站建设</span></a></li>-->
<!--                <li><a><span>中国风网站建设</span></a></li>-->
<!--                <li><a><span>营销型网站建设</span></a></li>-->
<!--                <li><a><span>医疗系统网络解决方案</span></a></li>-->
<!--                <li><a><span>工程机械行业网络解决方案</span></a></li>-->
<!--                <li><a><span>生物健康行业网络解决方案</span></a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="item item2 clearfix wow fadeInUp  animated" data-wow-delay="0.1s" data-wow-duration="1.2s">-->
<!--            <div class="service">-->
<!--              <div class="case-content">-->
<!--                <h4>移动互联网</h4>-->
<!--                <p>为您定制专属于您的移动平台<br>-->
<!--<br>∨ 了解详情 ∨</p>{pboot:sort scode=7}-->
<!--                <a href="[sort:link]" class="icon bussiness-icon2"></a>{/pboot:sort} </div>-->
<!--              <div class="info"> 微网站，微信平台建设，APP，小程序 </div>-->
<!--            </div>-->
<!--            <div class="price">-->
<!--              <ul>-->
<!--                <li><a><span>APP设计开发1qw</span></a></li>-->
<!--                <li><a><span>小程序定制开发</span></a></li>-->
<!--                <li><a><span>手机WAP网站制作</span></a></li>-->
<!--                <li><a><span>微信公众号开发</span></a></li>-->
<!--                <li><a><span>微商城设计开发</span></a></li>-->
<!--                <li><a><span>手机h5页面设计</span></a></li>-->
<!--                <li><a><span>百度小程序开发</span></a></li>-->
<!--                <li><a><span>百度基木鱼平台搭建 </span></a></li>-->
<!--                <li><a><span>H5专题定制设计</span></a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--            <div class="item item5 clearfix wow fadeInUp  animated" data-wow-delay="0.1s" data-wow-duration="1.2s">-->
<!--            <div class="service">-->
<!--              <div class="case-content">-->
<!--                <h4>系统开发</h4>-->
<!--                <p>满足您全方位的产品需求-->
<!--<br><br>∨ 了解详情 ∨</p>{pboot:sort scode=5}-->
<!--                <a href="[sort:link]" class="icon bussiness-icon5"></a>{/pboot:sort} </div>-->
<!--              <div class="info"> 中小型企业互联网信息化企业转型首选解决方案 </div>-->
<!--            </div>-->
<!--            <div class="price">-->
<!--              <ul>-->
<!--                <li><a><span>企业小型系统开发</span></a></li>-->
<!--                <li><a><span>CRM客户管理系统开发</span></a></li>-->
<!--                <li><a><span>项目管理系统开发</span></a></li>-->
<!--                <li><a><span>办公管理系统开发</span></a></li>-->
<!--                <li><a><span>医疗平台系统开发</span></a></li>-->
<!--                <li><a><span>大数据管理系统开发</span></a></li>-->
<!--                <li><a><span>物流系统开发</span></a></li>-->
<!--                <li><a><span>教育平台系统开发</span></a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="item item3 clearfix wow fadeInUp  animated" data-wow-delay="0.1s" data-wow-duration="1.2s">-->
<!--            <div class="service">-->
<!--              <div class="case-content">-->
<!--                <h4>营销推广</h4>-->
<!--                <p>移动/PC全网整合营销推广服务-->
<!--<br><br>∨ 了解详情 ∨</p>-->
<!--                <a href="/" class="icon bussiness-icon3"></a> </div>-->
<!--              <div class="info"> 利用大数据，制定精准营销策略连接未来 </div>-->
<!--            </div>-->
<!--            <div class="price">-->
<!--              <ul>-->
<!--                <li><a><span>seo排名/SEM推广</span></a></li>-->
<!--                <li><a><span>自媒体营销</span></a></li>-->
<!--                <li><a><span>抖音营销</span></a></li>-->
<!--                <li><a><span>微博营销</span></a></li>-->
<!--                <li><a><span>微信营销</span></a></li>-->
<!--                <li><a><span>ip营销</span></a></li>-->
<!--                <li><a><span>视频营销</span></a></li>-->
<!--                <li><a><span>内容营销</span></a></li>-->
<!--                <li><a><span>事件/活动营销</span></a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="item item4 clearfix wow fadeInUp  animated" data-wow-delay="0.1s" data-wow-duration="1.2s">-->
<!--            <div class="service">-->
<!--              <div class="case-content">-->
<!--                <h4>VI设计</h4>-->
<!--                <p>为您的品牌定制专属的视觉识别系统-->
<!--<br><br>∨ 了解详情 ∨</p>{pboot:sort scode=3}-->
<!--                <a href="[sort:link]" class="icon bussiness-icon4"></a>{/pboot:sort} </div>-->
<!--              <div class="info"> 以较具创造力的视觉设计传递品牌价值 </div>-->
<!--            </div>-->
<!--            <div class="price">-->
<!--              <ul>-->
<!--                <li><a><span>logo设计</span></a></li>-->
<!--                <li><a><span>VI升级设计</span></a></li>-->
<!--                <li><a><span>包装设计</span></a></li>-->
<!--                <li><a><span>品牌画册设计</span></a></li>-->
<!--                <li><a><span>户外广告设计</span></a></li>-->
<!--                <li><a><span>海报插画设计</span></a></li>-->
<!--                <li><a><span>展台展厅设计</span></a></li>-->
<!--                <li><a><span>空间展示设计</span></a></li>-->
<!--                <li><a><span>企业形象设计</span></a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div id="buttons" class="clearfix"> <span index="1" class="active"></span> <span index="2"></span> <span index="3"></span> <span index="4"></span> <span index="5"></span> </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="counters">-->
<!--  <div class="counter_con">-->
<!--    <div class="con-tit con-tit2">-->
<!--      <div class="tit_txt1 wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".1s"> 设计创造价值</span> </div>-->
<!--      <div class="tit_txt2 wow fadeInUp5" data-wow-duration="1.2s" data-wow-delay=".4s"> <strong>主舵者网络</strong>拥有一支经验丰富、眼光独到、自信尽职、专业创新的高端网站设计团队，凭着多年的实践经验，一直坚持高标准的服务。<br>-->
<!--我们在为您做的，不仅仅是一次服务，而是与您一起，缔造一个属于您的网络品牌 </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="full_section_inner">-->
<!--    <div class="counter_list clearfix">-->
<!--      <ul class="row"><li class="col-md-2 col-sm-2 col-xs-4">-->
<!--          <div class="q_counter_holder wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s"> <span class="counter counter4" id="count-number" data-to="10" data-speed="2500">0</span>&nbsp;<span class="unit">年</span>-->
<!--            <p class="counter_text"> 时间的专注和沉淀 </p>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="col-md-2 col-sm-2 col-xs-4">-->
<!--          <div class="q_counter_holder wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s"> <span class="counter counter2" id="count-number" data-to="268" data-speed="1500">0</span>&nbsp;<span class="unit">家</span>-->
<!--            <p class="counter_text"> 知名企业的支持 </p>-->
<!--          </div>-->
<!--        </li><li class="col-md-2 col-sm-2 col-xs-4">-->
<!--          <div class="q_counter_holder wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s"> <span class="counter counter1" id="count-number" data-to="1560" data-speed="1000">0</span>&nbsp;<span class="unit">位</span>-->
<!--            <p class="counter_text"> 各领域客户信赖之选 </p>-->
<!--          </div>-->
<!--        </li>-->

<!--        <li class="col-md-2 col-sm-2 col-xs-4">-->
<!--          <div class="q_counter_holder wow fadeIn" data-wow-duration="1s" data-wow-delay=".9s"> <span class="counter counter3" id="count-number" data-from="0" data-to="10000" data-speed="2000">0</span>&nbsp;<span class="unit">多</span>-->
<!--            <p class="counter_text"> 各类品牌形象站点平台 </p>-->
<!--          </div>-->
<!--        </li>-->

<!--        <li class="col-md-2 col-sm-2 col-xs-4">-->
<!--          <div class="q_counter_holder wow fadeIn" data-wow-duration="1s" data-wow-delay="1.7s"> <span class="counter counter5" id="count-number" data-to="98" data-speed="3000">0</span>&nbsp;<span class="unit">%</span>-->
<!--            <p class="counter_text"> 以上的客户满意度 </p>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="box-shadow"> </div>-->
<!--  &lt;!&ndash;背景视频&ndash;&gt;-->
<!--  <video loop poster="images/propaganda.jpg" id="bgvid" class="bg_video">-->
<!--    <source src="video/propaganda.mp4" type="video/mp4">-->
<!--  </video>-->
<!--</div>-->
<!--<div class="product">-->
<!--  <div class="product_txt container">-->
<!--    <div class="product_txt1 wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".1s"> 每个作品，<span class="br-m">都是一次思维与灵魂的碰撞</span> </div>-->
<!--    <div class="product_txt2 wow fadeInUp5" data-wow-duration="1.2s" data-wow-delay=".35s"> <strong>主舵者网络</strong>一直向着“做业内一流高端网站建设团队”这一愿景努力，不断提升对网站高端设计，微信公众号/小程序开发等产品的用户体验 </div>-->
<!--  </div>-->
<!--  <div class="case_list container">-->
<!--    <ul class="row">-->
<!--     {pboot:list scode=19 num=9 istop=1}-->
<!--      <li class="col-xs-6 col-sm-4 col-md-4 col-lg-4"> <a href="[list:link]"  target="_blank">-->
<!--        <div class="case_img hover-shadow"> <img src="images/loading.gif" data-original="[list:ico]" class="img-responsive lazy" alt=""/>-->
<!--          <div class="case_cover"> </div>-->
<!--        </div>-->
<!--        </a>-->
<!--        <div class="case_txt">-->
<!--          <div class="case-left case_name"> [list:title] </div>-->
<!--          <div class="case-right category"> [list:subtitle] <span class="badge btn-danger">[list:date style=Y]/[list:date style=m]</span></div>-->
<!--          <div class="clearfix"> </div>-->
<!--        </div>-->
<!--      </li>-->
<!--    {/pboot:list}-->
<!--    </ul>{pboot:sort scode=19}-->
<!--    <a href="[sort:link]" class="more_button"><i></i>-->
<!--    <div class="dot1"> <span>·</span><span>·</span><span>·</span> </div>-->
<!--    <div class="dot2"> <span>·</span><span>·</span><span>·</span> </div>-->
<!--    </a>{/pboot:sort}</div>-->
<!--</div>-->
<!--{include file=brandcase.html}-->
<!--<div class="line"> </div>-->
<div style="margin-bottom: 75px;">


    <article>

        <div class="menu container">
            <div class="clearfix">用户留言</div>
        </div>
        <div class="line"></div>
        <div class="news-all">
            <div class="news-list">
                <div class="container news-list-in">

                    <div class="news-one" id="user_message" style="overflow-y: scroll;">

                    </div>
                    <div class="line"></div>
                </div>

            </div>
        </div>
    </article>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        getMsg();
      })

      function getMsg(){

        var url='Message/getMsg';
        $.ajax({
//          type: 'GET',
          url: url,
          dataType: 'json',
          data: {
            type: 'getMsg',
          },
          success: function (response, status) {
            if(response.code){
              if (response.data.length !== 0) {
                    let res = response.data;

                    document.getElementById("user_message").style.height="700px";
                    let msgHtml = '';
                    res.forEach(function(item, index, res) {
                        msgHtml+= '<div>';
                        msgHtml+= '<p class="name" style="display: inline-block;font-size: 16px;">称呼名称：'+ item['contacts'] +'</p>';
                        msgHtml+= '<p class="phone" style="font-size: 16px;">联系电话：'+ item['mobile'] +'</p>';
                        msgHtml+= '<p class="email" style="font-size: 16px;">邮箱地址：'+ item['email'] +'</p>';
                        if (item['image'] !== '') {
                          msgHtml+= '<p class="image" style="height: 400px;width: 400px; object-fit: contain;"><img src="'+ item['image'] +'" alt="" style="height: 400px;width: 90%;"></p>';
                        }

                        if (item['video'] !== '') {
                          msgHtml+= '<p class="video">';
                          msgHtml+= '<video width="340" height="240" style="display: flex;align-items: center;justify-content: center;" controls>';
                          msgHtml+= '<source src="'+ item['video'] +'">';
                          msgHtml+= '</video></p>';
                        }

                        msgHtml+= '</div>';

                        msgHtml+= '<div class="news-one-desc"><div class="news-one-words"><p class="words" style="font-size: 16px;"><span> '+ item['content'] +'';
                        msgHtml+= '</span></p><p style="display: inline-block; font-size: 12px; margin-top: 10px; float: right;">'+ item['create_time'] ?? '' +'</p></div></div>';
                        msgHtml+='<hr>';

                    })

                    $("#user_message").html(msgHtml)
              }
            }

          },
//    error:function(xhr,status,error){
//      alert('返回数据异常！');
//    }
        });
        return false;
      }
    </script>
</div>
{include file=message.html}
<div class="index-news container letmove">
<!--  <div class="index-news-list-all">-->
<!--   {pboot:nav parent=2}-->
<!--    <div class="index-news-list">-->
<!--      <h3>[nav:name]</h3>-->
<!--      {pboot:list scode=[nav:scode] num=}-->
<!--      <div class="index-news-one"> <a class="inews-one-l" target="_blank" href="[list:link]">[list:title] </a><span class="inews-one-r">[[list:date style=Y-m-d]]</span> </div>-->
<!--     {/pboot:list}-->
<!--    </div>-->

<!--    {/pboot:nav}-->
<!--  </div>-->
<!--  <a target="_blank" href="/news.html" class="more_button"><i></i>-->
<!--  <div class="dot1"> <span>·</span><span>·</span><span>·</span> </div>-->
<!--  <div class="dot2"> <span>·</span><span>·</span><span>·</span> </div>-->
<!--  </a> -->
</div>

{include file=foot.html}

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.lazyload.min.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/main.js"></script>
<script src="/js/pace.js"></script>
<script src="/js/index.js"></script>
<script src="/js/head.built.js"></script>
<script src="/js/main.built.js"></script>
<script src="/js/count.js"></script>

<script src="/js/load.js"></script>


<script>
	$(document).ready(function () {if ($('html').hasClass('desktop')) {new WOW().init(); } });
</script>
<script>
	$(function(){
		var ww = $(window).width();
		if (ww>1240) {
			$(".bussiness-body .item").mouseover(function(){
		 		$(this).addClass("on").siblings().removeClass("on");
		 	});
		}
		else{
			$(".bussiness-body .item").addClass("on");
		}
		});

</script>
<script>
	window.onload = function() {
        var container = document.getElementById('container');
        var list = document.getElementById('list');
        var buttons = document.getElementById('buttons').getElementsByTagName('span');
        var index = 1;
        var timer;
        var ww = $(window).width();

        if (ww > 480) {
        	function animate(offset) {
	            //获取的是style.left，是相对左边获取距离，所以第一张图后style.left都为负值，
	            //且style.left获取的是字符串，需要用parseInt()取整转化为数字。
	            var newLeft = parseInt(list.style.left) + offset;
	        	list.style.left = newLeft + 'px';
	         	//无限滚动判断
	            if(newLeft < -2000){
					list.style.left = -400 + 'px';
				}
				else if(newLeft > 0){
					list.style.left = -2000 + 'px';
				}
	        }

	        function stop() {
	            clearInterval(timer);
	        }

	        function buttonsShow() {
	             //将之前的小圆点的样式清除
	            for (var i = 0; i < buttons.length; i++) {
	                 if (buttons[i].className == "active") {
	                     buttons[i].className = "";
	                }
	            }
	            //数组从0开始，故index需要-1
	            buttons[index - 1].className = "active";
	        }

	        for (var i = 0; i < buttons.length; i++) {
	            (function(i) {
	                buttons[i].onclick = function() {
	                    /*   这里获得鼠标移动到小圆点的位置，用this把index绑定到对象buttons[i]上，去谷歌this的用法  */
	                    /*   由于这里的index是自定义属性，需要用到getAttribute()这个DOM2级方法，去获取自定义index的属性*/
	                    var clickIndex = parseInt(this.getAttribute('index'));
	                    var offset = 400 * (index - clickIndex); //这个index是当前图片停留时的index
	                    animate(offset);
	                    index = clickIndex; //存放鼠标点击后的位置，用于小圆点的正常显示
	                    buttonsShow();
	                }
	            })(i)
	        }
        }
        else{
        	function animate(offset) {
	            //获取的是style.left，是相对左边获取距离，所以第一张图后style.left都为负值，
	            //且style.left获取的是字符串，需要用parseInt()取整转化为数字。
	            var newLeft = parseInt(list.style.left) + offset;
	        	list.style.left = newLeft + 'px';
	         	//无限滚动判断
	            if(newLeft < -1500){
					list.style.left = -300 + 'px';
				}
				else if(newLeft > 0){
					list.style.left = -1500 + 'px';
				}
	        }

	        function stop() {
	            clearInterval(timer);
	        }

	        function buttonsShow() {
	             //将之前的小圆点的样式清除
	            for (var i = 0; i < buttons.length; i++) {
	                 if (buttons[i].className == "active") {
	                     buttons[i].className = "";
	                }
	            }
	            //数组从0开始，故index需要-1
	            buttons[index - 1].className = "active";
	        }

	        for (var i = 0; i < buttons.length; i++) {
	            (function(i) {
	                buttons[i].onclick = function() {
	                    /*   这里获得鼠标移动到小圆点的位置，用this把index绑定到对象buttons[i]上，去谷歌this的用法  */
	                    /*   由于这里的index是自定义属性，需要用到getAttribute()这个DOM2级方法，去获取自定义index的属性*/
	                    var clickIndex = parseInt(this.getAttribute('index'));
	                    var offset = 300 * (index - clickIndex); //这个index是当前图片停留时的index
	                    animate(offset);
	                    index = clickIndex; //存放鼠标点击后的位置，用于小圆点的正常显示
	                    buttonsShow();
	                }
	            })(i)
	        }
        }

       }
</script>
</body>
</html>
