
<div class="container">

</div>
<div class="container demand grey-m">
  <div class="demand_txt">
  </div>
      <div class="demand_right col-xs-20 col-sm-30 col-md-30 col-lg-12" style="margin-top: 30px;">
        <div class="demand_warp">
          <div class="demand_reminder">刚好您有需求，正好我们足够专业...</div>
            <form action="Message/msgPost"  method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input type="text" name="contacts" id="contacts" class="form-control" placeholder="称呼姓名"/>
                    </div>
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input maxLength="11" type="text" name="mobile" id="mobile" class="form-control" placeholder="联系电话"/>
                    </div>
                </div>
                <div class="row">
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input maxLength="50" name="email" id="email" class="form-control" placeholder="邮箱地址" />
                    </div>
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input  type="file" name="image" id="image" class="form-control" placeholder="上传图片" accept="image/gif,image/jpeg,image/x-png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input  type="file" name="video" id="video" class="form-control" placeholder="上传视频" accept="mp4"/>
                    </div>
                </div>

                <div class="demand_ipt" style="padding-top: 10px;">
                    <textarea style="height: 120px;" maxLength="2000" name="content" id="content" class="form-control" placeholder="描述您的需求"></textarea>
                </div>
                    <button style="margin-top: 20px; padding-bottom: 10px;" type="submit" class="btn btn-primary">提交项目需求</button>
                <div class="demand-m">
                    <p class="p-2">*请认真填写需求信息，我们会在24小时内与您取得联系。</p>
                </div>
            </form>
        </div>
      </div>
</div>
