 {include file=head.html}
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/animation.css" />
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="css/mh5.css">
{include file=top.html}

	<div class="banner">
		<!-- <img src="images/banner-mh5.jpg" class="img-responsive"/> -->
        <picture>
            <source srcset="{sort:ico}" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>
	<div class="fix-nav-btm">
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-1.png" alt=""></div>
			<div class="fnb-one-desc">QQ联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-2.png" alt=""></div>
			<div class="fnb-one-desc">微信联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-3.png" alt=""></div>
			<div class="fnb-one-desc">手机联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
	</div>
	<!-- ========================= 内容开始 ======================== -->
	<article>
		<div class="mh5-site">
			<div class="inside-title">
				<h2 class="letmove">MOBILE SITE</h2>
				<h4 class="letmove">手机网站</h4>
				<article class="desc letmove">
					<p class="words">碎片化时代，更注重移动场景的使用，</p>
					<p class="words">您是否留意到周围的环境相对前几年发生了巨大的变化，地铁公交上、朋友聚餐、走路开会蹲厕所、甚至连过马路，人们都在看手机</p>
					<p class="words">所以，手机网站，将是您企业/品牌推广营销的新战场</p>
				</article>
			</div>
			<div class="mh5-phone-mark mh5-phone-mark-1">
				<img src="images/mh5-phone-mark-1.png" alt="">
			</div>
			<div class="mh5-phone-all mh5-phone-all-1">
				<div class="mh5-phone-cntr">
					<img class="mh5-phone-cntr-img" src="images/mh5-phone-cntr.png" alt="">
					<div class="phone-mid">
						<img src="/images/06.jpg" alt="">
					</div>
					<div class="phone-l">
						<img src="/images/06-2.jpg" alt="">
					</div>
					<div class="phone-r">
						<img src="/images/06-3.jpg" alt="">
					</div>
				</div>
				<div class="phone-ctrl phone-ctrl-1">
					<!-- <span class="dot on"></span>
					<span class="dot"></span>
					<span class="dot"></span> -->
				</div>
				<div class="site-ctrl">
					<a class="ctrl-one ctrl-one-l" href="javascript:;">
						<div class="ctrl-one-img"><img src="images/ctrl-one-img-l.png" alt=""></div>
						<div class="ctrl-one-desc"><span>上一个案例</span></div>
					</a>
					<a class="ctrl-one ctrl-one-r" href="javascript:;">
						<div class="ctrl-one-img"><img src="images/ctrl-one-img-r.png" alt=""></div>
						<div class="ctrl-one-desc"><span>下一个案例</span></div>
					</a>
				</div>
			</div>
		</div>
		<div class="mh5-wechat">
			<div class="inside-title white">
				<h2 class="letmove">WECHAT</h2>
				<h4 class="letmove">微信公众平台开发</h4>
				<article class="desc letmove">
					<p class="words">营销型微信小程序 自带9亿微信流量，一次性帮您解决推广难、开发贵、运营难、回报低的四大网络营销难题</p>
					<p class="words">微官网，投票，助力各种小活动，只需APP十分之一的成本，就可借助微信平台实现裂变式传播</p>
				</article>
			</div>
			<div class="mh5-phone-mark mh5-phone-mark-2">
				<img src="images/mh5-phone-mark-2.png" alt="">
			</div>
			<div class="wechat-all">
				<div class="wechat-img-1 letmove">
					<!-- <img src="images/wechat-img-1.png" alt=""> -->
	                <picture>
	                    <source srcset="images/wechat-img-1-m.png" media="(max-width: 1200px)">
	                    <img srcset="images/wechat-img-1.png" alt="">
	                </picture>
				</div>
				<div class="wechat-img-2 letmove">
					<!-- <img src="images/wechat-img-2.png" alt=""> -->
	                <picture>
	                    <source srcset="images/wechat-img-2-m.png" media="(max-width: 1200px)">
	                    <img srcset="images/wechat-img-2.png" alt="">
	                </picture>
				</div>
			</div>
		</div>
		<div class="mh5-site">
			<div class="inside-title">
				<h2 class="letmove">小程序开发</h2>
				<h4 class="letmove">微信小程序 APP 百度小程序 头条小程序</h4>
				<article class="desc letmove">
					<p class="words">没有大到不能被撼动的企业，更没有小到不能去营销的品牌</p>
					<p class="words">在线商城，直播带货，社区团购，门店营销，同城信息，教育培训</p>
				</article>
			</div>
			<div class="mh5-phone-mark mh5-phone-mark-3">
				<img src="images/mh5-phone-mark-3.png" alt="">
			</div>
			<div class="mh5-phone-all mh5-phone-all-2">
				<div class="phone-list">
					<div class="phone-one">
						<div class="mh5-phone-cntr">
							<img class="mh5-phone-cntr-img" src="images/mh5-phone-cntr-market.png" alt="">
							<div class="phone-mid phone-mid-2">
								<img src="/images/zb1.png" alt="">
							</div>
							<div class="phone-l phone-l-2">
								<img src="/images/zb2.png" alt="">
							</div>
							<div class="phone-r phone-r-2">
								<img src="/images/zb3.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="phone-ctrl phone-ctrl-2">
					<!-- <span class="dot on"></span>
					<span class="dot"></span>
					<span class="dot"></span> -->
				</div>
				<div class="site-ctrl site-ctrl-2">
					<a class="ctrl-one ctrl-one-l ctrl-one-l-2" href="javascript:;">
						<div class="ctrl-one-img"><img src="images/ctrl-one-img-l.png" alt=""></div>
						<div class="ctrl-one-desc"><span>上一个案例</span></div>
					</a>
					<a class="ctrl-one ctrl-one-r ctrl-one-r-2" href="javascript:;">
						<div class="ctrl-one-img"><img src="images/ctrl-one-img-r.png" alt=""></div>
						<div class="ctrl-one-desc"><span>下一个案例</span></div>
					</a>
				</div>
			</div>
		</div>
		<div class="mh5-coop">
			<div class="inside-title">
				<h2 class="letmove">COOPERATION</h2>
				<h4 class="letmove">让我们携手创造价值</h4>
				<article class="desc letmove">
					<p class="words">对于信任我们的客户，我想说的是：这不仅仅是生意上的关系，而是共同成长的过程；合作带来的远远不止是利润，</p>
					<p class="words">更多的是经验上的积累和更广阔的发展空间，而这些，才是无价的财富</p>
				</article>
			</div>
			<div class="coop-all letmove">
				<div class="coop-list">{pboot:list scode=19 num=36 isrecommend=1}
					{pboot:if([list:i]==19)}
					<div class="hide-cntr" style="display: none;">{/pboot:if}
					<a href="[list:link]">
					<div class="loop-one {pboot:if([list:i]>18)} loop-one-hide{/pboot:if}"><img src="[list:ext_logo]" alt=""></div>
						</a>
						{pboot:if([list:i]==36)}
					</div>{/pboot:if}
						
						{/pboot:list}
				</div>
				<div class="ctrl-more">
					<i></i>
					<i></i>
					<i></i>
				</div>
			</div>
		</div>
	</article>
	<!-- ========================= 内容结束 ======================== -->




{include file=foot.html} 
<script src="js/jquery.min.js"></script>
    <script src="js/hammer.min.js"></script>
    <script src="js/jquery.hammer.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.lazyload.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/mh5.js"></script>
	<script>
		$(function() {
			var imgArr1 = [
				[
					'images/06.jpg', 
					'images/06-2.jpg', 
					'images/06-3.jpg'
				],
				[
					'images/mh5-t-5-m.jpg', 
					'images/mh5-t-5-l.jpg', 
					'images/mh5-t-5-r.jpg'
				],
				[
					'images/mh5-t-6-m.jpg', 
					'images/mh5-t-6-l.jpg', 
					'images/mh5-t-6-r.jpg'
				],
				[
					'images/04.jpg', 
					'images/04-2.jpg', 
					'images/04-3.jpg'
				],
				[
					'images/05.jpg', 
					'images/05-2.jpg', 
					'images/05-3.jpg'
				],
				[
					
					'images/mh5-t-4-m.jpg', 
					'images/mh5-t-4-l.jpg', 
					'images/mh5-t-4-r.jpg'
				],
				[
					'images/07.jpg', 
					'images/07-2.jpg', 
					'images/07-3.jpg'
				],
				[
					'images/08.jpg', 
					'images/08-2.jpg', 
					'images/08-3.jpg'
				]
			];
			var imgArr2 = [
				[
					'images/zb1.png', 
					'images/zb2.png', 
					'images/zb3.png'
				],
				[
					'images/phone-mid-img-market.png', 
					'images/phone-l-img-market.png', 
					'images/phone-r-img-market.png'
				],
				[
					'images/mh5-b-2-m.png', 
					'images/mh5-b-2-l.png', 
					'images/mh5-b-2-r.png'
				],
				[
					'images/mh5-b-3-m.png', 
					'images/mh5-b-3-l.png', 
					'images/mh5-b-3-r.png'
				]
			];

			phoneShow('.mh5-phone-all-1', imgArr1);
			phoneShow('.mh5-phone-all-2', imgArr2);

		});
	</script>
