{include file=head.html}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/news.css">

{include file=top.html}
<style>
    @media (max-width: 544px) {
        .banner {
            height: 100vh;
            height: calc(50vh - 126px);
            margin-top: 63px;
        }
    }
</style>
	<!-- ========================= 内容开始 ======================== -->
	<div class="banner">
		<!-- <img src="images/banner.jpg" class="img-responsive"/> -->
        <picture>
<!--            <source srcset="images/banner-case-m.jpg" media="(max-width: 48em)">-->
            <source srcset="{sort:pic}" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>
<article>
		<div class="menu menu-news-dtl container">
			<ul>
								{pboot:nav parent=2}
								<li {pboot:if('[nav:scode]'=='{sort:scode}')}class="cur"{/pboot:if}>
					<div><a href="[nav:link]">[nav:name]</a></div>
					<i></i>
				</li>{/pboot:nav}
							</ul>
			<div class="clearfix"></div>
		</div>
		<div class="line"></div>
		<div class="news-all news-all-dtl">
			<div class="container clearfix">
				<div class="news-con fl">
					<h2 class="news-title">{content:title}</h2>
					<div class="news-belong">
						<div class="belong-one"><img src="images/news-belong-1.png" alt="">发布时间：{content:date style=Y-m-d}</div>
						<div class="belong-one"><img src="images/news-belong-2.png" alt="">发布者：{content:author}</div>
						<div class="belong-one"><img style="top: -1px;" src="images/news-belong-3.png" alt="">浏览次数：{content:visits}</div>
					</div>
					<div class="news-edit">
						<!-- 编辑框 -->
						{content:content}				<!-- /编辑框 -->
					</div>
<!--					<div class="news-ctrl">-->


<!--			            			           	<p>下一篇：{content:nextcontent}</p>-->
<!--			            					</div>-->
<!--					<div class="hotlist">-->
<!--                        <h4>相关新闻推荐</h4>-->
<!--                        <ul class="clearfix">{pboot:list num=9 scode={content:scode} order=sorting}-->
<!--                                                        <li class="clearfix">-->
<!--                                <a class="news-tit" href="[list:link]" >[list:title]</a>-->
<!--                                <span class="time">[list:date style=Y-m-d]</span>-->
<!--                            </li>-->
<!--                                      {/pboot:list}              </ul>-->
<!--                    </div>-->
				</div>
<!--				 <div class="news-case fr">-->
<!--                    <h4>经典案例</h4>-->
<!--                    <div class="hotlist-case">{pboot:list num=5 scode=19 order=istop}-->
<!--                                                <dl>-->
<!--                            <dt>-->
<!--                                <a href="[list:link]" ><img src="[list:ico]" class="img-responsive"></a>-->
<!--                            </dt>-->
<!--                            <dd>-->
<!--                                <p class="case-name">[list:title]</p>-->
<!--                                <p class="sort">[list:ext_type]</p>-->
<!--                            </dd>-->
<!--                        </dl>{/pboot:list}-->
<!--                                            </div>-->
<!--                </div>-->
			</div>
		</div>

	</article>


	<!-- ========================= 内容结束 ======================== -->


{include file=foot.html}
<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.lazyload.min.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript">
		var i=1;
		$('.see_more').click(function(){
			var _this=$(this);
			// $(this).html("查看更多&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"images/loading.gif \"/>");
			// setTimeout(function(){_this.html("查看更多");},1000);

			var id=$(this).attr("data-id");
			 var content="";
			 var totals=Math.ceil((92-6)/6);

			 if(i<=totals){
                $.post('ajax.php?act=news',{'i':i,'id':id},function(data){
                    var cont=eval("("+data+")");

                    var n=cont["content"].length;
                    for(var a=0;a<n;a++){
                        content += cont["content"][a];
                    }
                    $(".news-list-in").append(content);

                    });

                    i++;
              }else{
				  // $('.see_more').html('没有更多了');
				  $('.see_more').hide();
			  }
		});

		$('.see_more2').click(function(){
			var _this=$(this);

			var keywords="  ";


			 var content="";
			 var totals=Math.ceil((92-6)/6);

			 if(i<=totals){
                $.post('ajax.php?act=search',{'i':i,'keywords':keywords},function(data){
                    var cont=eval("("+data+")");

                    var n=cont["content"].length;
                    for(var a=0;a<n;a++){
                        content += cont["content"][a];
                    }
                    $(".news-list-in").append(content);

                    });

                    i++;
              }else{
				  // $('.see_more').html('没有更多了');
				  $('.see_more2').hide();
			  }
		});
	</script>
	<script type="text/javascript">
		$(".search-submit").click(function(){
			var keywords=$(".search-input").val();
			if(keywords!=""){
				$(".search-warp").attr("action","news.html");
				$(".search-warp").submit();
				console.log($keywords);
			}

		});
	</script>
</body>
</html>
