{include file=head.html}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/news.css">

{include file=top.html}

<style>
    @media (max-width: 544px) {
        .banner {
            height: 100vh;
            height: calc(50vh - 126px);
            margin-top: 63px;
        }
    }
</style>
	<!-- ========================= 内容开始 ======================== -->
	<div class="banner" style="">
<!--		 <img src="images/banner.jpg" class="img-responsive"/>-->
        <picture>
            <source srcset="{sort:pic}" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>
<article>

				<div class="menu container">

			<ul>{pboot:nav parent=2}
								<li {pboot:if('[nav:scode]'=='{sort:scode}')}class="cur"{/pboot:if}>
					<div><a href="[nav:link]">[nav:name]</a></div>
					<i></i>
				</li>{/pboot:nav}
							</ul>
			<div class="clearfix"></div>

		</div>
				<div class="line"></div>
		<div class="news-all">
			<div class="news-list"><div class="container news-list-in">

				{pboot:list num=9 order=sorting}
				<div class="news-one">
					<div class="news-one-date">
						<p class="day">[list:date style=d]</p>
						<p class="month">[list:date style=M]</p>
						<p class="year">[list:date style=Y]</p>
					</div>
					<div class="news-one-desc">
						<div class="news-one-words">
							<h3><a href="[list:link]" target="_blank">[list:title]</a></h3>
							<p class="words">[list:content drophtml=1 cnlen=80]</p>
						</div>
						<a href="[list:link]" class="link"><span class="more">Read&More</span><img src="images/news-arrow.png" alt=""></a>
					</div>
				</div>

				{/pboot:list}

							</div>

							</div>
						{include file=page.html}
					</div>
	</article>


	<!-- ========================= 内容结束 ======================== -->


{include file=foot.html}
<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.lazyload.min.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/main.js"></script>
	<script type="text/javascript">
		var i=1;
		$('.see_more').click(function(){
			var _this=$(this);
			// $(this).html("查看更多&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"images/loading.gif \"/>");
			// setTimeout(function(){_this.html("查看更多");},1000);

			var id=$(this).attr("data-id");
			 var content="";
			 var totals=Math.ceil((92-6)/6);

			 if(i<=totals){
                $.post('ajax.php?act=news',{'i':i,'id':id},function(data){
                    var cont=eval("("+data+")");

                    var n=cont["content"].length;
                    for(var a=0;a<n;a++){
                        content += cont["content"][a];
                    }
                    $(".news-list-in").append(content);

                    });

                    i++;
              }else{
				  // $('.see_more').html('没有更多了');
				  $('.see_more').hide();
			  }
		});

		$('.see_more2').click(function(){
			var _this=$(this);

			var keywords="  ";


			 var content="";
			 var totals=Math.ceil((92-6)/6);

			 if(i<=totals){
                $.post('ajax.php?act=search',{'i':i,'keywords':keywords},function(data){
                    var cont=eval("("+data+")");

                    var n=cont["content"].length;
                    for(var a=0;a<n;a++){
                        content += cont["content"][a];
                    }
                    $(".news-list-in").append(content);

                    });

                    i++;
              }else{
				  // $('.see_more').html('没有更多了');
				  $('.see_more2').hide();
			  }
		});
	</script>
	<script type="text/javascript">
		$(".search-submit").click(function(){
			var keywords=$(".search-input").val();
			if(keywords!=""){
				$(".search-warp").attr("action","news.html");
				$(".search-warp").submit();
				console.log($keywords);
			}

		});
	</script>
</body>
</html>
