<!-- 分页 -->
{pboot:if({page:rows}>0)}
 <nav aria-label="page navigation" class="my-4 page navigation">
     <div class="pagination justify-content-center">
     	<a class="page-item page-link" href="{page:index}">首页</a>
     	<a class="page-item page-link" href="{page:pre}">上页</a>
      	{page:numbar}<!-- 数字条，小屏幕时自动隐藏-->
      	<a class="page-item page-link" href="{page:next}">下页</a>
      	<a class="page-item page-link" href="{page:last}">尾页</a>
     </div>
   </nav>




{else}
{/pboot:if}