 {include file=head.html}
	<link rel="stylesheet" href="/css/picview.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link href="/css/pagestyle.css" type="text/css" rel="stylesheet" />
	<link href="/css/fullscreenstyle.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/idangerous.swiper.css" />
	<link href="/css/animate.css" rel="stylesheet" />
	<link href="/css/animation.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/case-dtl.css">
{include file=top.html}





	<div class="banner banner_det">
		<i class="banner-bg"><i class="banner-bg-in">
			<!-- <img src="images/banner-newland.jpg" alt=""> -->
            <picture>
                <source srcset="" media="(max-width: 48em)">
                <img srcset="{content:ext_bigpic}" alt="">
            </picture>
		</i></i>
		<div class="down_icon on">
			<div class="down_txt">Scroll down</div>
			<div><img src="images/down_icon.png"/></span></div>
		</div>
		<div class="det_banner">
			<div class="container">
								<a class="btn-I " href="http://{content:ext_url}" target="_blank">
					<img src="images/btn-link.png" class="tshadow2" alt="">
				</a>
								<div class="det_txt1 tshadow3">{content:subtitle}</div>
				<div class="det_txt2 tshadow2">{content:title}</div>
			</div>
		</div>
	</div>
	<div class="site-ctrl">
		<a class="ctrl-one ctrl-one-l" href="javascript:;">
			<div class="ctrl-one-img"><img src="images/ctrl-one-img-l.png" alt=""></div>
			<div class="ctrl-one-desc"><span>上一个案例</span></div>
		</a>
		  
		<a class="ctrl-one ctrl-one-l" href="{content:prelink}">
			<div class="ctrl-one-img"><img src="images/ctrl-one-img-l.png" alt=""></div>
			<div class="ctrl-one-desc"><span>上一个案例</span></div>
		</a>
        		<a class="ctrl-one ctrl-one-back" href="javascript:;" onclick="window.history.go(-1);">
			<div class="ctrl-one-img"><img src="images/ctrl-one-img-back.png" alt=""></div>
			<div class="ctrl-one-desc"><span>回到案例</span></div>
		</a>
        		<a class="ctrl-one ctrl-one-r" href="{content:nextlink}">
			<div class="ctrl-one-img"><img src="images/ctrl-one-img-r.png" alt=""></div>
			<div class="ctrl-one-desc"><span>下一个案例</span></div>
		</a>
        	</div>
	<article>

				<section>
			<div class="det_describe clearfix">
				<div class="container">
					<div class="describe_left describe_con">
						<div class="describe_tit pull-left">【项目流程】</div>
						<!-- <div class="describe_txt pull-left"></div> -->
						<div class="describe_txt pull-left">竞品分析  >   网站策划  >  页面设计  >  前端编写  >  后台建设</div>

					</div>
				</div>
			</div>
		</section>
		<section class="picview-all">
			<div class="container">
				<div class="picview-top letmove">
					<h2>
						<p>PROJECT</p>
						<p>DESCRIPTION</p>
					</h2>
					<h4>项目描述</h4>
					<div class="desc">{content:content drophtml=0}</div>
				
				</div>
				<div class="pc_show">
					<div class="show_con letmove">
						<div class="flexslider on"> 
							<i></i>
							<ul class="slides"> 
								<li class="ProductPhoto"><img class="ProductPhotoImg" src="{pboot:if('{content:ext_index}'!=='')}{content:ext_index}{else}{content:ext_bigpic}{/pboot:if}"/></li> 
							</ul> 
						</div>
					</div>
					<div class="pc_bck"></div>
				</div>
			</div>
		</section>
	
		<section class="imgs-show-all">
			<!--	img的org属性是为了激活图片插件  <div class="imgs-show-pc">
		
				<div class="container">
						
					<div class="imgs-show-one"><div class="imgs-show-one-in">
						<img class="lazy" src="{content:ext_bigpic}" data-original="{content:ext_bigpic}" org="{content:ext_bigpic}" alt="" style="display: inline;">
					</div></div>
										</div>
			</div>
			
			-->
		
			<div class="prevnext-m fly"><div class="container">
				<a class="prev-m" href="javascript:;" data-href="{content:prelink}">
					<i><img src="images/ctrl-one-img-l.png" alt=""></i>
					<div class="prev-m-desc">
						<span>上一个案例</span>
					</div>
				</a>
				<a class="next-m" href="javascript:;" data-href="{content:nextlink}">
					<div class="next-m-desc">
						<span>下一个案例</span>
					</div>
					<i><img src="images/ctrl-one-img-r.png" alt=""></i>
				</a>
			</div></div>
			<div class="imgs-show-m"><div class="imgs-show-m-in">
				{pboot:if('{content:ext_ipad}'!=='')}<div class="imgs-show-pad">
					<div class="imgs-show-pad-img">
						<img style="position: relative;z-index: 11" src="images/imgs-show-pad-bg.png" alt="" class="imgs-show-pad-bg">
						<div style="z-index: -1" class="is-pad-view letmove">
							<img src="{content:ext_ipad}" alt="">
						</div>
					</div>
					<div class="imgs-show-title">
						<h3>IPAD SHOW</h3>
						<p class="desc">平板展示</p>
					</div>
				</div>{/pboot:if}{pboot:if('{content:ext_iphone}'!=='')}
				<div class="imgs-show-pad imgs-show-phone">
					<div class="imgs-show-pad-img">
						<img src="images/imgs-show-phone-bg.png" alt="" class="imgs-show-pad-bg">
						<div class="is-pad-view letmove phoneimg">
							<img src="{content:ext_iphone}" alt="">
						</div>
					</div>
					<div class="imgs-show-title">
						<h3>MOBILE SHOW</h3>
						<p class="desc">手机端展示</p>
					</div>
				</div>{/pboot:if}
			</div></div>
		</section>

		{pboot:if('{content:ext_url}'!=='')}
				<section class="det_more_mask-all">
			<div class="det_more_mask"></div>
			<a href="{content:ext_url} " target="blank">
				<div class="det_more det_more_display">
					<div class="det_more_text">
						<p>继续了解</p>
						<p>{content:ext_url}</p>	
					</div>

					<!-- <div class="det_more_bg" style="background:url(images/product/1520232716828152204.jpg)no-repeat;background-position:center;"></div> -->
					<div class="det_more_bg" style="background:url('images/case-common.jpg')no-repeat;background-position:center;"></div>

				</div>
			</a>
		</section>{/pboot:if}
				{include file=message.html} 

		<div class="bg-shadow"></div>
	</article>
	

{include file=foot.html} 

<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.lazyload.min.js"></script>
	<script src="/js/idangerous.swiper.min.js"></script>
	<script src="/js/jquery.flexslider.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/jquery.easing.min.js"></script>
    <script src="/js/wow.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/jquery.slimscroll.js"></script>
	<script src="/js/pace.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/jquery.fullscreenslides.js"></script>
	<script src="/js/load.js"></script>

	<script src="/js/jquery.mousewheel.min.js"></script>
	<script src="/js/picview.js"></script>
	<!-- <script src="js/case-dtl.js"></script> -->
	<script type="text/javascript">
		// 出场动画
		$(document).on('ready scroll', function(event) {
			divMove('.picview-top');
			divMove('.show_con');
			divMove('.is-pad-view');
			divMove('.case2-ipad');

		    var winW = $(window).width(),
			    winH = $(window).height(),//可视窗口高度
			    scrollT = $(window).scrollTop(),//鼠标滚动的距离
			    pu = $(window).width()/1920;

			if(winW<640){
				var $prevNextCntr = $('.prevnext-m');
				var prevNextCntrT = $('.prevnext-m').offset().top;

			    if (scrollT + winH/2 - 29 > prevNextCntrT) {
			    	$prevNextCntr.removeClass('fly')
			    } else {
			    	$prevNextCntr.addClass('fly')
			    }
			}
		});



		$(function() {
			var winW = $(window).width(),
				winH = $(window).height();

			if (winW > 768) {
				// $('.banner').height(winH);
			}

			// ipad图片滚动效果
			var t, imgHeight, topTarget;
			var boxHeight = $('.ipad-ef').height();
			var imgHeight = $('.ipad-ef img').attr('height');
			var boxWidth = $('.ipad-ef').width();
			var imgWidth = $('.ipad-ef img').width();
			var flag = 1; //避免重复执行
			
			$('.ipad-ef').mouseenter(function() {
				if (imgHeight < boxHeight) {
					return false;
				}
				topTarget = imgHeight - $('.ipad-ef').height() - 2;

				if (flag == 1) {
					t = setInterval(function() {
						autoMove();
					}, 30);
					flag = 0;
				}
			});
			$('.ipad-ef').mouseleave(function() {
				flag = 1;
				clearTimeout(t);
			});

			function autoMove() {
				var _top = parseInt($('.ipad-ef img').css('top')) - 2;
				if (parseInt($('.ipad-ef img').css('top')) + topTarget > 0) {
					$('.ipad-ef img').css('top', _top + 'px');
				} else {
					flag = 1;
					clearTimeout(t);
				}
			}

			$('.prev-m, .next-m').click(function(event) {
				_this = $(this);
				_thisHref = _this.data('href');

				if (!_this.hasClass('fly-high') && !!$('.prevnext-m').hasClass('fly')) {
			    	_this.addClass('fly-high');
				} else {
					window.location.href = _thisHref;
				}

				event.stopPropagation();
			});

			$('body').click(function(event) {
				$('.prev-m, .next-m').removeClass('fly-high');
			});
			
			$('.banner-ani-all > i').each(function() {
				$(this).css('background', 'rgb(' + Math.round(Math.random() * 255) + ', ' + Math.round(Math.random() * 255) + ', ' + Math.round(Math.random() * 255) + ')');
			});

			// 点击滑动
			$('.down_icon').click(function(){
				var picViewT = $('.picview-all').offset().top;

				$('body').animate({scrollTop: picViewT}, 1000, "easeInOutCubic");
			});

			$('.down_icon').click(function(event) {
				setTimeout(function() {
					$('.down_icon').removeClass('on')
				} ,1000);
			});





			$(window).scroll(function(event) {
				if ($(window).scrollTop() < 30) {
					$('.down_icon').addClass('on')
				}

				// .site-ctrl
				if ($(window).scrollTop() > 50) {
					$('.site-ctrl').addClass('on')
				} else {
					$('.site-ctrl').removeClass('on')
				}
			});
		});

		bannerResize();

		function bannerResize() {

			var	imgW = $('.banner-bg img').width(),
				imgH = $('.banner-bg img').height();

			// $(function() {
			// 	$('.banner').height(winH);
			// });

			$(window).on('load resize', function() {
				var winW = $(window).width(),
					is_elb = false,
					winH = (is_elb == true) ? 620 : $(window).height();
					


				if (winW > 768) {

					$('.banner').height(winH);
					$('.banner-bg').height(winH);
					$('.banner-bg-in').css({
						'height': winH
					})
					
					// $('.banner-bg-in').css({
					// 	'width': 'auto',
					// 	'height': 'auto'
					// });

					if (winW/winH < imgW/imgH) {
						$('.banner-bg-in').width(imgW * winH/imgH);
						$('.banner-bg-in').height(winH);
					}else {
						$('.banner-bg-in').width(winW);
						$('.banner-bg-in').height(imgH * winW/imgW);						
					}
				} else {
					// if (winW/(.55*winH) < imgW/imgH) {
					// 	if (winW < 769) {
					// 		$('.banner-bg-in').width(.55* imgW * winH/imgH);
					// 		$('.banner-bg-in').height(.55 * winH);
					// 	}
					// } else {
					// 	if (winW < 769) {
					// 		$('.banner-bg-in').width(winW);
					// 		$('.banner-bg-in').height(imgH * winW/imgW);
					// 	}
					// }
				}

				$('.banner-bg').css('opacity', '1');
			});
		}
	</script>
	<script>
		$(function(){
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: true,
				spaceBetween: 30,
				centeredSlides: true,
				autoplay: 2500,
				autoplayDisableOnInteraction: false,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
			});
		  
			
			// picview调用，查看图片，提前调用	  
			var b = $('.imgs-show-pc');

			b.find('.imgs-show-one').click(function () {
				_picView.picview.show(b, $(this), function (v, l, i) {
				});
			});

		});
		$(document).ready(function () {
			if ($('html').hasClass('desktop')) {
				new WOW().init();
			}
		
		});

	  $(function() { 
		$('.flexslider').flexslider({
			animation: "slide",
			controlNav: false,
			prevText:"",
			nextText:"",
			slideshow: false
		  }); 
	 }); 

	</script>

</body></html>
