{include file=head.html}
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/animate.css"/>
<link rel="stylesheet" href="/css/animation.css"/>
<link rel="stylesheet" href="/css/main.built.css"/>
<link rel="stylesheet" href="/css/pace-theme-barber-shop.css"/>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/case.css">
<link rel="stylesheet" href="/css/index.css"/>
{include file=top.html}

	<!-- ========================= 内容开始 ======================== -->
	<div class="banner">
		<!-- <img src="images/banner.jpg" class="img-responsive"/> -->
        <picture>
            <source srcset="images/banner-case-m.jpg" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>

	<article>
		
		<div class="product">
			<div class="menu container">
				<ul> <li ><div>{pboot:selectall field=ext_type text=全部  class='' active='cur'}</div><i></i></li>
                   {pboot:select field=ext_type}<li {pboot:if('[select:value]'=='[select:current]')}class="cur"{/pboot:if}>
                      <div> <a href= "[select:link]">[select:value]</a></div><i></i>  </li>
                   {/pboot:select}
									
									
								
									</ul>
				<div class="clearfix"></div>
			</div>
			<!-- <div class="line"></div> -->
			<div class="case_list container">
				<ul class="row">
						
						
						
					   {pboot:list num=12 order=sorting}
						
						
						<li class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<a href="[list:link]"><div class="case_img hover-shadow"><span class="badge btn-danger" style="position:absolute;right:20px;top:20px;">[list:date style=Y]/[list:date style=m]</span>
								<img src="[list:ico]" data-original="[list:ico]" class="img-responsive lazy"/>
								<div class="case_cover"></div>
							</div></a>
							<div class="case_txt">
								<div class="case-left case_name">[list:title]</div>
								<div class="case-right category">[list:ext_type] </div>
								<div class="clearfix"></div>
							</div>
						</li> {/pboot:list}
									</ul>
			</div>	{include file=page.html}
		</div>
		<div class="line"></div>
	{include file=message.html}		

</article>
	<!-- ========================= 内容结束 ======================== -->
	 

{include file=foot.html} 
<script src="/js/jquery.min.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/jquery.lazyload.min.js"></script> 
<script src="/js/jquery.scrollUp.min.js"></script> 
<script src="/js/wow.js"></script> 
<script src="/js/main.js"></script> 
<script src="/js/pace.js"></script> 
<script src="/js/index.js"></script> 
<script src="/js/head.built.js"></script> 
<script src="/js/main.built.js"></script> 
<script src="/js/count.js"></script> 

<script src="/js/load.js"></script> 

	
<script>
	$(document).ready(function () {if ($('html').hasClass('desktop')) {new WOW().init(); } }); 
</script> 
<script>
	$(function(){
		var ww = $(window).width();
		if (ww>1240) {
			$(".bussiness-body .item").mouseover(function(){
		 		$(this).addClass("on").siblings().removeClass("on");
		 	});
		}
		else{
			$(".bussiness-body .item").addClass("on");
		}
		});

</script> 
<script>
	window.onload = function() {
        var container = document.getElementById('container');
        var list = document.getElementById('list');
        var buttons = document.getElementById('buttons').getElementsByTagName('span');
        var index = 1;
        var timer;
        var ww = $(window).width();

        if (ww > 480) {
        	function animate(offset) {
	            //获取的是style.left，是相对左边获取距离，所以第一张图后style.left都为负值，
	            //且style.left获取的是字符串，需要用parseInt()取整转化为数字。
	            var newLeft = parseInt(list.style.left) + offset;
	        	list.style.left = newLeft + 'px';
	         	//无限滚动判断
	            if(newLeft < -2000){
					list.style.left = -400 + 'px';
				}
				else if(newLeft > 0){
					list.style.left = -2000 + 'px';
				}
	        }

	        function stop() {
	            clearInterval(timer);
	        }

	        function buttonsShow() {
	             //将之前的小圆点的样式清除
	            for (var i = 0; i < buttons.length; i++) {
	                 if (buttons[i].className == "active") {
	                     buttons[i].className = "";
	                }
	            }
	            //数组从0开始，故index需要-1
	            buttons[index - 1].className = "active";
	        }

	        for (var i = 0; i < buttons.length; i++) {
	            (function(i) {
	                buttons[i].onclick = function() {
	                    /*   这里获得鼠标移动到小圆点的位置，用this把index绑定到对象buttons[i]上，去谷歌this的用法  */
	                    /*   由于这里的index是自定义属性，需要用到getAttribute()这个DOM2级方法，去获取自定义index的属性*/
	                    var clickIndex = parseInt(this.getAttribute('index'));
	                    var offset = 400 * (index - clickIndex); //这个index是当前图片停留时的index
	                    animate(offset);
	                    index = clickIndex; //存放鼠标点击后的位置，用于小圆点的正常显示
	                    buttonsShow();
	                }
	            })(i)
	        }
        }
        else{
        	function animate(offset) {
	            //获取的是style.left，是相对左边获取距离，所以第一张图后style.left都为负值，
	            //且style.left获取的是字符串，需要用parseInt()取整转化为数字。
	            var newLeft = parseInt(list.style.left) + offset;
	        	list.style.left = newLeft + 'px';
	         	//无限滚动判断
	            if(newLeft < -1500){
					list.style.left = -300 + 'px';
				}
				else if(newLeft > 0){
					list.style.left = -1500 + 'px';
				}
	        }

	        function stop() {
	            clearInterval(timer);
	        }

	        function buttonsShow() {
	             //将之前的小圆点的样式清除
	            for (var i = 0; i < buttons.length; i++) {
	                 if (buttons[i].className == "active") {
	                     buttons[i].className = "";
	                }
	            }
	            //数组从0开始，故index需要-1
	            buttons[index - 1].className = "active";
	        }

	        for (var i = 0; i < buttons.length; i++) {
	            (function(i) {
	                buttons[i].onclick = function() {
	                    /*   这里获得鼠标移动到小圆点的位置，用this把index绑定到对象buttons[i]上，去谷歌this的用法  */
	                    /*   由于这里的index是自定义属性，需要用到getAttribute()这个DOM2级方法，去获取自定义index的属性*/
	                    var clickIndex = parseInt(this.getAttribute('index'));
	                    var offset = 300 * (index - clickIndex); //这个index是当前图片停留时的index
	                    animate(offset);
	                    index = clickIndex; //存放鼠标点击后的位置，用于小圆点的正常显示
	                    buttonsShow();
	                }
	            })(i)
	        }
        }

       }
</script>
</body>
</html>