{include file=head.html}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="/css/biz.css"/>{include file=top.html}
	<div class="banner">
		<!-- <img src="images/banner-biz.jpg" class="img-responsive"/> -->
        <picture>
            <source srcset="{sort:ico}" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>

	<div class="fix-nav-btm">
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-1.png" alt=""></div>
			<div class="fnb-one-desc">QQ联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-2.png" alt=""></div>
			<div class="fnb-one-desc">微信联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-3.png" alt=""></div>
			<div class="fnb-one-desc">手机联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
	</div>
	<!-- ========================= 内容开始 ======================== -->
	<article>
		<div class="product">
			<div class="menu container">
				<ul>
					<li><a class="smoothscroll" href="#biz-1">
						<div>客户管理系统</div>
						<i></i>
					</a></li>
					<li><a class="smoothscroll" href="#biz-2">
						<div>在线通讯录系统</div>
						<i></i>
					</a></li>
					<li><a class="smoothscroll" href="#biz-3">
						<div>车队业务管理系统</div>
						<i></i>
					</a></li>
					<li><a class="smoothscroll" href="#biz-4">
						<div>业务设备管理系统</div>
						<i></i>
					</a></li>
					<li><a class="smoothscroll" href="#biz-5">
						<div>案例展示</div>
						<i></i>
					</a></li>
					
				</ul>
				<div class="clearfix"></div>
			</div>
			
			<div class="biz-show-all">
				<div class="biz-show-one biz-show-one-1 letmove" id="biz-1">
					<!-- <div class="bs-one-mark bs-one-mark-1">
						<img src="images/bs-one-mark-l.png" alt="">
					</div> -->
					<div class="bs-one-img-cntr bs-one-img-cntr-1">
						<!-- <img src="images/bs-one-img-cntr-pc-1.jpg" alt=""> -->
				        <!-- <picture>
				            <source srcset="images/bs-one-img-cntr-pc-1-1500.jpg" media="(max-width: 1500px)">
				            <img srcset="images/bs-one-img-cntr-pc-1.jpg" alt="">
				        </picture> -->
			            <img class="w1920" srcset="images/bs-one-img-cntr-pc-1.jpg" alt="">
			            <img class="w1500" srcset="images/bs-one-img-cntr-pc-1-1500.jpg" alt="">
					</div>
					<div class="bs-one-img-cntr-m">
						<img src="images/bs-one-img-cntr-m-1.jpg" alt="">
					</div>
					<div class="bs-one-desc">
						<h3>
							<p class="words">CRM</p>
							<p class="words">客户资源管理系统</p>
							<p class="words">电脑端管理控制，手机端移动查阅管理</p>
						</h3>
						<article class="desc">
							<p class="words">根据企业需求进行智能化的产品定制</p>
							<p class="words">与手机管理，微信授权相结合</p>
						</article>
						<a href="javascript:;" class="bs-link btn-circle">您需要的不仅仅是数字化的客户资料，而是更智能的客户管理方式！<i class="btn-circle-hover"></i><i class="btn-circle-click"></i></a>
					</div>
				</div>
				<div class="biz-show-one biz-show-one-2 letmove" id="biz-2">
					<!-- <div class="bs-one-mark bs-one-mark-2">
						<img src="images/bs-one-mark-l.png" alt="">
					</div> -->
					<div class="bs-one-img-cntr bs-one-img-cntr-2">
						<!-- <div class="bs-one-img-2">
							<div class="bs-one-img-2-1"><img src="images/bs-one-img-2-1.jpg" alt=""></div>
							<div class="bs-one-img-2-2"><img src="images/bs-one-img-2-2.jpg" alt=""></div>
							<div class="bs-one-img-2-3"><img src="images/bs-one-img-2-3.jpg" alt=""></div>
						</div> -->
			            <img srcset="images/bs-one-img-cntr-pc-2.jpg" alt="">
					</div>
					<div class="bs-one-img-cntr-m">
						<img src="images/bs-one-img-cntr-m-2.jpg" alt="">
					</div>
					<div class="bs-one-desc">

						<h3>
							<p class="words">办公系统开发</p>
						</h3>
						<article class="desc">
							<p class="words">企事业单位，协会，个人<br>
各类内网外网办公系统<br>
物流业务<br>
资产管理<br>
信息管理<br>
财务管理<br>
销售管理<br>
仓储管理<br>
营销管理<br>
统计管理<br>
数据管理<br>

员工管理<br>
...</p>
						</article>
						<a href="javascript:;" class="bs-link btn-circle">看看我们如何和您一起缔造您的知名品牌<i class="btn-circle-hover"></i><i class="btn-circle-click"></i></a>
					</div>
				</div>
				<div class="biz-show-one biz-show-one-3 letmove" id="biz-3">
					<!-- <div class="bs-one-mark bs-one-mark-3">
						<img src="images/bs-one-mark-l.png" alt="">
					</div> -->
					<div class="bs-one-img-cntr bs-one-img-cntr-3">
						<!-- <div class="bs-one-img-3">
							<div class="bs-one-img-3-1"><img src="images/bs-one-img-3-1.jpg" alt=""></div>
							<div class="bs-one-img-3-2"><img src="images/bs-one-img-3-2.jpg" alt=""></div>
						</div> -->
			            <img srcset="images/bs-one-img-cntr-pc-3.jpg" alt="">
					</div>
					<div class="bs-one-img-cntr-m">
						<img src="images/bs-one-img-cntr-m-3.jpg" alt="">
					</div>
					<div class="bs-one-desc">
						<h3>
							<p class="words">更多软件解决方案</p>
						</h3>
						<article class="desc">
							<p class="words">根据客户要求进行深度定制</p>
						</article>
						<a href="javascript:;" class="bs-link btn-circle">敬请咨询<i class="btn-circle-hover"></i><i class="btn-circle-click"></i></a>
					</div>
				</div>
			</div>

			
			
			

		</div>
		
		
		
		
		
		
		



		


{include file=message.html}


</article>
	<!-- ========================= 内容结束 ======================== -->
	

	

	
	

	



{include file=foot.html} 
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.lazyload.min.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/wow.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/pace.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/biz.js"></script>
	<script>
		paceOptions = {
			elements: true
		};
		
		function load(time){
			var x = new XMLHttpRequest()
			x.open('GET', "" + time, true);
			// x.send();
	    };
	    
	    setTimeout(function(){
	    	Pace.ignore(function(){
	    		load(3100);
	    	});
	    }, 4000);

	    Pace.on('hide', function(){
	    	
	    });

		$(function () {
			// 激活点击按钮，提交表单
			$('.send').click(function(e) {
				$(this).parent('form').submit();
			});

			if ($('html').hasClass('desktop')) {
				new WOW().init();
			}
		
	        $(".case_list ul li a img").lazyload({ 
				placeholder : "../images/loading.gif",
	            effect: "fadeIn"
	        });  
		});	

		jQuery(document).ready(function($) {
		    $('.smoothscroll').on('click',function (e) {
		        e.preventDefault();
		        var target = this.hash,
		        $target = $(target);
		        $('html, body').stop().animate({
		            'scrollTop': $target.offset().top
		        },600,'swing',function () {
		            window.location.hash = target;
		        });
		    });
		})

	</script>
