
<!-- 技术支持：天一伟业 http://www.eskystudio.com -->
</head>
<body>
<!-- ========================= 头部开始 ======================== --><!-- 手机菜单 -->
<div class="neirong neirong-hide">
	<div class="neirong-bd">{pboot:nav num=15 parent=0}<a href="[nav:link]">[nav:name]<i></i></a>{/pboot:nav}
	</div>
	<!-- <div class="neirong-close">
</div>
 -->
</div>
<!-- 手机菜单结束 -->
<div class="content nav-here">
<div class="gf-logo">
	<h2><a href="/{pboot:sitepath}" title="{pboot:sitetitle}" alt="{pboot:sitetitle}"></a></h2>
</div>
<header class="gf-header gf-header-side"><nav class="gf-pnav black">{pboot:nav num=15 parent=0}<a href="[nav:link]">[nav:name]<i></i></a>{/pboot:nav}</nav><section class="buttonset buttonset-black">
<div class="nav-moblie">
	<a href="javascript:;"></a>
</div>
</section></header><!-- 头部结束 -->
</div>
<div class="fix-nav-btm">

<!--<div class="fnb-one" id="J-call-qq">-->
<!--	<a style="color: #828282;display: inline-block;" href="http://wpa.qq.com/msgrd?v=3&uin={pboot:comapnyqq}&site=qq&menu=yes" target="_blank">-->
<!--		<div class="fnb-one-img">-->
<!--			<img src="images/fnb-one-img-1.png" alt="">-->
<!--		</div>-->
<!--		<div class="fnb-one-desc">-->
<!--			QQ联系<img src="images/fnb-one-img-arrow.png" alt="">-->
<!--		</div>-->
<!--	</a>-->
<!--</div>-->

<!--<div class="fnb-one" id="weixin">-->
<!--	<div class="fnb-one-img">-->
<!--		<img src="images/fnb-one-img-2.png" alt="">-->
<!--	</div>-->
<!--	<div class="fnb-one-desc">-->
<!--		微信联系<img src="images/fnb-one-img-arrow.png" alt="">-->
<!--	</div>-->
<!--	<div class="weixin-img"><img src="{pboot:companyweixin}"/></div>-->
<!--</div>-->

<!--<div class="fnb-one">-->
<!--	<a style="color: #828282" href="tel:{pboot:companymobile}">-->
<!--		<div class="fnb-one-img">-->
<!--			<img src="images/fnb-one-img-3.png" alt="">-->
<!--		</div>-->
<!--		<div class="fnb-one-desc">-->
<!--			手机联系<img src="images/fnb-one-img-arrow.png" alt="">-->
<!--		</div>-->
<!--	</a>-->
<!--</div>-->
</div>
<!-- fixed头部 -->
<div class="navbar-fixed">
<div class="container">
	<div class="logo pull-left">
		<a href="/{pboot:sitepath}"><img style="width: 30px; height: 30px" src="/images/logo2.png"/></a>
	</div>
	<div class="right_menu pull-right hidden-xs">{pboot:nav num=10 parent=0}<a href="[nav:link]">[nav:name]<i></i></a>{/pboot:nav}
	</div>
</div>
</div>
<!-- 右侧导航 -->
<aside class="aside-nav" style="opacity: 1">
<!--<div class="aside-nav-in">-->
<!--<div class="aside-nav-one more-width more-width-call">-->
<!--<a href="javascript:;">-->
<!--<div class="aside-nav-one-img">-->
<!--	<img src="images/icon_phone.png" alt="">-->
<!--</div>-->
<!--<div class="aside-nav-one-desc">-->
<!--	{pboot:companymobile}-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="aside-nav-one more-width more-width-qq">-->
<!--<div class="aside-nav-one-img">-->
<!--	<img src="images/icon_qq.png" alt="">-->
<!--</div>-->
<!--<div class="aside-nav-one-desc">-->
<!--	<div class="qq-name-box">-->

<!--		<div class="qq-name">-->
<!--			<a href="tencent://message/?uin={pboot:companyqq}"><i ></i><span>客服</span></a>-->
<!--		</div>-->

<!--	</div>-->
<!--</div>-->
<!--</div>-->
<div class="aside-nav-one more-width back-top">
<a href="javascript:;">
<div class="aside-nav-one-img">
	<img src="images/icon_top.png" alt="">
</div>
<div class="aside-nav-one-desc">
	返回顶部
</div>
</a>
</div>
</div>
</aside><!-- 右侧导航end -->

<script type="text/javascript">
	// 手机端打开第三方应用
(function(){
    var ua = navigator.userAgent.toLowerCase();
    var t;
    var config = {
        /*scheme:必须*/
        scheme_IOS: 'mqqwpa://im/chat?chat_type=wpa&uin={pboot:companyqq}&version=1&src_type=web',
        scheme_Adr: 'mqq://im/chat?chat_type=wpa&uin={pboot:companyqq}&version=1&src_type=web',
        download_url: 'https://www.baidu.com/',
        timeout: 600
    };

    function openclient() {
        var startTime = Date.now();

        var ifr = document.createElement('iframe');

        ifr.src = ua.indexOf('os') > 0 ? config.scheme_IOS : config.scheme_Adr;
        ifr.style.display = 'none';
        document.body.appendChild(ifr);

        var t = setTimeout(function() {
            var endTime = Date.now();

            if (!startTime || endTime - startTime < config.timeout + 200) {
                window.location = config.download_url;
            } else {

            }
        }, config.timeout);

        window.onblur = function() {
            clearTimeout(t);
        }
    }
    window.addEventListener("DOMContentLoaded", function(){
        document.getElementById("J-call-qq").addEventListener('click',openclient,false);

    }, false);
})()
</script>

 <!-- 头部结束 -->
