{include file=head.html}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/news.css">

{include file=top.html}
<style>
    @media (max-width: 544px) {
        .banner {
            height: 100vh;
            height: calc(50vh - 126px);
            margin-top: 63px;
        }
    }
</style>
	<!-- ========================= 内容开始 ======================== -->
	<div class="banner">
		<!-- <img src="images/banner.jpg" class="img-responsive"/> -->
        <picture>
<!--            <source srcset="images/banner-case-m.jpg" media="(max-width: 48em)">-->
            <source srcset="{sort:pic}" media="(max-width: 48em)">
            <img class="img-responsive" srcset="{sort:pic}" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
				<div class="banner_txt2">{sort:description}</div>
			</div>
		</div>
	</div>

<article>
    <div class="menu menu-news-dtl container">
        <ul>
            {pboot:nav parent=2}
            <li {pboot:if('[nav:scode]'=='{sort:scode}')}class="cur"{/pboot:if}>
            <div><a href="[nav:link]">[nav:name]</a></div>
            <i></i>
            </li>{/pboot:nav}
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="line"></div>

    <div class="news-all news-all-dtl">
        <div class="container clearfix">
            <div class="news-con fl">
                <h2 class="news-title">分享是一种快乐，写出您和您身边的故事~</h2>
                <div class="news-edit">
                    <div class="news-list" id="msgList" style="overflow-y: scroll;">
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.lazyload.min.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
  var i=1;
  $('.see_more').click(function(){
    var _this=$(this);
    // $(this).html("查看更多&nbsp;&nbsp;&nbsp;&nbsp;<img src=\"images/loading.gif \"/>");
    // setTimeout(function(){_this.html("查看更多");},1000);

    var id=$(this).attr("data-id");
    var content="";
    var totals=Math.ceil((92-6)/6);

    if(i<=totals){
      $.post('ajax.php?act=news',{'i':i,'id':id},function(data){
        var cont=eval("("+data+")");

        var n=cont["content"].length;
        for(var a=0;a<n;a++){
          content += cont["content"][a];
        }
        $(".news-list-in").append(content);

      });

      i++;
    }else{
      // $('.see_more').html('没有更多了');
      $('.see_more').hide();
    }
  });

  $('.see_more2').click(function(){
    var _this=$(this);

    var keywords="  ";


    var content="";
    var totals=Math.ceil((92-6)/6);

    if(i<=totals){
      $.post('ajax.php?act=search',{'i':i,'keywords':keywords},function(data){
        var cont=eval("("+data+")");

        var n=cont["content"].length;
        for(var a=0;a<n;a++){
          content += cont["content"][a];
        }
        $(".news-list-in").append(content);

      });

      i++;
    }else{
      // $('.see_more').html('没有更多了');
      $('.see_more2').hide();
    }
  });
</script>
<script type="text/javascript">
  $(".search-submit").click(function(){
    var keywords=$(".search-input").val();
    if(keywords!=""){
      $(".search-warp").attr("action","news.html");
      $(".search-warp").submit();
      console.log($keywords);
    }

  });
</script>


<!--    <article>-->
<!--        <div class="menu container">-->
<!--            <div class="clearfix" style="font-size: 18px;">分享是一种快乐，写出您和您身边的故事~</div>-->
<!--        </div>-->
<!--        <div class="line"></div>-->
<!--        <div class="news-all">-->
<!--            <div class="news-list">-->
<!--                <div class="container news-list-in">-->

<!--                    <div class="news-one" id="user_message" style="overflow-y: scroll;">-->

<!--                    </div>-->
<!--                    <div class="line"></div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </article>-->

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      $(function() {
        getMsg();
      })

      function getMsg(){

        var url='Message/getMsg';
        $.ajax({
//          type: 'GET',
          url: url,
          dataType: 'json',
          data: {
            type: 'getMsg',
          },
          success: function (response, status) {
            if(response.code){
              if (response.data.length !== 0) {
                let res = response.data;
                let msgHtml = '';

                let h = 70;
                if (response.data.length <= 7) {
                  h = 100*(response.data.length);
                } else {
                  h = 700
                }
                document.getElementById("msgList").style.height= h+"px";

                res.forEach(function(item, index, res) {
                  let dateTime = new Date(item['create_time']);

                  let year = dateTime.getFullYear();
                  let month = dateTime.getMonth()+1;
                  let day = dateTime.getDate();

                  msgHtml+= '<div class="container news-list-in">';
                      msgHtml+= '<div class="news-one">';

                      if (item['image'] !== '') {
                        msgHtml+= '<div class="news-one-date" style="background-image: url('+item['image']+')">';
                        msgHtml+= '</div>';
                      } else {
                        msgHtml+= '<div class="news-one-date">';
                        msgHtml+= '<p class="day">'+ day +'</p>';
                        msgHtml+= '<p class="month">'+ month +'</p>';
                        msgHtml+= '<p class="year">'+ year +'</p>';
                        msgHtml+= '</div>';
                      }


                          msgHtml+= '<div class="news-one-desc">';
                              msgHtml+= '<div class="news-one-words">';
                                  msgHtml+= '<h3><a href="Message/getMsgById?id='+item['id']+'" target="_blank">'+ item['title'] +'</a></h3>';
                                  msgHtml+= '<p class="words">'+ item['content'] +'</p>';
                              msgHtml+= '</div>';
                              msgHtml+='<a href="Message/getMsgById?id='+item['id']+'" class="link" target="_blank"><span class="more">Read&amp;More</span><img src="images/news-arrow.png" alt=""></a>';
                          msgHtml+= '</div>';
                      msgHtml+= '</div>';
                  msgHtml+= '</div>';
                })

                $("#msgList").html(msgHtml)
              } else {
                $("#msgList").html('<div style="font-size: 24px; text-align:center;vertical-align:middle;top:50%;left:50%;">暂无用户留言</div>')
              }
            }

          },
//    error:function(xhr,status,error){
//      alert('返回数据异常！');
//    }
        });
        return false;
      }
    </script>
<!--</div>-->
<article style="margin-bottom: 10%;margin-top: 3%">
    <div class="demand_right col-xs-20 col-sm-30 col-md-30 col-lg-12" style="margin-top: 30px;">
        <div class="demand_warp">
            <div class="demand_reminder">刚好您有需求，正好我们足够专业...</div>
            <form action="Message/msgPost"  method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input type="text" name="contacts" id="contacts" class="form-control" placeholder="称呼姓名"/>
                    </div>
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input maxLength="11" type="text" name="mobile" id="mobile" class="form-control" placeholder="联系电话"/>
                    </div>
                </div>
                <div class="row">
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input maxLength="50" name="email" id="email" class="form-control" placeholder="邮箱地址" />
                    </div>
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input maxLength="500" name="title" id="title" class="form-control" placeholder="留言标题" />
                    </div>
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input  type="file" name="image" id="image" class="form-control" placeholder="上传图片" accept="image/gif,image/jpeg,image/x-png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="demand_ipt col-sm-6 col-md-6 col-lg-6">
                        <input  type="file" name="video" id="video" class="form-control" placeholder="上传视频" accept="mp4"/>
                    </div>
                </div>

                <div class="demand_ipt" style="padding-top: 10px;">
                    <textarea style="height: 120px;" maxLength="2000" name="content" id="content" class="form-control" placeholder="描述您的需求"></textarea>
                </div>
                <button style="margin-top: 20px; padding-bottom: 10px;" type="submit" class="btn btn-primary">提交项目需求</button>
                <div class="demand-m">
                    <p class="p-2" style="font-size: 16px;">*请认真填写需求信息，我们会在24小时内与您取得联系。</p>
                </div>
            </form>
        </div>
    </div>
</article>


	<!-- ========================= 内容结束 ======================== -->


{include file=foot.html}

</body>
</html>
