{include file=head.html}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/animate.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/case.css">
	<link rel="stylesheet" href="/css/pace-theme-barber-shop.css" />
	<link rel="stylesheet" href="/css/web-build.css"/>
	<link rel="stylesheet" href="/css/biz.css"/>
{include file=top.html}



<div class="banner">
        <picture>
            <source srcset="images/web-build-banner-m.jpg" media="(max-width: 48em)">
            <img class="img-responsive" srcset="images/case-ban.jpg" alt="">
        </picture>
		<div class="banner_txt">
			<div class="DIV">
				<div class="banner_txt1">{sort:subname}</div>
			</div>
		</div>
	</div>

	<div class="fix-nav-btm">
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-1.png" alt=""></div>
			<div class="fnb-one-desc">QQ联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-2.png" alt=""></div>
			<div class="fnb-one-desc">微信联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
		<div class="fnb-one">
			<div class="fnb-one-img"><img src="images/fnb-one-img-3.png" alt=""></div>
			<div class="fnb-one-desc">手机联系<img src="images/fnb-one-img-arrow.png" alt=""></div>
		</div>
	</div>
	<!-- ========================= 内容开始 ======================== -->
	<article>
		<div class="case">
			<div class="container">
				<div class="case-title wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".1s">
					<div class="tit1">我们持之以恒，筚路蓝缕，只为致力做好一件事</div>
					<div class="tit2">专业视觉设计、用户行为研究、交互效果、技术服务以及基于移动端以及传统平台的营销支持</div>
				</div>
				<div class="case-list">
					<ul class="clearfix p25">
						<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".1s">
							<a href="/?site-case&ext_type=响应式统一网站">
								<div class="icon"><img src="images/case-icon1.png"></div>
								<h5 class="case-tit1">响应式统一网站</h5>
								<div class="case-desc">移动互联网的时代,网站的流量移动占比已经高于了PC。因此，网站建设必须要考虑到移动端的响应式设计排版效果，让不同尺寸设备的客户访问效果达到最佳，天一伟业作为这一技术领域的领航者，目前已服务众多知名客户，积累了大量的响应式网站案例！</div>
								
								<span></span>
							</a>
						</li>
						<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".7s">
							<a href="/?site-case&ext_type=集团网站">
								<div class="icon"><img src="images/case-icon4.png"></div>
								<h5 class="case-tit1">集团网站建设</h5>
								<div class="case-desc">集团网建 我们更懂集团上市公司的需求!  专业深耕集团公司官网建设服务，我们深谙集团上市公司企业官网设计的要义，一直专注集团公司上市企业网站建设、拥有丰富的集团公司、上市企业及股份责任有限公司的企业形象官网设计开发经验!</div>							

								<span></span>
							</a>
						</li>
						<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
							<a href="/?site-case&ext_type=工程机械网站建设">
								<div class="icon"><img src="images/case-icon3.png"></div>
								<h5 class="case-tit1">工程机械网站建设</h5>
								<div class="case-desc">山东济宁是全国重点的工程机械生产制造特色工业城市，周边有很多的机械类大型企业和交流平台，天一伟业为本地很多大型工程机械类企业和机械协会、行业平台提供了优质的网络宣传服务。</div>
								<span></span>
							</a>
						</li>
						<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
							<a href="/?site-case&ext_type=H5网页设计制作">
								<div class="icon"><img src="images/case-icon2.png"></div>
								<h5 class="case-tit1">H5网页设计制作</h5>
								<div class="case-desc">在这个流量如黄金的时代，让你用更低成本获取流量我们准备多种形式的H5营销模式，让活动更具吸引力用户参与活动也能像玩游戏一样上瘾，强大的涨粉功能，利用社交力量裂变传播，流量成本减少50%以上</div>
								<span></span>
							</a>
						</li>
						<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".9s">
							<a href="/?site-case&ext_type=中国风网站建设">
								<div class="icon"><img src="images/case-icon5.png"></div>
								<h5 class="case-tit1">中国风网站建设</h5>
								<div class="case-desc">专注于创意设计和传播应用,探索并实现商业价值最大化，天一伟业注重专业探索，摒弃虚浮夸张，不断修正服务方向，完善创作品格以探求精品塑造与理念升华。凭借对设计的热爱执着，营销趋势的敏锐洞察和深刻理解，与众多客户在蓬勃发展的市场环境中互促共生！</div>
								<span></span>
							</a>
						</li>
						<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="1.1s">
							<a href="/?site-case&ext_type=营销型网站建设">
								<div class="icon"><img src="images/case-icon6.png"></div>
								<h5 class="case-tit1">营销型网站建设</h5>
								<div class="case-desc">深度理解客户品牌的差异化优势，只为让您的网站能成为行业的标杆，让客户主动找到你，因为，营销型网站自诞生就带有良好的SEO基因，让您花同等的成本却能免费让网站的排名靠前！</div>
								<span></span>
							</a>
						</li>
						<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="1.3s">
							<a href="/?site-case&ext_type=品牌网站建设">
								<div class="icon"><img src="images/case-icon7.png"></div>
								<h5 class="case-tit1">品牌网站建设</h5>
								<div class="case-desc">您是否还停留在仅仅为了有个网站而做网站的阶段？同样是网站，为什么同行的网站怎么看都比自己的高端？万物互联时代，您的企业需要的不仅仅只是一个网站，而是缔造一个网络品牌效应，实现品牌效益，增加产品的附加值，从而提高企业在消费者心目中的品牌认知度！</div>
								<span></span>
							</a>
						</li>
						<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="1.5s">
							<a href="/?site-case&ext_type=医疗行业网站建设">
								<div class="icon"><img src="images/case-icon8.png"></div>
								<h5 class="case-tit1">医疗行业网站建设</h5>
								<div class="case-desc">天一伟业为本地众多医疗单位提供了网络服务，从医院官方门户网站到微信公众平台，小程序，内部员工医疗资料网站和其它的软件服务。积累了丰富的医疗类网络运营经验，满足了内部医务工作者和社会人员对网络应用的不同需求。</div>
								<span></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="car-d-cont">
			<h2 class="car-d-tit wow fadeInUp4" data-wow-duration="1.2s" data-wow-delay=".1s">为您，我们可以做得更好</h2>
			<div class="car-d-list">
				<ul class="clearfix">
					<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.1s">
						<img src="images/card-img1.jpg" alt="">
						<div class="bg"></div>
						<div class="box">
							<div class="ico ico1"></div>
							<h3>项目策略</h3>
							<p>在过去10年间，天一伟业为客户输出了无数个精彩作品，其中包括从多企事业单位，知名高端品牌案例，为客户提供完善的网络平台解决方案是我们的不懒追求</p>
						</div>
					</li>
					<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.3s">
						<img src="images/card-img2.jpg " alt="">
						<div class="bg"></div>
						<div class="box">
							<div class="ico ico2"></div>
							<h3>视觉品质</h3>
							<p>天一伟业信守“设计创造价值”的理念宗旨，无论是网站，小程序还是软件设计，一定让用户在接触的第一眼就被深深吸引。</p>
						</div>
					</li>
					<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.5s">
						<img src="images/card-img3.jpg " alt="">
						<div class="bg"></div>
						<div class="box">
							<div class="ico ico3"></div>
							<h3>用户体验</h3>
							<p>从研究中发现体验价值，将其转化为符合使用场景和用户真正需求的交互模型。为品牌与用户之间提供最有效的沟通方式。</p>
						</div>
					</li>
					<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.7s">
						<img src="images/card-img4.jpg " alt="">
						<div class="bg"></div>
						<div class="box">
							<div class="ico ico4"></div>
							<h3>技术保障</h3>
							<p>团队成员年轻好学,那份初心永不变!用过硬技术和真诚服务赢得广大客户的信任与尊重.我们注重客户提出的每个要求，充分考虑每一个细节，积极的做好服务，努力开拓更好的视野。在所有新老客户面前我们都很乐意虚心、朴实的跟您接触，更深入的了解您的企业，以便为您提供一站式高品质服务！</p>
						</div>
					</li>
					<li class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="0.9s">
						<img src="images/card-img5.jpg " alt="">
						<div class="bg"></div>
						<div class="box">
							<div class="ico ico5"></div>
							<h3>团队实力</h3>
							<p>我们最自信的经验不来自于任何一个行业，它来自于所有行业。这有赖于我们引以为荣的团队学习能力，对于每个行业我们都着迷的想去了解它的运作机制，并贡献我们的经验参与塑造它的未来 。</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
<div class="demand_txt" id="biz-4">
				<div class="demand_txt1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">执行流程</div>
				<div class="demand_txt2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">从营销内容规划到视觉设计及后期制作、更新维护。我们拥有一套成熟的运作体系，让信赖我们的用户更放心</div>
			</div>
			<div class="bizstep-list letmove">
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>01.</h3>
						<div class="bstep-one-title-more">
							<h4>收集客户资料</h4>
							<h5>COLLECT INFORMATION</h5>
						</div>
					</div>
					<p class="words">设计之前，首先我们和客户对接，收集客户资料，设计师和策划人员针对项目展开讨论，勾画重点、核心内容。了解整体页面的主要想表达东西。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-1.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>02.</h3>
						<div class="bstep-one-title-more">
							<h4>竞品分析</h4>
							<h5>COMPETITIVE ANALYSIS</h5>
						</div>
					</div>
					<p class="words">找大量行业相关产品资料，分析、研究＋总结，站在营销的角度去提炼设所计产品的卖点和优势。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-2.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>03.</h3>
						<div class="bstep-one-title-more">
							<h4>文案策划</h4>
							<h5>COPYWRITING PLAN</h5>
						</div>
					</div>
					<p class="words">文案策划是设计之前的一个重要环节，为后期设计提供核心思路和文案表述，将设计框架整理成文件送给设计师，并交流沟通。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-3.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>04.</h3>
						<div class="bstep-one-title-more">
							<h4>产品拍摄</h4>
							<h5>PRODUCT PHOTOGRAPHY</h5>
						</div>
					</div>
					<p class="words">设计师与拍摄团队策划拍摄方案，并全程现场跟拍，严格按照拍摄方案执行，以达到最优视觉效果。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-4.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>05.</h3>
						<div class="bstep-one-title-more">
							<h4>页面设计</h4>
							<h5>PAGE DESIGN</h5>
						</div>
					</div>
					<p class="words">对产品和资料，以及图片、及策划方案有了深入了解之后，开始着手设计，不仅力求画面视角完美，更要结合营销的概念来做设计。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-5.png" alt=""></a>
				</div>
				<div class="bstep-one letmove">
					<div class="bstep-one-title">
						<h3>06.</h3>
						<div class="bstep-one-title-more">
							<h4>客户验收</h4>
							<h5>CUSTOMER ACCEPTANCE</h5>
						</div>
					</div>
					<p class="words">设计完成之后，递交设计总监审核，以最专业的眼观和视角把控画面，通过审稿，最后发送客户验收，让客户省心省力，天一奉献，必出精品。</p>
					<a class="blogo" href="javascript:;"><img src="images/bstep-6.png" alt=""></a>
				</div>
			</div>
{include file=brandcase.html}
{include file=message.html}


</article>
	<!-- ========================= 内容结束 ======================== -->
	

	

	
	

	



{include file=foot.html} 
<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.lazyload.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.js"></script>
	<script src="js/main.js"></script>
	<script src="js/pace.js"></script>
	<script src="js/index.js"></script>
	<script src="js/web-build.js"></script>	<script src="/js/biz.js"></script>

	<script>
		paceOptions = {
			elements: true
		};

		function load(time){
			var x = new XMLHttpRequest()
			x.open('GET', "" + time, true);
			// x.send();
	    };

	    setTimeout(function(){
	    	Pace.ignore(function(){
	    		load(3100);
	    	});
	    }, 4000);

	    Pace.on('hide', function(){

	    });

		$(function () {
			// 激活点击按钮，提交表单
			$('.send').click(function(e) {
				$(this).parent('form').submit();
			});

			if ($('html').hasClass('desktop')) {
				new WOW().init();
			}

	        $(".case_list ul li a img").lazyload({
				placeholder : "../images/loading.gif",
	            effect: "fadeIn"
	        });
		});
	</script>
</body>
</html>
